#{extends 'admin/admin.main.html'/}
#{set 'section'} Центр-управления #{/set}
#{set 'action'} Авторизация #{/set}

#{set 'content'}
    <section class="hero is-primary is-fullheight is-bold">
        <div class="hero-body">
            <div class="container">
                <div class="columns">
                    <div class="column is-one-third is-offset-one-third">
                        <form method="POST" class="box" action="@{Application.adminAuthenticate()}">
                            <!--{{ csrf_field() }}-->

                            <p class="control has-icon">
                                <input class="input ${errorMessage ? "is-danger" : ""}"
                                       value="" type="text" name="email"
                                       placeholder="Email" required autofocus>

                                <span class="icon is-small">
                                    <i class="fa fa-envelope"></i>
                                </span>

                                #{if errorMessage}
                                    <span class="help is-danger">${errorMessage}</span>
                                #{/if}
                            </p>

                            <p class="control has-icon">
                                <input class="input"
                                       type="password" name="password" placeholder="&{'auth.password'}" required>

                                <span class="icon is-small">
                                    <i class="fa fa-lock"></i>
                                </span>

                                *{#{if true}
                                    <span class="help is-danger">what is going on</span>
                                #{/if}}*
                            </p>

                            *{#{if ( ! app()->environment('local')}
                                <p class="control has-text-centered">
                                    {!! app('captcha')->display() !!}
                                </p>
                            #{/if}}*

                            <div class="control">

                                <button type="submit" class="button is-primary is-outlined">
                                    &{'auth.login'}
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
#{/set}
