.secondary-panel {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.secondary-panel_hoverable:hover {
	background-color: #EEEEEE;

}

.secondary-panel__panel-content {
	padding: 10px;
}