#{extends 'admin/admin.main.html'/}

#{set 'section'} Новости #{/set}
#{set 'action'} Список #{/set}

<!--#{set 'actions'}-->
    <!--<a href="@{Admin.newsCreate()}" class="button is-dark is-outlined">Добавить запись</a>-->
<!--#{/set}-->

#{set 'content'}
    #{include 'admin/news/partials/filter.html' /}

    #{if news.size() > 0}
        <table class="table is-striped is-narrow">
            <thead>
            <tr>
                <th width="50">ID</th>
                <th>ID</th>
                <th>Школа</th>
                <th>Логин</th>
                <th>Группа</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            #{list items: progressAccounts, as: 'progressAccount'}
                <tr>
                    <td>${progressAccount.id}</td>
                    <td>${progressAccount.school.name}</td>
                    <td>${progressAccount.username}</td>
                    <td>${progressAccount.group.name}</td>
                    <td class="is-icon">
                        #{includes.index.table-actions-progress progressAccount: progressAccount/}
                    </td>
                </tr>
            #{/list}
            </tbody>
        </table>

        <!--{{ $entities->appends(paginateAppends())->links() }}-->
    #{/if}
    #{else}
        #{include 'admin/includes/index/no-results.html' /}
    #{/else}
#{/set}