//Сброс позиционарования
@mixin clear() {
  &:after {
    content: '';
    display: table;
    clear: both;
  }
}

//Сборка background
@mixin sbg($color: transparent, $repeat: no-repeat, $position: center center, $size: auto auto) {
  background-color: $color;
  //background-image: url($image);
  background-repeat: $repeat;
  background-position: $position;
  background-size: $size;
}

//Ширина в процентах
@mixin cl_w($width_block, $width_parent) {
  width: $width_block / $width_parent * 100%;
}

//Высота в процентах
@mixin resp_height($display: inline-block, $height: 100%) {
  display: $display;
  &:after {
    content: '';
    display: table;
    margin-top: $height;
  }
}

//Стилизация placeholder
@mixin placeholder($color: #000) {
  &::-webkit-input-placeholder {color:$color;text-overflow: ellipsis;}
  &::-moz-placeholder          {color:$color;text-overflow: ellipsis;}/* Firefox 19+ */
  &:-moz-placeholder           {color:$color;text-overflow: ellipsis;}/* Firefox 18- */
  &:-ms-input-placeholder      {color:$color;text-overflow: ellipsis;}
}