<div class="question__interrupted">
    <div class="flex-row">
        <span class="number">1.</span>
        <span class="label">&{'q1'} </span>
    </div>
    <span class="info">
        <ol>
            <li style="#{if state.q1 == 0} text-decoration: underline #{/if}">&{'q1.1'}</li>
            <li style="#{if state.q1 == 1} text-decoration: underline #{/if}">&{'q1.2'}</li>
            <li style="#{if state.q1 == 2} text-decoration: underline #{/if}">&{'q1.3'}</li>
            <li style="#{if state.q1 == 3} text-decoration: underline #{/if}">&{'q1.4'}</li>
            <li style="#{if state.q1 == 4} text-decoration: underline #{/if}">&{'q1.5'}</li>
        </ol>
    </span>
</div>