<div class="question__interrupted">
<div class="flex-row">
    <span class="number">11.</span>
    <span class="label">&{'q11'} </span>
    <span class="info"><br/>
        #{if state.hasNotTalkedToSomeone() == false}
            &{'no'}
        #{/if}
        #{else}
            #{if state.hasNotTalkedToSomeone() == true}
                &{'yes'}
            #{/if}
            #{else}
                -
            #{/else}
        #{/else}
    </span>
</div>
</div>