<div class="question__interrupted">
<div class="flex-row flex-row-table">
    <div class="flex-row-table-title">
        <span class="number">12.</span>
        <span class="label">&{'q12'}</span>
    </div>
    <table>
        <thead>
        <tr>
            <th style="width: 150px"> За последние 6 месяцев </th>
            <th> &{'q12.1'} </th>
            <th> &{'q12.2'} </th>
            <th> &{'q12.3'} </th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td style="width: 200px"> &{'q12-1'} </td>
            <td>
                <p style="#{if state.q12?.size() > 0 && state.q12?.get(0) == 0} font-weight: 700; color: black; font-size: 150% #{/if}">0</p>
            </td>
            <td>
                <p style="#{if state.q12?.size() > 0 && state.q12?.get(0) == 1} font-weight: 700; color: black; font-size: 150% #{/if}">1</p>
            </td>
            <td>
                <p style="#{if state.q12?.size() > 0 && state.q12?.get(0) == 2} font-weight: 700; color: black; font-size: 150% #{/if}">2</p>
            </td>
        </tr>
        <tr>
            <td> &{'q12-2'} </td>
            <td>
                <p style="#{if state.q12?.size() > 1 && state.q12?.get(1) == 0} font-weight: 700; color: black; font-size: 150% #{/if}">0</p>
            </td>
            <td>
                <p style="#{if state.q12?.size() > 1 && state.q12?.get(1) == 1} font-weight: 700; color: black; font-size: 150% #{/if}">1</p>
            </td>
            <td>
                <p style="#{if state.q12?.size() > 1 && state.q12?.get(1) == 2} font-weight: 700; color: black; font-size: 150% #{/if}">2</p>
            </td>
        </tr>
        <tr>
            <td> &{'q12-3'} </td>
            <td>
                <p style="#{if state.q12?.size() > 2 && state.q12?.get(2) == 0} font-weight: 700; color: black; font-size: 150% #{/if}">0</p>
            </td>
            <td>
                <p style="#{if state.q12?.size() > 2 && state.q12?.get(2) == 1} font-weight: 700; color: black; font-size: 150% #{/if}">1</p>
            </td>
            <td>
                <p style="#{if state.q12?.size() > 2 && state.q12?.get(2) == 2} font-weight: 700; color: black; font-size: 150% #{/if}">2</p>
            </td>
        </tr>
        <tr>
            <td> &{'q12-4'} </td>
            <td>
                <p style="#{if state.q12?.size() > 3 && state.q12?.get(3) == 0} font-weight: 700; color: black; font-size: 150% #{/if}">0</p>
            </td>
            <td>
                <p style="#{if state.q12?.size() > 3 && state.q12?.get(3) == 1} font-weight: 700; color: black; font-size: 150% #{/if}">1</p>
            </td>
            <td>
                <p style="#{if state.q12?.size() > 3 && state.q12?.get(3) == 2} font-weight: 700; color: black; font-size: 150% #{/if}">2</p>
            </td>
        </tr>
        <tr>
            <td> &{'q12-5'} </td>
            <td>
                <p style="#{if state.q12?.size() > 4 && state.q12?.get(4) == 0} font-weight: 700; color: black; font-size: 150% #{/if}">0</p>
            </td>
            <td>
                <p style="#{if state.q12?.size() > 4 && state.q12?.get(4) == 1} font-weight: 700; color: black; font-size: 150% #{/if}">1</p>
            </td>
            <td>
                <p style="#{if state.q12?.size() > 4 && state.q12?.get(4) == 2} font-weight: 700; color: black; font-size: 150% #{/if}">2</p>
            </td>
        </tr>
        <tr>
            <td> &{'q12-6'} </td>
            <td>
                <p style="#{if state.q12?.size() > 5 && state.q12?.get(5) == 0} font-weight: 700; color: black; font-size: 150% #{/if}">0</p>
            </td>
            <td>
                <p style="#{if state.q12?.size() > 5 && state.q12?.get(5) == 1} font-weight: 700; color: black; font-size: 150% #{/if}">1</p>
            </td>
            <td>
                <p style="#{if state.q12?.size() > 5 && state.q12?.get(5) == 2} font-weight: 700; color: black; font-size: 150% #{/if}">2</p>
            </td>
        </tr>
        <tr>
            <td> &{'q12-7'} </td>
            <td>
                <p style="#{if state.q12?.size() > 6 && state.q12?.get(6) == 0} font-weight: 700; color: black; font-size: 150% #{/if}">0</p>
            </td>
            <td>
                <p style="#{if state.q12?.size() > 6 && state.q12?.get(6) == 1} font-weight: 700; color: black; font-size: 150% #{/if}">1</p>
            </td>
            <td>
                <p style="#{if state.q12?.size() > 6 && state.q12?.get(6) == 2} font-weight: 700; color: black; font-size: 150% #{/if}">2</p>
            </td>
        </tr>
        <tr>
            <td> &{'q12-8'} </td>
            <td>
                <p style="#{if state.q12?.size() > 7 && state.q12?.get(7) == 0} font-weight: 700; color: black; font-size: 150% #{/if}">0</p>
            </td>
            <td>
                <p style="#{if state.q12?.size() > 7 && state.q12?.get(7) == 1} font-weight: 700; color: black; font-size: 150% #{/if}">1</p>
            </td>
            <td>
                <p style="#{if state.q12?.size() > 7 && state.q12?.get(7) == 2} font-weight: 700; color: black; font-size: 150% #{/if}">2</p>
            </td>
        </tr>
        <tr>
            <td> &{'q12-9'} </td>
            <td>
                <p style="#{if state.q12?.size() > 8 && state.q12?.get(8) == 0} font-weight: 700; color: black; font-size: 150% #{/if}">0</p>
            </td>
            <td>
                <p style="#{if state.q12?.size() > 8 && state.q12?.get(8) == 1} font-weight: 700; color: black; font-size: 150% #{/if}">1</p>
            </td>
            <td>
                <p style="#{if state.q12?.size() > 8 && state.q12?.get(8) == 2} font-weight: 700; color: black; font-size: 150% #{/if}">2</p>
            </td>
        </tr>
        <tr>
            <td> &{'q12-10'} </td>
            <td>
                <p style="#{if state.q12?.size() > 9 && state.q12?.get(9) == 0} font-weight: 700; color: black; font-size: 150% #{/if}">0</p>
            </td>
            <td>
                <p style="#{if state.q12?.size() > 9 && state.q12?.get(9) == 1} font-weight: 700; color: black; font-size: 150% #{/if}">1</p>
            </td>
            <td>
                <p style="#{if state.q12?.size() > 9 && state.q12?.get(9) == 2} font-weight: 700; color: black; font-size: 150% #{/if}">2</p>
            </td>
        </tr>
        <tr>
            <td> &{'q12-11'} </td>
            <td>
                <p style="#{if state.q12?.size() > 10 && state.q12?.get(10) == 0} font-weight: 700; color: black; font-size: 150% #{/if}">0</p>
            </td>
            <td>
                <p style="#{if state.q12?.size() > 10 && state.q12?.get(10) == 1} font-weight: 700; color: black; font-size: 150% #{/if}">1</p>
            </td>
            <td>
                <p style="#{if state.q12?.size() > 10 && state.q12?.get(10) == 2} font-weight: 700; color: black; font-size: 150% #{/if}">2</p>
            </td>
        </tr>
        <tr>
            <td> &{'q12-12'} </td>
            <td>
                <p style="#{if state.q12?.size() > 11 && state.q12?.get(11) == 0} font-weight: 700; color: black; font-size: 150% #{/if}">0</p>
            </td>
            <td>
                <p style="#{if state.q12?.size() > 11 && state.q12?.get(11) == 1} font-weight: 700; color: black; font-size: 150% #{/if}">1</p>
            </td>
            <td>
                <p style="#{if state.q12?.size() > 11 && state.q12?.get(11) == 2} font-weight: 700; color: black; font-size: 150% #{/if}">2</p>
            </td>
        </tr>
        <tr>
            <td> &{'q12-13'} </td>
            <td>
                <p style="#{if state.q12?.size() > 12 && state.q12?.get(12) == 0} font-weight: 700; color: black; font-size: 150% #{/if}">0</p>
            </td>
            <td>
                <p style="#{if state.q12?.size() > 12 && state.q12?.get(12) == 1} font-weight: 700; color: black; font-size: 150% #{/if}">1</p>
            </td>
            <td>
                <p style="#{if state.q12?.size() > 12 && state.q12?.get(12) == 2} font-weight: 700; color: black; font-size: 150% #{/if}">2</p>
            </td>
        </tr>
        <tr>
            <td> &{'q12-14'} </td>
            <td>
                <p style="#{if state.q12?.size() > 13 && state.q12?.get(13) == 0} font-weight: 700; color: black; font-size: 150% #{/if}">0</p>
            </td>
            <td>
                <p style="#{if state.q12?.size() > 13 && state.q12?.get(13) == 1} font-weight: 700; color: black; font-size: 150% #{/if}">1</p>
            </td>
            <td>
                <p style="#{if state.q12?.size() > 13 && state.q12?.get(13) == 2} font-weight: 700; color: black; font-size: 150% #{/if}">2</p>
            </td>
        </tr>
        <tr>
            <td> &{'q12-15'} </td>
            <td>
                <p style="#{if state.q12?.size() > 14 && state.q12?.get(14) == 0} font-weight: 700; color: black; font-size: 150% #{/if}">0</p>
            </td>
            <td>
                <p style="#{if state.q12?.size() > 14 && state.q12?.get(14) == 1} font-weight: 700; color: black; font-size: 150% #{/if}">1</p>
            </td>
            <td>
                <p style="#{if state.q12?.size() > 14 && state.q12?.get(14) == 2} font-weight: 700; color: black; font-size: 150% #{/if}">2</p>
            </td>
        </tr>
        <tr>
            <td> &{'q12-16'} </td>
            <td>
                <p style="#{if state.q12?.size() > 15 && state.q12?.get(15) == 0} font-weight: 700; color: black; font-size: 150% #{/if}">0</p>
            </td>
            <td>
                <p style="#{if state.q12?.size() > 15 && state.q12?.get(15) == 1} font-weight: 700; color: black; font-size: 150% #{/if}">1</p>
            </td>
            <td>
                <p style="#{if state.q12?.size() > 15 && state.q12?.get(15) == 2} font-weight: 700; color: black; font-size: 150% #{/if}">2</p>
            </td>
        </tr>
        <tr>
            <td> &{'q12-17'} </td>
            <td>
                <p style="#{if state.q12?.size() > 16 && state.q12?.get(16) == 0} font-weight: 700; color: black; font-size: 150% #{/if}">0</p>
            </td>
            <td>
                <p style="#{if state.q12?.size() > 16 && state.q12?.get(16) == 1} font-weight: 700; color: black; font-size: 150% #{/if}">1</p>
            </td>
            <td>
                <p style="#{if state.q12?.size() > 16 && state.q12?.get(16) == 2} font-weight: 700; color: black; font-size: 150% #{/if}">2</p>
            </td>
        </tr>
        <tr>
            <td> &{'q12-18'} </td>
            <td>
                <p style="#{if state.q12?.size() > 17 && state.q12?.get(17) == 0} font-weight: 700; color: black; font-size: 150% #{/if}">0</p>
            </td>
            <td>
                <p style="#{if state.q12?.size() > 17 && state.q12?.get(17) == 1} font-weight: 700; color: black; font-size: 150% #{/if}">1</p>
            </td>
            <td>
                <p style="#{if state.q12?.size() > 17 && state.q12?.get(17) == 2} font-weight: 700; color: black; font-size: 150% #{/if}">2</p>
            </td>
        </tr>
        <tr>
            <td> &{'q12-19'} </td>
            <td>
                <p style="#{if state.q12?.size() > 18 && state.q12?.get(18) == 0} font-weight: 700; color: black; font-size: 150% #{/if}">0</p>
            </td>
            <td>
                <p style="#{if state.q12?.size() > 18 && state.q12?.get(18) == 1} font-weight: 700; color: black; font-size: 150% #{/if}">1</p>
            </td>
            <td>
                <p style="#{if state.q12?.size() > 18 && state.q12?.get(18) == 2} font-weight: 700; color: black; font-size: 150% #{/if}">2</p>
            </td>
        </tr>
        <tr>
            <td> &{'q12-20'} </td>
            <td>
                <p style="#{if state.q12?.size() > 19 && state.q12?.get(19) == 0} font-weight: 700; color: black; font-size: 150% #{/if}">0</p>
            </td>
            <td>
                <p style="#{if state.q12?.size() > 19 && state.q12?.get(19) == 1} font-weight: 700; color: black; font-size: 150% #{/if}">1</p>
            </td>
            <td>
                <p style="#{if state.q12?.size() > 19 && state.q12?.get(19) == 2} font-weight: 700; color: black; font-size: 150% #{/if}">2</p>
            </td>
        </tr>
        <tr>
            <td> &{'q12-21'} </td>
            <td>
                <p style="#{if state.q12?.size() > 20 && state.q12?.get(20) == 0} font-weight: 700; color: black; font-size: 150% #{/if}">0</p>
            </td>
            <td>
                <p style="#{if state.q12?.size() > 20 && state.q12?.get(20) == 1} font-weight: 700; color: black; font-size: 150% #{/if}">1</p>
            </td>
            <td>
                <p style="#{if state.q12?.size() > 20 && state.q12?.get(20) == 2} font-weight: 700; color: black; font-size: 150% #{/if}">2</p>
            </td>
        </tr>
        <tr>
            <td> &{'q12-22'} </td>
            <td>
                <p style="#{if state.q12?.size() > 21 && state.q12?.get(21) == 0} font-weight: 700; color: black; font-size: 150% #{/if}">0</p>
            </td>
            <td>
                <p style="#{if state.q12?.size() > 21 && state.q12?.get(21) == 1} font-weight: 700; color: black; font-size: 150% #{/if}">1</p>
            </td>
            <td>
                <p style="#{if state.q12?.size() > 21 && state.q12?.get(21) == 2} font-weight: 700; color: black; font-size: 150% #{/if}">2</p>
            </td>
        </tr>
        <tr>
            <td> &{'q12-23'} </td>
            <td>
                <p style="#{if state.q12?.size() > 22 && state.q12?.get(22) == 0} font-weight: 700; color: black; font-size: 150% #{/if}">0</p>
            </td>
            <td>
                <p style="#{if state.q12?.size() > 22 && state.q12?.get(22) == 1} font-weight: 700; color: black; font-size: 150% #{/if}">1</p>
            </td>
            <td>
                <p style="#{if state.q12?.size() > 22 && state.q12?.get(22) == 2} font-weight: 700; color: black; font-size: 150% #{/if}">2</p>
            </td>
        </tr>
        <tr>
            <td> &{'q12-24'} </td>
            <td>
                <p style="#{if state.q12?.size() > 23 && state.q12?.get(23) == 0} font-weight: 700; color: black; font-size: 150% #{/if}">0</p>
            </td>
            <td>
                <p style="#{if state.q12?.size() > 23 && state.q12?.get(23) == 1} font-weight: 700; color: black; font-size: 150% #{/if}">1</p>
            </td>
            <td>
                <p style="#{if state.q12?.size() > 23 && state.q12?.get(23) == 2} font-weight: 700; color: black; font-size: 150% #{/if}">2</p>
            </td>
        </tr>
        <tr>
            <td> &{'q12-25'} </td>
            <td>
                <p style="#{if state.q12?.size() > 24 && state.q12?.get(24) == 0} font-weight: 700; color: black; font-size: 150% #{/if}">0</p>
            </td>
            <td>
                <p style="#{if state.q12?.size() > 24 && state.q12?.get(24) == 1} font-weight: 700; color: black; font-size: 150% #{/if}">1</p>
            </td>
            <td>
                <p style="#{if state.q12?.size() > 24 && state.q12?.get(24) == 2} font-weight: 700; color: black; font-size: 150% #{/if}">2</p>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</div>