<div class="question__interrupted">
<div class="flex-row flex-row-table">
    <div class="flex-row-table-title">
        <span class="number">13.</span>
        <span class="label">&{'q13'}</span>
    </div>
    <table>
        <thead>
        <tr>
            <th style="width: 150px"> Выберите ответ, соответствующий тому сколько раз за свою жизнь вы сделали это </th>
            <th> &{'q13.1'} </th>
            <th> &{'q13.2'} </th>
            <th> &{'q13.3'} </th>
            <th> &{'q13.4'} </th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td style="width: 200px"> &{'q13-1'} </td>
            <td>
                <p style="#{if state.q13?.size() > 0 && state.q13?.get(0) == 0} font-weight: 700; color: black; font-size: 150% #{/if}">0</p>
            </td>
            <td>
                <p style="#{if state.q13?.size() > 0 && state.q13?.get(0) == 1} font-weight: 700; color: black; font-size: 150% #{/if}">1</p>
            </td>
            <td>
                <p style="#{if state.q13?.size() > 0 && state.q13?.get(0) == 2} font-weight: 700; color: black; font-size: 150% #{/if}">2</p>
            </td>
            <td>
                <p style="#{if state.q13?.size() > 0 && state.q13?.get(0) == 3} font-weight: 700; color: black; font-size: 150% #{/if}">3</p>
            </td>
        </tr>
        <tr>
            <td> &{'q13-2'} </td>
            <td>
                <p style="#{if state.q13?.size() > 1 && state.q13?.get(1) == 0} font-weight: 700; color: black; font-size: 150% #{/if}">0</p>
            </td>
            <td>
                <p style="#{if state.q13?.size() > 1 && state.q13?.get(1) == 1} font-weight: 700; color: black; font-size: 150% #{/if}">1</p>
            </td>
            <td>
                <p style="#{if state.q13?.size() > 1 && state.q13?.get(1) == 2} font-weight: 700; color: black; font-size: 150% #{/if}">2</p>
            </td>
            <td>
                <p style="#{if state.q13?.size() > 1 && state.q13?.get(1) == 3} font-weight: 700; color: black; font-size: 150% #{/if}">3</p>
            </td>
        </tr>
        <tr>
            <td> &{'q13-3'} </td>
            <td>
                <p style="#{if state.q13?.size() > 2 && state.q13?.get(2) == 0} font-weight: 700; color: black; font-size: 150% #{/if}">0</p>
            </td>
            <td>
                <p style="#{if state.q13?.size() > 2 && state.q13?.get(2) == 1} font-weight: 700; color: black; font-size: 150% #{/if}">1</p>
            </td>
            <td>
                <p style="#{if state.q13?.size() > 2 && state.q13?.get(2) == 2} font-weight: 700; color: black; font-size: 150% #{/if}">2</p>
            </td>
            <td>
                <p style="#{if state.q13?.size() > 2 && state.q13?.get(2) == 3} font-weight: 700; color: black; font-size: 150% #{/if}">3</p>
            </td>
        </tr>
        <tr>
            <td> &{'q13-4'} </td>
            <td>
                <p style="#{if state.q13?.size() > 3 && state.q13?.get(3) == 0} font-weight: 700; color: black; font-size: 150% #{/if}">0</p>
            </td>
            <td>
                <p style="#{if state.q13?.size() > 3 && state.q13?.get(3) == 1} font-weight: 700; color: black; font-size: 150% #{/if}">1</p>
            </td>
            <td>
                <p style="#{if state.q13?.size() > 3 && state.q13?.get(3) == 2} font-weight: 700; color: black; font-size: 150% #{/if}">2</p>
            </td>
            <td>
                <p style="#{if state.q13?.size() > 3 && state.q13?.get(3) == 3} font-weight: 700; color: black; font-size: 150% #{/if}">3</p>
            </td>
        </tr>
        <tr>
            <td> &{'q13-5'} </td>
            <td>
                <p style="#{if state.q13?.size() > 4 && state.q13?.get(4) == 0} font-weight: 700; color: black; font-size: 150% #{/if}">0</p>
            </td>
            <td>
                <p style="#{if state.q13?.size() > 4 && state.q13?.get(4) == 1} font-weight: 700; color: black; font-size: 150% #{/if}">1</p>
            </td>
            <td>
                <p style="#{if state.q13?.size() > 4 && state.q13?.get(4) == 2} font-weight: 700; color: black; font-size: 150% #{/if}">2</p>
            </td>
            <td>
                <p style="#{if state.q13?.size() > 4 && state.q13?.get(4) == 3} font-weight: 700; color: black; font-size: 150% #{/if}">3</p>
            </td>
        </tr>
        <tr>
            <td> &{'q13-6'} </td>
            <td>
                <p style="#{if state.q13?.size() > 5 && state.q13?.get(5) == 0} font-weight: 700; color: black; font-size: 150% #{/if}">0</p>
            </td>
            <td>
                <p style="#{if state.q13?.size() > 5 && state.q13?.get(5) == 1} font-weight: 700; color: black; font-size: 150% #{/if}">1</p>
            </td>
            <td>
                <p style="#{if state.q13?.size() > 5 && state.q13?.get(5) == 2} font-weight: 700; color: black; font-size: 150% #{/if}">2</p>
            </td>
            <td>
                <p style="#{if state.q13?.size() > 5 && state.q13?.get(5) == 3} font-weight: 700; color: black; font-size: 150% #{/if}">3</p>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</div>