<div class="question__interrupted">
<div class="flex-row">
    <span class="number">3.</span>
    <span class="label">&{'q3'} </span>
    <br/>
    <span class="info">
                            #{if state.q3}${state.q3}#{/if}#{else}-#{/else}
                        </span>
</div>
</div>