<div class="question__interrupted">
<div class="flex-row flex-row-table">
    <div class="flex-row-table-title">
        <span class="number">4.</span>
        <span class="label">&{'q4'}</span>
    </div>
    <table>
        <thead>
            <tr>
                <th style="width: 150px"> На прошлой неделе </th>
                <th> &{'q4.1'} </th>
                <th> &{'q4.2'} </th>
                <th> &{'q4.3'} </th>
                <th> &{'q4.4'} </th>
            </tr>
        </thead>
        <tbody>
        <tr>
            <td > &{'q4-1'} </td>
            <td>
                <p style="#{if state.q4?.size() > 0 && state.q4?.get(0) == 0} font-weight: 700; color: black; font-size: 150% #{/if}">0</p>
            </td>
            <td>
                <p style="#{if state.q4?.size() > 0 && state.q4?.get(0) == 1} font-weight: 700; color: black; font-size: 150% #{/if}">1</p>
            </td>
            <td>
                <p style="#{if state.q4?.size() > 0 && state.q4?.get(0) == 2} font-weight: 700; color: black; font-size: 150% #{/if}">2</p>
            </td>
            <td>
                <p style="#{if state.q4?.size() > 0 && state.q4?.get(0) == 3} font-weight: 700; color: black; font-size: 150% #{/if}">3</p>
            </td>
        </tr>
        <tr>
            <td style="width: 200px"> &{'q4-2'} </td>
            <td>
                <p style="#{if state.q4?.size() > 1 && state.q4?.get(1) == 0} font-weight: 700; color: black; font-size: 150% #{/if}">0</p>
            </td>
            <td>
                <p style="#{if state.q4?.size() > 1 && state.q4?.get(1) == 1} font-weight: 700; color: black; font-size: 150% #{/if}">1</p>
            </td>
            <td>
                <p style="#{if state.q4?.size() > 1 && state.q4?.get(1) == 2} font-weight: 700; color: black; font-size: 150% #{/if}">2</p>
            </td>
            <td>
                <p style="#{if state.q4?.size() > 1 && state.q4?.get(1) == 3} font-weight: 700; color: black; font-size: 150% #{/if}">3</p>
            </td>
        </tr>
        <tr>
            <td style="width: 200px"> &{'q4-3'} </td>
            <td>
                <p style="#{if state.q4?.size() > 2 && state.q4?.get(2) == 0} font-weight: 700; color: black; font-size: 150% #{/if}">0</p>
            </td>
            <td>
                <p style="#{if state.q4?.size() > 2 && state.q4?.get(2) == 1} font-weight: 700; color: black; font-size: 150% #{/if}">1</p>
            </td>
            <td>
                <p style="#{if state.q4?.size() > 2 && state.q4?.get(2) == 2} font-weight: 700; color: black; font-size: 150% #{/if}">2</p>
            </td>
            <td>
                <p style="#{if state.q4?.size() > 2 && state.q4?.get(2) == 3} font-weight: 700; color: black; font-size: 150% #{/if}">3</p>
            </td>
        </tr>
        <tr>
            <td style="width: 200px"> &{'q4-4'} </td>
            <td>
                <p style="#{if state.q4?.size() > 3 && state.q4?.get(3) == 0} font-weight: 700; color: black; font-size: 150% #{/if}">0</p>
            </td>
            <td>
                <p style="#{if state.q4?.size() > 3 && state.q4?.get(3) == 1} font-weight: 700; color: black; font-size: 150% #{/if}">1</p>
            </td>
            <td>
                <p style="#{if state.q4?.size() > 3 && state.q4?.get(3) == 2} font-weight: 700; color: black; font-size: 150% #{/if}">2</p>
            </td>
            <td>
                <p style="#{if state.q4?.size() > 3 && state.q4?.get(3) == 3} font-weight: 700; color: black; font-size: 150% #{/if}">3</p>
            </td>
        </tr>
        <tr>
            <td style="width: 200px"> &{'q4-5'} </td>
            <td>
                <p style="#{if state.q4?.size() > 4 && state.q4?.get(4) == 0} font-weight: 700; color: black; font-size: 150% #{/if}">0</p>
            </td>
            <td>
                <p style="#{if state.q4?.size() > 4 && state.q4?.get(4) == 1} font-weight: 700; color: black; font-size: 150% #{/if}">1</p>
            </td>
            <td>
                <p style="#{if state.q4?.size() > 4 && state.q4?.get(4) == 2} font-weight: 700; color: black; font-size: 150% #{/if}">2</p>
            </td>
            <td>
                <p style="#{if state.q4?.size() > 4 && state.q4?.get(4) == 3} font-weight: 700; color: black; font-size: 150% #{/if}">3</p>
            </td>
        </tr>
        <tr>
            <td style="width: 200px"> &{'q4-6'} </td>
            <td>
                <p style="#{if state.q4?.size() > 5 && state.q4?.get(5) == 0} font-weight: 700; color: black; font-size: 150% #{/if}">0</p>
            </td>
            <td>
                <p style="#{if state.q4?.size() > 5 && state.q4?.get(5) == 1} font-weight: 700; color: black; font-size: 150% #{/if}">1</p>
            </td>
            <td>
                <p style="#{if state.q4?.size() > 5 && state.q4?.get(5) == 2} font-weight: 700; color: black; font-size: 150% #{/if}">2</p>
            </td>
            <td>
                <p style="#{if state.q4?.size() > 5 && state.q4?.get(5) == 3} font-weight: 700; color: black; font-size: 150% #{/if}">3</p>
            </td>
        </tr>
        <tr>
            <td style="width: 200px"> &{'q4-7'} </td>
            <td>
                <p style="#{if state.q4?.size() > 6 && state.q4?.get(6) == 0} font-weight: 700; color: black; font-size: 150% #{/if}">0</p>
            </td>
            <td>
                <p style="#{if state.q4?.size() > 6 && state.q4?.get(6) == 1} font-weight: 700; color: black; font-size: 150% #{/if}">1</p>
            </td>
            <td>
                <p style="#{if state.q4?.size() > 6 && state.q4?.get(6) == 2} font-weight: 700; color: black; font-size: 150% #{/if}">2</p>
            </td>
            <td>
                <p style="#{if state.q4?.size() > 6 && state.q4?.get(6) == 3} font-weight: 700; color: black; font-size: 150% #{/if}">3</p>
            </td>
        </tr>
        <tr>
            <td style="width: 200px"> &{'q4-8'} </td>
            <td>
                <p style="#{if state.q4?.size() > 7 && state.q4?.get(7) == 0} font-weight: 700; color: black; font-size: 150% #{/if}">0</p>
            </td>
            <td>
                <p style="#{if state.q4?.size() > 7 && state.q4?.get(7) == 1} font-weight: 700; color: black; font-size: 150% #{/if}">1</p>
            </td>
            <td>
                <p style="#{if state.q4?.size() > 7 && state.q4?.get(7) == 2} font-weight: 700; color: black; font-size: 150% #{/if}">2</p>
            </td>
            <td>
                <p style="#{if state.q4?.size() > 7 && state.q4?.get(7) == 3} font-weight: 700; color: black; font-size: 150% #{/if}">3</p>
            </td>
        </tr>
        <tr>
            <td style="width: 200px"> &{'q4-9'} </td>
            <td>
                <p style="#{if state.q4?.size() > 8 && state.q4?.get(8) == 0} font-weight: 700; color: black; font-size: 150% #{/if}">0</p>
            </td>
            <td>
                <p style="#{if state.q4?.size() > 8 && state.q4?.get(8) == 1} font-weight: 700; color: black; font-size: 150% #{/if}">1</p>
            </td>
            <td>
                <p style="#{if state.q4?.size() > 8 && state.q4?.get(8) == 2} font-weight: 700; color: black; font-size: 150% #{/if}">2</p>
            </td>
            <td>
                <p style="#{if state.q4?.size() > 8 && state.q4?.get(8) == 3} font-weight: 700; color: black; font-size: 150% #{/if}">3</p>
            </td>
        </tr>
        <tr>
            <td style="width: 200px"> &{'q4-10'} </td>
            <td>
                <p style="#{if state.q4?.size() > 9 && state.q4?.get(9) == 0} font-weight: 700; color: black; font-size: 150% #{/if}">0</p>
            </td>
            <td>
                <p style="#{if state.q4?.size() > 9 && state.q4?.get(9) == 1} font-weight: 700; color: black; font-size: 150% #{/if}">1</p>
            </td>
            <td>
                <p style="#{if state.q4?.size() > 9 && state.q4?.get(9) == 2} font-weight: 700; color: black; font-size: 150% #{/if}">2</p>
            </td>
            <td>
                <p style="#{if state.q4?.size() > 9 && state.q4?.get(9) == 3} font-weight: 700; color: black; font-size: 150% #{/if}">3</p>
            </td>
        </tr>
        <tr>
            <td style="width: 200px"> &{'q4-11'} </td>
            <td>
                <p style="#{if state.q4?.size() > 10 && state.q4?.get(10) == 0} font-weight: 700; color: black; font-size: 150% #{/if}">0</p>
            </td>
            <td>
                <p style="#{if state.q4?.size() > 10 && state.q4?.get(10) == 1} font-weight: 700; color: black; font-size: 150% #{/if}">1</p>
            </td>
            <td>
                <p style="#{if state.q4?.size() > 10 && state.q4?.get(10) == 2} font-weight: 700; color: black; font-size: 150% #{/if}">2</p>
            </td>
            <td>
                <p style="#{if state.q4?.size() > 10 && state.q4?.get(10) == 3} font-weight: 700; color: black; font-size: 150% #{/if}">3</p>
            </td>
        </tr>
        <tr>
            <td style="width: 200px"> &{'q4-12'} </td>
            <td>
                <p style="#{if state.q4?.size() > 11 && state.q4?.get(11) == 0} font-weight: 700; color: black; font-size: 150% #{/if}">0</p>
            </td>
            <td>
                <p style="#{if state.q4?.size() > 11 && state.q4?.get(11) == 1} font-weight: 700; color: black; font-size: 150% #{/if}">1</p>
            </td>
            <td>
                <p style="#{if state.q4?.size() > 11 && state.q4?.get(11) == 2} font-weight: 700; color: black; font-size: 150% #{/if}">2</p>
            </td>
            <td>
                <p style="#{if state.q4?.size() > 11 && state.q4?.get(11) == 3} font-weight: 700; color: black; font-size: 150% #{/if}">3</p>
            </td>
        </tr>
        <tr>
            <td> &{'q4-13'} </td>
            <td>
                <p style="#{if state.q4?.size() > 12 && state.q4?.get(12) == 0} font-weight: 700; color: black; font-size: 150% #{/if}">0</p>
            </td>
            <td>
                <p style="#{if state.q4?.size() > 12 && state.q4?.get(12) == 1} font-weight: 700; color: black; font-size: 150% #{/if}">1</p>
            </td>
            <td>
                <p style="#{if state.q4?.size() > 12 && state.q4?.get(12) == 2} font-weight: 700; color: black; font-size: 150% #{/if}">2</p>
            </td>
            <td>
                <p style="#{if state.q4?.size() > 12 && state.q4?.get(12) == 3} font-weight: 700; color: black; font-size: 150% #{/if}">3</p>
            </td>
        </tr>
        <tr>
            <td> &{'q4-14'} </td>
            <td>
                <p style="#{if state.q4?.size() > 13 && state.q4?.get(13) == 0} font-weight: 700; color: black; font-size: 150% #{/if}">0</p>
            </td>
            <td>
                <p style="#{if state.q4?.size() > 13 && state.q4?.get(13) == 1} font-weight: 700; color: black; font-size: 150% #{/if}">1</p>
            </td>
            <td>
                <p style="#{if state.q4?.size() > 13 && state.q4?.get(13) == 2} font-weight: 700; color: black; font-size: 150% #{/if}">2</p>
            </td>
            <td>
                <p style="#{if state.q4?.size() > 13 && state.q4?.get(13) == 3} font-weight: 700; color: black; font-size: 150% #{/if}">3</p>
            </td>
        </tr>
        <tr>
            <td> &{'q4-15'} </td>
            <td>
                <p style="#{if state.q4?.size() > 14 && state.q4?.get(14) == 0} font-weight: 700; color: black; font-size: 150% #{/if}">0</p>
            </td>
            <td>
                <p style="#{if state.q4?.size() > 14 && state.q4?.get(14) == 1} font-weight: 700; color: black; font-size: 150% #{/if}">1</p>
            </td>
            <td>
                <p style="#{if state.q4?.size() > 14 && state.q4?.get(14) == 2} font-weight: 700; color: black; font-size: 150% #{/if}">2</p>
            </td>
            <td>
                <p style="#{if state.q4?.size() > 14 && state.q4?.get(14) == 3} font-weight: 700; color: black; font-size: 150% #{/if}">3</p>
            </td>
        </tr>
        <tr>
            <td> &{'q4-16'} </td>
            <td>
                <p style="#{if state.q4?.size() > 15 && state.q4?.get(15) == 0} font-weight: 700; color: black; font-size: 150% #{/if}">0</p>
            </td>
            <td>
                <p style="#{if state.q4?.size() > 15 && state.q4?.get(15) == 1} font-weight: 700; color: black; font-size: 150% #{/if}">1</p>
            </td>
            <td>
                <p style="#{if state.q4?.size() > 15 && state.q4?.get(15) == 2} font-weight: 700; color: black; font-size: 150% #{/if}">2</p>
            </td>
            <td>
                <p style="#{if state.q4?.size() > 15 && state.q4?.get(15) == 3} font-weight: 700; color: black; font-size: 150% #{/if}">3</p>
            </td>
        </tr>
        <tr>
            <td> &{'q4-17'} </td>
            <td>
                <p style="#{if state.q4?.size() > 16 && state.q4?.get(16) == 0} font-weight: 700; color: black; font-size: 150% #{/if}">0</p>
            </td>
            <td>
                <p style="#{if state.q4?.size() > 16 && state.q4?.get(16) == 1} font-weight: 700; color: black; font-size: 150% #{/if}">1</p>
            </td>
            <td>
                <p style="#{if state.q4?.size() > 16 && state.q4?.get(16) == 2} font-weight: 700; color: black; font-size: 150% #{/if}">2</p>
            </td>
            <td>
                <p style="#{if state.q4?.size() > 16 && state.q4?.get(16) == 3} font-weight: 700; color: black; font-size: 150% #{/if}">3</p>
            </td>
        </tr>
        <tr>
            <td> &{'q4-18'} </td>
            <td>
                <p style="#{if state.q4?.size() > 17 && state.q4?.get(17) == 0} font-weight: 700; color: black; font-size: 150% #{/if}">0</p>
            </td>
            <td>
                <p style="#{if state.q4?.size() > 17 && state.q4?.get(17) == 1} font-weight: 700; color: black; font-size: 150% #{/if}">1</p>
            </td>
            <td>
                <p style="#{if state.q4?.size() > 17 && state.q4?.get(17) == 2} font-weight: 700; color: black; font-size: 150% #{/if}">2</p>
            </td>
            <td>
                <p style="#{if state.q4?.size() > 17 && state.q4?.get(17) == 3} font-weight: 700; color: black; font-size: 150% #{/if}">3</p>
            </td>
        </tr>
        <tr>
            <td> &{'q4-19'} </td>
            <td>
                <p style="#{if state.q4?.size() > 18 && state.q4?.get(18) == 0} font-weight: 700; color: black; font-size: 150% #{/if}">0</p>
            </td>
            <td>
                <p style="#{if state.q4?.size() > 18 && state.q4?.get(18) == 1} font-weight: 700; color: black; font-size: 150% #{/if}">1</p>
            </td>
            <td>
                <p style="#{if state.q4?.size() > 18 && state.q4?.get(18) == 2} font-weight: 700; color: black; font-size: 150% #{/if}">2</p>
            </td>
            <td>
                <p style="#{if state.q4?.size() > 18 && state.q4?.get(18) == 3} font-weight: 700; color: black; font-size: 150% #{/if}">3</p>
            </td>
        </tr>
        <tr>
            <td> &{'q4-20'} </td>
            <td>
                <p style="#{if state.q4?.size() > 19 && state.q4?.get(19) == 0} font-weight: 700; color: black; font-size: 150% #{/if}">0</p>
            </td>
            <td>
                <p style="#{if state.q4?.size() > 19 && state.q4?.get(19) == 1} font-weight: 700; color: black; font-size: 150% #{/if}">1</p>
            </td>
            <td>
                <p style="#{if state.q4?.size() > 19 && state.q4?.get(19) == 2} font-weight: 700; color: black; font-size: 150% #{/if}">2</p>
            </td>
            <td>
                <p style="#{if state.q4?.size() > 19 && state.q4?.get(19) == 3} font-weight: 700; color: black; font-size: 150% #{/if}">3</p>
            </td>
        </tr>
        <tr>
            <td> &{'q4-21'} </td>
            <td>
                <p style="#{if state.q4?.size() > 20 && state.q4?.get(20) == 0} font-weight: 700; color: black; font-size: 150% #{/if}">0</p>
            </td>
            <td>
                <p style="#{if state.q4?.size() > 20 && state.q4?.get(20) == 1} font-weight: 700; color: black; font-size: 150% #{/if}">1</p>
            </td>
            <td>
                <p style="#{if state.q4?.size() > 20 && state.q4?.get(20) == 2} font-weight: 700; color: black; font-size: 150% #{/if}">2</p>
            </td>
            <td>
                <p style="#{if state.q4?.size() > 20 && state.q4?.get(20) == 3} font-weight: 700; color: black; font-size: 150% #{/if}">3</p>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</div>