<div class="question__interrupted">
<div class="flex-row">
    <span class="number">6.</span>
    <span class="label">&{'q6'} </span>
    <br/>
    <span class="info">
                            #{if state.q6 == 0}
                            &{'no'}
                            #{/if}
                            #{elseif state.q6 == 1}
                            &{'yes'}
                            #{/elseif}
                            #{else}
                            -
                            #{/else}
                        </span>
</div>
</div>