<div class="question__interrupted">
<div class="flex-row">
    <span class="number">7.</span>
    <span class="label">&{'q7'} </span>
    <span class="info">
        <br/>
                            #{if state.q7 == 0}
                            &{'no'}
                            #{/if}
                            #{elseif state.q7 == 1}
                            &{'yes'}
                            #{/elseif}
                            #{else}
                            -
                            #{/else}
                        </span>
</div>
</div>