<div class="question__interrupted">
<div class="flex-row">
    <span class="number">8.</span>
    <span class="label">&{'q8'} </span>
    <span class="info"><br/>
                            #{if state.q8 == 0}
                            &{'no'}
                            #{/if}
                            #{elseif state.q8 == 1}
                            &{'yes'}
                            #{/elseif}
                            #{else}
                            -
                            #{/else}
                        </span>
</div>
</div>