<div class="question__interrupted">
<div class="flex-row">
    <span class="number">9.</span>
    <span class="label">&{'q9'} </span>
    <span class="info"><br/>
                            #{if state.q9}
                            ${state.q9}
                            #{/if}
                            #{else}
                            -
                            #{/else}
                        </span>
</div>
</div>