#{set 'moreStyles'}
<link rel="stylesheet" href="/css/admin/libs/datepicker.css">
#{/set}

#{set 'scripts'}
<script src="/js/admin/libs/datepicker.js"></script>
<script>
    $(function () {
        $('input[data-toggle="datepicker"]').datepicker({
            format: 'dd.mm.yyyy'
        });
    });
</script>
#{/set}
