#{extends 'admin/admin.main.html'/}

#{set 'section'} Шаги #{/set}
#{set 'action'} Редактирование #{/set}

#{set 'content'}
    #{include 'admin/includes/form/tinymce-upload.html'/}

    <form method="post" action="@{Admin.updateStep(step.id)}">
        #{include 'admin/steps/partials/form.html' /}

        #{includes.form.actions action: action/}
    </form>
    #{if emptyFieldsError}
    <div class="notification is-danger" style="margin-top: 20px">
        ${emptyFieldsError}
    </div>
    #{/if}
#{/set}
