#{extends 'admin/admin.main.html'/}

#{set 'section'} Шаги #{/set}
#{set 'action'} Список #{/set}

#{set 'actions'}
    <a href="@{Admin.stepsCreate()}" class="button is-dark is-outlined">Добавить запись</a>
#{/set}

#{set 'content'}
    #{include 'admin/steps/partials/filter.html'/}

    #{if steps.size() > 0}
        <table class="table is-striped is-narrow">
            <thead>
            <tr>
                <th width="50">ID</th>
                <th>Название</th>
                <th>Группа</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            #{list items: steps, as: 'step'}
                <tr class="is-success">
                    <td>${step.id}</td>
                    <td>${step.name}</td>
                    <td>${step.group.name}</td>
                    <td class="is-icon">
                        #{includes.index.table-actions-steps step: step /}
                    </td>
                </tr>
            #{/list}
            </tbody>
        </table>

        <!--{{ $entities->appends(paginateAppends())->links() }}-->
    #{/if}
    #{else}
        #{include 'admin/includes/index/no-results.html'/}
    #{/else}
#{/set}