#{extends 'admin/admin.main.html' /}

#{set 'section'} Аккаунты #{/set}
#{set 'action'} Создание #{/set}

#{set 'content'}
    <form method="post" action="@{Admin.newAccount()}" class="__js-location">
        #{include 'admin/accounts/partials/form.html'/}

        #{includes.form.actions action: actionButton/}
    </form>

    #{if emptyFieldsError}
    <div class="notification is-danger" style="margin-top: 20px">
        ${emptyFieldsError}
    </div>
    #{/if}
#{/set}
