#{extends 'admin/admin.main.html'/}

#{set 'section'} Аккаунты #{/set}
#{set 'action'} Список #{/set}

#{set 'actions'}
    <a href="@{Admin.accountsCreate()}" class="button is-dark is-outlined">Добавить запись</a>
#{/set}

#{set 'content'}
    #{ include 'admin/accounts/partials/filter.html'/}

    <!--(count($entities)-->
    #{if accounts.size() > 0}
        <table class="table is-striped is-narrow">
            <thead>
            <tr>
                <th width="50">ID</th>
                <th width="50">Batch</th>
                <th>Школа</th>
                <th>Логин</th>
                <th>Группа</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            #{list items: accounts, as: 'account'}
                <tr>
                    <td>${account.id}</td>
                    <td><a href="@{Admin.accountsShow(account.generatedBatch)}">${account.generatedBatch}</a></td>
                    <td>${ account.school != null ? account.school.name : "-"}</td>
                    <td><a href="@{Admin.accountInfo(account.id)}">${account.username}</a></td>
                    <td>${account.group.name}</td>
                    <td class="is-icon">
                        #{includes.index.table-actions-accounts account: account/}
                    </td>
                </tr>
            #{/list}
            </tbody>
        </table>
        <div style="margin-left: 10px">
        #{list items:1..pageNumber, as:'eachPage'}
            #{if page == eachPage}
            <b style="margin-right: 10px">${eachPage} </b>
            #{/if}
            #{else}
            <a style="margin-right: 10px" href="@{Admin.accounts(eachPage, idFilter, loginFilter, groupsFilterId, regionDropdown, provinceDropdown, cityDropdown)}">${eachPage} </a>
            #{/else}
        #{/list}
        </div>
        <!--{{ $entities->appends(paginateAppends())->links() }}-->
    #{/if}
    #{else}
        #{include 'admin/includes/index/no-results.html'/}
    #{/else}
#{/set}