#{extends 'admin/admin.main.html' /}

#{set 'section'} Супервайзеры #{/set}
#{set 'action'} Список #{/set}

#{set 'actions'}
    <a href="@{Admin.supervisorsForm()}" class="button is-dark is-outlined">Добавить</a>
#{/set}

#{set 'content'}
    #{include 'admin/supervisors/partials/filter.html'/}

    #{if supervisors.size() > 0}
        <table class="table is-striped is-narrow">
            <thead>
            <tr>
                <th width="50">ID</th>
                <th>Login</th>
                <th>ФИО</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            #{list items: supervisors, as: 'supervisor'}
                <tr>
                    <td>${supervisor.id}</td>
                    <td>${supervisor.login}</td>
                    <td>${supervisor.fullname}</td>
                    <td class="is-icon">
                        #{includes.index.table-actions-supervisors supervisor: supervisor /}
                    </td>
                </tr>
            #{/list}
            </tbody>
        </table>

        <!--{{ $entities->appends(paginateAppends())->links() }}-->
    #{/if}
    #{else}
        #{include 'admin/includes/index/no-results.html' /}
    #{/else}
#{/set}