#{extends 'main.html'/}

#{set 'moreStyles'}
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.css"
      rel="stylesheet" type='text/css'>
#{/set}

<div onload="scroll()" class="scroller_anchor"></div>
<div class="scroller">
    <div id="stud_code" style="margin-left: 1rem">${code}</div>
    <div class="buttons_print">
        <!--<div><a href="@{SurveyController.student(code)}">Результаты опроса</a></div>-->
        <div><a href="@{SurveyController.student(code)}"><button class="result_button">&{'survey.survey.results'}</button></a></div>
        <div><button class="toggle_print" id="toggle_centered_print">&{'to.print'}</button></div>
    </div>
</div>

<div class="modal-overlay" style="display: none"></div>

<input class="total_number_of_comments" type="hidden" name="total" value="${total}"/>

<div class="chat-block" style="display:none" id="chat-block">
    #{list items:messageDtoList, as:'message'}
    <div class="divider" id="${message.vopMessage.student.id}">
        <div class="question_half">
            <div class="comment_header">
                <div class="author_info">
                    <div class="author_info_left">
                        &{'VOP'} : ${message.vopMessage.authorProfile.firstName} ${message.vopMessage.authorProfile.lastName}
                    </div>
                    <div class="author_info_right">
                        &{'tel'}: ${message.vopMessage.authorProfile.phone}
                    </div>
                </div>
                <div class="comment_info">
                    <div class="comment_info_left">
                        ${message.vopMessage.createdAt()}
                    </div>
                    <div class="comment_info_right">
                        #${message.order}
                    </div>
                </div>
            </div>
            <div class="vop_comment" style="word-break: break-all;" id="vop_comment${message.order}">
                #{verbatim} ${message.vopMessage.message} #{/verbatim}
            </div>
        </div>

        #{if user.group.key.equals("doctor")}
        <div class="second_half" style="width: 50%">
            <div class="comment_header">
                #{if message.psychoMessage != null}
                <div class="author_info">
                    <div class="author_info_left">
                        &{'psycho'}: ${message.psychoMessage.authorProfile.firstName}
                        ${message.psychoMessage.authorProfile.lastName}
                    </div>
                    <div class="author_info_right">
                        &{'tel'}: ${message.psychoMessage.authorProfile.phone}
                    </div>
                </div>
                <div class="comment_info">
                    <div class="comment_info_left">
                        ${message.psychoMessage.createdAt()}
                    </div>
                    <div class="comment_info_right">
                        #${message.order}
                    </div>
                </div>
                <div class="psycho_comment"> #{if message.psychoMessage !=
                    null}
                    #{verbatim} ${message.psychoMessage.message} #{/verbatim} #{/if}
                </div>

                #{/if}
            </div>
        </div>
        #{/if}
        #{if user.group.key.equals("psychiatrist")}
        <div class="not_edited_comment_psycho" style="width: 50%;">
            <form action="@{ StudentLeadingController.saveMessage(code, message.vopMessage.id) }" method="POST"
                  accept-charset="UTF-8">
                <div style="width:100%" class="second_half">
                    #{if message.psychoMessage != null}
                    <div class="comment_header">
                        <div class="author_info">
                            <div class="author_info_left">
                                &{'psycho'}:
                                ${message.psychoMessage.authorProfile.firstName}
                                ${message.psychoMessage.authorProfile.lastName}

                            </div>
                            <div class="author_info_right">
                                &{'tel'}:
                                ${message.psychoMessage.authorProfile.phone}

                            </div>
                        </div>
                        <div class="comment_info">
                            <div class="comment_info_left">
                                ${message.psychoMessage.createdAt()}
                            </div>
                            <div class="comment_info_right">
                                #${message.order}
                            </div>
                        </div>
                        <div class="psycho_comment" id="psycho_comment${message.order}"> #{if message.psychoMessage !=
                            null}
                            #{verbatim} ${message.psychoMessage.message} #{/verbatim} #{/if}
                        </div>
                    </div>
                    #{/if}
                    #{else}
                    <div class="author_info">
                        <div class="author_info_left">
                            &{'psycho'}: ${user.getProfile().firstName} ${user.getProfile().lastName}
                        </div>
                        <div class="author_info_right">
                            &{'tel'}: ${user.getProfile().phone}
                        </div>
                    </div>
                    <textarea class="input __js-tinymce" name="message" style="width: 100%; height: 220px; resize: none"></textarea>
                    #{/else}
                </div>
                #{if message.psychoMessage == null}
                <input style="float:right; width:100%; vertical-align: bottom;" class="submit_button" type="submit"
                       value="&{'student.leading.chat.save'}"/>
                #{/if}
            </form>
        </div>
        #{/if}
    </div>
    #{/list}
    #{if user.group.key.equals("doctor")}
    <div class="divider">
        <div class="question_half">
            <form action="@{ StudentLeadingController.saveMessage(code) }" method="POST" accept-charset="UTF-8">
                <textarea class="input __js-tinymce" name="message" style="width: 100%; height: 220px; resize: none"></textarea>
                <input style="float:right; width: 100%" class="submit_button" type="submit"
                       value="&{'student.leading.chat.save'}"/>
            </form>
        </div>
    </div>
    #{/if}

        <div id="ask-modal" class="modal survey-result-modal" style="height: 0rem; width: 40%; left: 30%;">
            <a id="ask-modal-close" class="survey-result-modal-close"><i class="fa fa-times" style="color: #4A4A4A; cursor: pointer" aria-hidden="true"></i></a>
            <h3 class="survey-result-modal-title" style="font-family: Roboto; font-weight: bold; font-size: 1.7em;"> &{'settings'} </h3>
            <div class="content" >
                <form style="font-family: Roboto; font-weight: 400; font-size: 1.7em;">
                    <input value="doctor" class="radio_class" style="display: inline-block;" name="groupKey" type="radio"/> &{'VOP'} <br/>
                    <input value="psychiatrist" class="radio_class" style="display: inline-block; margin-bottom: 1.5rem" name="groupKey" type="radio"/> &{'psycho'}
                    <div class="page_num_selection">&{'pages'}: <input id="pages_id" title="from" name="pages" placeholder="1, 1-3"/></div>
                </form>
            </div>
            <button id="send-button" class="survey-result-modal-button" style="margin-top: auto; margin-bottom: auto; cursor: pointer; padding: 1em;">&{'to.print'}</button>
            <div style="margin-bottom: 1rem" id="modal-success" hidden>&{'question.saved'}</div>
            <div style="margin-bottom: 1rem" id="modal-failure" hidden>&{'error'}</div>
        </div>

</div>


#{set 'moreScripts'}
<script src="https://cdn.tinymce.com/4/tinymce.min.js"></script>
<script src="/js/admin/libs/tinymce.js"></script>
<script src="/js/libs/chat_scripts.js"></script>

<script>
    $(document).ready(function() {
        $("#chat-block").show();
            $(document).scrollTop($(document).height());
    });
</script>
#{/set}