#{extends 'main.html'/}
<div class="student-leading-table-wrapper" style="margin-top: 4rem; margin-bottom: 4rem">
    <div class="student-leading-control-buttons">
        <div class="flex flex-50">
            <a class="student-leading-button" href="@{StudentLeadingController.newStudent()}">&{'student.leading.add'}</a>
        </div>
            <div class="flex">
            <form method="GET" class="student-leading-form-code" action="@{StudentLeadingController.index()}">
                <input value="${code}" class="student-leading-form-code-input" type="text" style="display: inline" placeholder="&{'student.leading.student.code'}" name="code">
                <input type="submit" class="student-leading-form-code-submit" value="&{'search'}"/>
            </form>
        </div>
    </div>
    #{if newStudent}
    <div style="color: #005993; margin-bottom: 1rem; font-weight: bold; font-size: 22px;">&{'student.leading.new.student.added'}: ${newStudent}</div>
    #{/if}
    <div style="color: #757575; margin-bottom: 1rem; font-weight: bold; font-size: 3rem">&{'student.leading.survey.results'}</div>

    <div class="student-leading-risk-count student-leading-risk-count-bold" style="margin-bottom: 1rem">&{'student.leading.student.all.number'}: ${allCount}</div>
    <div class="student-leading-list-table-wrapper">
        <table id="student-leading-table">
            <tr>
                <th>&{'code'}</th>
                *{<th>&{'survey.results'}</th>
                <th>&{'interview.results'}</th>
                <th>&{'interview.date'}</th>}*
                <th style="text-align: right;">&{'student.leading.delete'}</th>
            </tr>
            #{list items: students, as: 'student'}
            <tr>
                <td><a href="@{StudentLeadingController.chat(student.code)}">${student.dashedCode()}</a></td>
                    *{#{if student.status.equals(models.Student.Status.finished) && student.results.size() != 0}
                        #{if student.results.get(0).risk().equals(models.SurveyResult.Risk.high)}
                            <td class="status" style="color: #b71c1c"><b>&{'student.status.highrisk'}</b></td>
                        #{/if}
                        #{if student.results.get(0).risk().equals(models.SurveyResult.Risk.presents)}
                            <td class="status" style="color: #ef5350"><b>&{'student.status.risk'}</b></td>
                        #{/if}
                    #{/if}
                    #{else}
                        #{if student.status.equals(models.Student.Status.interrupted)}
                            <td class="status" style="color: #b71c1c"><b>&{'student.status.highrisk'}</b></td>
                        #{/if}
                        #{else}
                            <td><b>-</b></td>
                        #{/else}
                    #{/else}

                    #{if student.interviewResults.size() == 0}
                        <td> - </td>
                    #{/if}
                    #{else}
                        #{if student.interviewResults.get(0).verdict.equals(models.InterviewResult.Verdict.refuted)}
                            <td style="color: #5cb85c; font-weight: 500;"><b>&{'refuted'}</b></td>
                        #{/if}
                        #{else}
                            <td style="font-weight: 500;"><b>&{'approved'}</b></td>
                        #{/else}
                    #{/else}}*
                *{<td>
                    #{if student.interviewResults.size() == 0}

                    #{/if}
                    #{else}
                    ${student.interviewResults.get(0).formattedDate()}
                    #{/else}
                </td>}*

                <td style="text-align: right; padding-right: 3rem">
                    <a href="@{StudentLeadingController.deleteStudent(student.id)}"><i class="fa fa-trash delete-icon"></i></a>
                </td>
            </tr>
            #{/list}
        </table>
    </div>
    #{if students.size() == 0}
        <div style="text-align: center; font-size: 1.5rem; margin-top: 1rem; color: #c1e7f1">&{'student.leading.zero'}</div>
    #{/if}
    <div class="scroll-warning-sm">Вы можете прокручивать таблицу влево-вправо</div>
</div>
#{set 'moreScripts'}
    <script>
        $("#filter-dropdown").change(function() {
            window.location = "@{StudentLeadingController.index()}?type=" + $(this).val();
        });

    </script>
#{/set}
