#{list items: messagesForPrinting, as: 'message'}
    <div>
        <table>
            <tr>
                <th><b>${position}</b></th>
                <td>${message.authorProfile.lastName + " " + message.authorProfile.firstName}</td>
            </tr>
            <tr>
                <th><b>&{'tel'}</b></th>
                <td>${message.authorProfile.phone}</td>
            </tr>
            <tr>
                <th><b>&{'date.message'}</b></th>
                <td>${message.createdAt.format("dd-MM-yyyy HH:mm:SS")}</td>
            </tr>
            <tr>
                <td colspan="2">#{verbatim} ${message.message} #{/verbatim}</td>
            </tr>
        </table>
    </div>
    <hr/>
#{/list}