#{extends 'main.html'/}
<div class="loader" style="width: 100%; height: 100%; text-align: center">
    <h1>&{'results.loading'}</h1>
</div>
<div class="survey-result-wrapper" style="margin-top: 2rem; margin-bottom: 2rem; display: none">
    <div class="modal-overlay" style="display: none">
    </div>

    <div class="block-groups">
        <div class="left-block-group">
            <div class="student-info-block">
                <div class="title">
                    &{'results.main.information'}
                </div>
                <div class="block">
                    <div class="block-main-text">${code}</div>
                    #{if result.risk().equals(models.SurveyResult.Risk.high)}
                    <div class="block-sub-text" style="color: #b71c1c"><b>&{'student.status.highrisk'}</b></div>
                    #{/if}
                    #{if result.risk().equals(models.SurveyResult.Risk.presents)}
                    <div class="block-sub-text" style="color: #ef5350"><b>&{'student.status.risk'}</b></div>
                    #{/if}
                    #{if result.risk().equals(models.SurveyResult.Risk.low)}
                    <div class="block-sub-text" style="color: #ec971f"><b>&{'student.status.lowrisk'}</b></div>
                    #{/if}
                    #{if result.risk().equals(models.SurveyResult.Risk.no)}
                    <div class="block-sub-text" style="color: #5cb85c"><b>&{'student.status.norisk'}</b></div>
                    #{/if}
                    <div style="margin-top: 2rem; color: grey" class="block-sub-text">&{'results.date'}: ${result.formattedDate()}</div>
                </div>
            </div>
            <div class="add-info-block">
                <div class="title">
                    &{'results.additional'}
                </div>
                <div class="block">
                    <div class="text-group">
                        <div class="flex-row">
                            <span class="label">&{'results.lives'}: </span>
                            <span class="info">
                                 #{if result.q1 == 0}
                                     &{'q1.1.changed'}
                                 #{/if}
                                 #{elseif result.q1 == 1}
                                     &{'q1.2'}
                                 #{/elseif}
                                 #{elseif result.q1 == 2}
                                     &{'q1.3'}
                                 #{/elseif}
                                 #{elseif result.q1 == 3}
                                     &{'q1.4'}
                                 #{/elseif}
                                 #{else}
                                     &{'q1.5'}
                                 #{/else}
                            </span>
                        </div>
                        <div class="flex-row">
                            <span class="label">&{'results.siblings'}: </span>
                            <span class="info">
                                #{if result.q2 == 0}
                                     &{'no'}
                                 #{/if}
                                 #{elseif result.q2 == 1}
                                     &{'q2.2'}
                                 #{/elseif}
                                 #{elseif result.q2 == 2}
                                     &{'q2.3'}
                                 #{/elseif}
                            </span>
                        </div>
                        <div class="flex-row">
                            <span class="label">&{'results.health'}: </span>
                            <span class="info">${result.q3}/7</span>
                        </div>
                        #{if result.hasTriedToCommitSuicide}
                        <div class="flex-row">
                            <span class="label">&{'results.method'}: </span>
                            <span class="info">${result.suicideMethod}</span>
                        </div>
                        <div class="flex-row">
                            <span class="label">&{'results.talked.to.smbd'}:</span>
                            <span class="info #{if result.hasNotTalkedToSomeone} text-danger #{/if} #{else} text-success #{/else}">
                                #{if result.hasNotTalkedToSomeone}
                                     &{'no'}
                                 #{/if}
                                 #{else}
                                     &{'yes'}
                                 #{/else}
                            </span>
                        </div>
                        <div class="flex-row">
                            <span class="label">&{'results.medical.help'}: </span>
                            <span class="info #{if result.hasGotMedicalHelp} text-success #{/if} #{else} text-danger #{/else}">
                                #{if result.hasGotMedicalHelp}
                                     &{'yes'}
                                 #{/if}
                                 #{else}
                                     &{'no'}
                                 #{/else}
                            </span>
                        </div>
                        #{/if}
                        <div class="flex-row">
                            <span class="label">&{'results.self.damaging'}: </span>
                            <span class="info #{if result.isSelfDamaging} text-danger #{/if} #{else} text-success #{/else}">
                                #{if result.isSelfDamaging}
                                     &{'yes'}
                                 #{/if}
                                 #{else}
                                     &{'no'}
                                #{/else}
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <button style="cursor: pointer" id="survey-result-raw-modal-trigger" class="survey-result-modal-trigger survey-result-raw-modal-trigger"> &{'interview.resultsRaw'} </button>
            <button style="cursor: pointer" id="survey-result-modal-trigger" class="survey-result-modal-trigger"> &{'interview.results'} </button>
            <form action="@{StudentLeadingController.chat(student.id)}" method="POST" accept-charset="UTF-8">
                <button style="cursor: pointer" id="vop-psycho-chat" class="vop-psycho-chat"> &{'student.leading.vop.psycho.chat'} </button>
            </form>
        </div>
        <div class="right-block-group">
            <div class="scale-block">
                <div class="title">
                    &{'results.scales'}
                </div>
                <div class="scale-group">
                    <div class="title">
                        &{'results.scales.suicide'}
                    </div>
                    <div class="scale">
                        <div class="label">&{'results.immediate'}</div>
                        <div class="bar-wrapper">
                            <div id="emergency-bar" class="bar" value="#{if result.isSuicideHeavy}1#{/if} #{else}0#{/else}" maxval="1">
                                <div class="bar-range is-white is-bar-range-start bar-range-1">
                                    <span class="tooltiptext">&{'no'}</span>
                                </div>
                                <div class="bar-range is-super-heavy is-bar-range-end bar-range-2">
                                    <span class="tooltiptext">&{'yes'}</span>
                                </div>
                            </div>
                            <div class="bar-label-wrapper">
                                <span class="bar-label">0</span>
                                <span class="bar-label bar-label-limit-border text-danger">1</span>
                            </div>
                        </div>

                    </div>
                    <div class="scale">
                        <div class="label">&{'results.trial'}</div>
                        <div class="bar-wrapper">
                            <div id="attempt-bar" class="bar" value="#{if result.hasTriedToCommitSuicide}1#{/if} #{else}0#{/else}" maxval="1">
                                <div class="bar-range is-white is-bar-range-start bar-range-1">
                                    <span class="tooltiptext">&{'no'}</span>
                                </div>
                                <div class="bar-range is-super-heavy is-bar-range-end bar-range-2">
                                    <span class="tooltiptext">&{'yes'}</span>
                                </div>
                            </div>
                            <div class="bar-label-wrapper">
                                <span class="bar-label">0</span>
                                <span class="bar-label bar-label-limit-border text-danger">1</span>
                            </div>
                        </div>
                    </div>
                    <div class="scale">
                        <div class="label">&{'results.thoughts'}</div>
                        <div class="bar-wrapper">
                            <div id="suicidal-thoughts-bar" class="bar" value="${result.suicideThoughtsScale}" maxval="20">
                                <div class="bar-range is-white is-bar-range-start bar-range-1">
                                    <span class="tooltiptext">&{'no'}</span>
                                </div>
                                <div class="bar-range is-super-heavy is-bar-range-end bar-range-2">
                                    <span class="tooltiptext">&{'yes'}</span>
                                </div>

                            </div>
                            <div class="bar-label-wrapper">
                                <span class="bar-label">0</span>
                                <span id="suicidial-thoughts-bar-label" class="bar-label bar-label-limit text-danger">2</span>
                                <span class="bar-label">20</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="scale-group">
                    <div class="title">
                        &{'results.scales.dts'}
                    </div>
                    <div class="scale">
                        <div class="label">&{'results.depression'}</div>
                        <div class="bar-wrapper">
                            <div id="depression-bar" class="bar" value="${result.depressionScale}" maxval="21">
		        					<span class="bar-range is-norm is-bar-range-start bar-range-1">
		        						<span class="tooltiptext">&{'results.normal'}</span>
                                        <!-- <span class="bar-range-label bar-range-label-right">4 -->
		        						</span>
                                </span>
                                <div class="bar-range is-ok is-bar-range-middle bar-range-2">
                                    <span class="tooltiptext">&{'results.light'}</span>
                                    <!-- <span class="bar-range-label bar-range-label-left">5</span> -->
                                    <!-- <span class="bar-range-label bar-range-label-right">6</span> -->
                                </div>
                                <div class="bar-range is-medium is-bar-range-middle bar-range-3">
                                    <span class="tooltiptext">&{'results.middle'}</span>
                                    <!-- <span class="bar-range-label bar-range-label-left">7</span> -->
                                    <!-- <span class="bar-range-label bar-range-label-right">10</span> -->
                                </div>
                                <div class="bar-range is-heavy is-bar-range-middle bar-range-4">
                                    <span class="tooltiptext">&{'results.high'}</span>
                                    <!-- <span class="bar-range-label bar-range-label-left">11</span> -->
                                    <!-- <span class="bar-range-label bar-range-label-right">13</span> -->
                                </div>
                                <div class="bar-range is-super-heavy is-bar-range-end bar-range-5">
                                    <span class="tooltiptext tooltiptext-wide">&{'results.very.high'}</span>
                                    <!-- <span class="bar-range-label bar-range-label-left">14</span> -->
                                </div>
                            </div>
                            <div class="bar-label-wrapper">
                                <span class="bar-label">0</span>
                                <span id="depression-bar-label" class="bar-label bar-label-limit text-danger">11</span>
                                <span class="bar-label">21</span>
                            </div>
                        </div>
                    </div>
                    <div class="scale">
                        <div class="label">&{'results.anxiety'}</div>
                        <div class="bar-wrapper">
                            <div id="anxiety-bar" class="bar" value="${result.anxietyScale}" maxval="21">

		        					<span class="bar-range is-norm is-bar-range-start bar-range-1">
		        						<span class="tooltiptext">&{'results.normal'}</span>
                                        <!-- <span class="bar-range-label bar-range-label-right">3 -->
		        						</span>
                                </span>
                                <div class="bar-range is-ok is-bar-range-middle bar-range-2">
                                    <span class="tooltiptext">&{'results.light'}</span>
                                    <!-- <span class="bar-range-label bar-range-label-left">4</span> -->
                                    <!-- <span class="bar-range-label bar-range-label-right">5</span> -->
                                </div>
                                <div class="bar-range is-medium is-bar-range-middle bar-range-3">
                                    <span class="tooltiptext">&{'results.middle'}</span>
                                    <!-- <span class="bar-range-label bar-range-label-left">6</span> -->
                                    <!-- <span class="bar-range-label bar-range-label-right">7</span> -->
                                </div>
                                <div class="bar-range is-heavy is-bar-range-middle bar-range-4">
                                    <span class="tooltiptext">&{'results.high'}</span>
                                    <!-- <span class="bar-range-label bar-range-label-left">8</span> -->
                                    <!-- <span class="bar-range-label bar-range-label-right">9</span> -->
                                </div>
                                <div class="bar-range is-super-heavy is-bar-range-end bar-range-5">
                                    <span class="tooltiptext tooltiptext-wide">&{'results.very.high'}</span>
                                    <!-- <span class="bar-range-label bar-range-label-left">10</span> -->
                                </div>
                            </div>
                            <div class="bar-label-wrapper">
                                <span class="bar-label">0</span>
                                <span id="anxiety-bar-label" class="bar-label bar-label-limit text-danger">8</span>
                                <span class="bar-label">21</span>
                            </div>
                        </div>
                    </div>
                    <div class="scale">
                        <div class="label">&{'results.stress'}</div>
                        <div class="bar-wrapper">
                            <div id="stress-bar" class="bar" value="${result.stressScale}" maxval="21">

		        					<span class="bar-range is-norm is-bar-range-start bar-range-1">
		        						<span class="tooltiptext">&{'results.normal'}</span>
                                        <!-- <span class="bar-range-label bar-range-label-right">7 -->
		        						</span>
                                </span>
                                <div class="bar-range is-ok is-bar-range-middle bar-range-2">
                                    <span class="tooltiptext">&{'results.light'}</span>
                                    <!-- <span class="bar-range-label bar-range-label-left">8</span> -->
                                    <!-- <span class="bar-range-label bar-range-label-right">9</span> -->
                                </div>
                                <div class="bar-range is-medium is-bar-range-middle bar-range-3">
                                    <span class="tooltiptext">&{'results.middle'}</span>
                                    <!-- 	<span class="bar-range-label bar-range-label-left">10</span>
                                        <span class="bar-range-label bar-range-label-right">12</span> -->
                                </div>
                                <div class="bar-range is-heavy is-bar-range-middle bar-range-4">
                                    <span class="tooltiptext">&{'results.high'}</span>
                                    <!-- <span class="bar-range-label bar-range-label-left">13</span>
                                    <span class="bar-range-label bar-range-label-right">16</span> -->
                                </div>
                                <div class="bar-range is-super-heavy is-bar-range-end bar-range-5">
                                    <span class="tooltiptext tooltiptext-wide">&{'results.very.high'}</span>
                                    <!-- <span class="bar-range-label bar-range-label-left">17</span> -->
                                </div>
                            </div>
                            <div class="bar-label-wrapper">
                                <span class="bar-label">0</span>
                                <span id="stress-bar-label" class="bar-label bar-label-limit text-danger">13</span>
                                <span class="bar-label">21</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="scale-group">
                    <div class="title">
                        &{'results.scales.emotions'}
                    </div>
                    <div class="scale scale-big">
                        <div class="label">&{'results.total'}</div>
                        <div class="bar-wrapper">
                            <div id="global-bar" class="bar" value="${result.totalProblemsScale}" maxval="40">

		        					<span class="bar-range is-norm is-bar-range-start bar-range-1">
		        						<span class="tooltiptext">&{'results.normal'}</span>
                                        <!-- <span class="bar-range-label bar-range-label-right">7 -->
		        						</span>
                                </span>
                                <div class="bar-range is-medium is-bar-range-middle bar-range-2">
                                    <span class="tooltiptext tooltiptext-wide">&{'results.border'}</span>
                                    <!-- <span class="bar-range-label bar-range-label-left">8</span> -->
                                    <!-- <span class="bar-range-label bar-range-label-right">9</span> -->
                                </div>
                                <div class="bar-range is-super-heavy is-bar-range-end bar-range-3">
                                    <span class="tooltiptext tooltiptext-wide">&{'results.violation'}</span>
                                    <!-- 	<span class="bar-range-label bar-range-label-left">10</span>
                                        <span class="bar-range-label bar-range-label-right">12</span> -->
                                </div>
                            </div>
                            <div class="bar-label-wrapper">
                                <span class="bar-label">0</span>
                                <span id="global-bar-label" class="bar-label bar-label-limit text-danger">20</span>
                                <span class="bar-label">40</span>
                            </div>
                        </div>
                    </div>
                    <div class="scale">
                        <div class="label">&{'results.emo.simp'}</div>
                        <div class="bar-wrapper">
                            <div id="emotional-bar" class="bar" value="${result.emotionalSymptomsScale}" maxval="10">

		        					<span class="bar-range is-norm is-bar-range-start bar-range-1">
		        						<span class="tooltiptext">&{'results.normal'}</span>
                                        <!-- <span class="bar-range-label bar-range-label-right">7 -->
		        						</span>
                                </span>
                                <div class="bar-range is-medium is-bar-range-middle bar-range-2">
                                    <span class="tooltiptext tooltiptext-wide">&{'results.border'}</span>
                                    <!-- <span class="bar-range-label bar-range-label-left">8</span> -->
                                    <!-- <span class="bar-range-label bar-range-label-right">9</span> -->
                                </div>
                                <div class="bar-range is-heavy is-bar-range-end bar-range-3">
                                    <span class="tooltiptext tooltiptext-wide">&{'results.deviation'}</span>
                                    <!-- 	<span class="bar-range-label bar-range-label-left">10</span>
                                        <span class="bar-range-label bar-range-label-right">12</span> -->
                                </div>
                            </div>
                            <div class="bar-label-wrapper">
                                <span class="bar-label">0</span>
                                <span id="emotional-bar-label" class="bar-label bar-label-limit text-danger">7</span>
                                <span class="bar-label">10</span>
                            </div>
                        </div>
                    </div>
                    <div class="scale">
                        <div class="label">&{'results.behavior.problems'}</div>
                        <div class="bar-wrapper">
                            <div id="behavioral-bar" class="bar" value="${result.behavioralProblemsScale}" maxval="10">
		        					<span class="bar-range is-norm is-bar-range-start bar-range-1">
		        						<span class="tooltiptext">&{'results.normal'}</span>
                                        <!-- <span class="bar-range-label bar-range-label-right">7 -->
		        						</span>
                                </span>
                                <div class="bar-range is-medium is-bar-range-middle bar-range-2">
                                    <span class="tooltiptext tooltiptext-wide">&{'results.border'}</span>
                                    <!-- <span class="bar-range-label bar-range-label-left">8</span> -->
                                    <!-- <span class="bar-range-label bar-range-label-right">9</span> -->
                                </div>
                                <div class="bar-range is-heavy is-bar-range-end bar-range-3">
                                    <span class="tooltiptext tooltiptext-wide">&{'results.deviation'}</span>
                                    <!-- 	<span class="bar-range-label bar-range-label-left">10</span>
                                        <span class="bar-range-label bar-range-label-right">12</span> -->
                                </div>
                            </div>
                            <div class="bar-label-wrapper">
                                <span class="bar-label">0</span>
                                <span id="problem-bar-label" class="bar-label bar-label-limit text-danger">5</span>
                                <span class="bar-label">10</span>
                            </div>
                        </div>
                    </div>
                    <div class="scale">
                        <div class="label">&{'results.hypermobility'}</div>
                        <div class="bar-wrapper">
                            <div id="hyperactivity-bar" class="bar" value="${result.hyperactivityScale}" maxval="10">
		        					<span class="bar-range is-norm is-bar-range-start bar-range-1">
		        						<span class="tooltiptext">&{'results.normal'}</span>
                                        <!-- <span class="bar-range-label bar-range-label-right">7 -->
		        						</span>
                                </span>
                                <div class="bar-range is-medium is-bar-range-middle bar-range-2">
                                    <span class="tooltiptext tooltiptext-wide">&{'results.border'}</span>
                                    <!-- <span class="bar-range-label bar-range-label-left">8</span> -->
                                    <!-- <span class="bar-range-label bar-range-label-right">9</span> -->
                                </div>
                                <div class="bar-range is-heavy is-bar-range-end bar-range-3">
                                    <span class="tooltiptext tooltiptext-wide">&{'results.deviation'}</span>
                                    <!-- 	<span class="bar-range-label bar-range-label-left">10</span>
                                        <span class="bar-range-label bar-range-label-right">12</span> -->
                                </div>
                            </div>
                            <div class="bar-label-wrapper">
                                <span class="bar-label">0</span>
                                <span id="hyperactivity-bar-label" class="bar-label bar-label-limit text-danger">7</span>
                                <span class="bar-label">10</span>
                            </div>
                        </div>
                    </div>
                    <div class="scale">
                        <div class="label">&{'results.peer.problems'}</div>
                        <div class="bar-wrapper">
                            <div id="peers-bar" class="bar" value="${result.peerProblemsScale}" maxval="10">
		        					<span class="bar-range is-norm is-bar-range-start bar-range-1">
		        						<span class="tooltiptext">&{'results.normal'}</span>
                                        <!-- <span class="bar-range-label bar-range-label-right">7 -->
		        						</span>
                                </span>
                                <div class="bar-range is-medium is-bar-range-middle bar-range-2">
                                    <span class="tooltiptext tooltiptext-wide">&{'results.border'}</span>
                                    <!-- <span class="bar-range-label bar-range-label-left">8</span> -->
                                    <!-- <span class="bar-range-label bar-range-label-right">9</span> -->
                                </div>
                                <div class="bar-range is-heavy is-bar-range-end bar-range-3">
                                    <span class="tooltiptext tooltiptext-wide">&{'results.deviation'}</span>
                                    <!-- 	<span class="bar-range-label bar-range-label-left">10</span>
                                        <span class="bar-range-label bar-range-label-right">12</span> -->
                                </div>
                            </div>
                            <div class="bar-label-wrapper">
                                <span class="bar-label">0</span>
                                <span id="peers-bar-label" class="bar-label bar-label-limit text-danger">6</span>
                                <span class="bar-label">10</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="scale-group">
                    <div class="title">
                        &{'results.scales.prosocial'}
                    </div>
                    <div class="scale">
                        <div class="label">&{'results.prosocial.behaviour'}</div>
                        <div class="bar-wrapper">
                            <div id="prosocial-bar" class="bar" value="${result.prosocialBehaviorScale}" maxval="10">
		        					<span class="bar-range is-norm is-bar-range-start bar-range-1">
		        						<span class="tooltiptext">&{'results.normal'}</span>
                                        <!-- <span class="bar-range-label bar-range-label-right">7 -->
		        						</span>
                                </span>
                                <div class="bar-range is-medium is-bar-range-middle bar-range-2">
                                    <span class="tooltiptext tooltiptext-wide">&{'results.border'}</span>
                                    <!-- <span class="bar-range-label bar-range-label-left">8</span> -->
                                    <!-- <span class="bar-range-label bar-range-label-right">9</span> -->
                                </div>
                                <div class="bar-range is-heavy is-bar-range-end bar-range-3">
                                    <span class="tooltiptext tooltiptext-wide">&{'results.deviation'}</span>
                                    <!-- 	<span class="bar-range-label bar-range-label-left">10</span>
                                        <span class="bar-range-label bar-range-label-right">12</span> -->
                                </div>
                            </div>
                            <div class="bar-label-wrapper">
                                <span class="bar-label">10</span>
                                <span id="prosocial-bar-label" class="bar-label bar-label-limit text-danger">4</span>
                                <span class="bar-label">0</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

#{if !result.risk().equals(models.SurveyResult.Risk.no)}
<div id="survey-result-modal" class="modal survey-result-modal">
    <a id="survey-result-modal-close" class="survey-result-modal-close" style="cursor: pointer"><i style="color: #4A4A4A" class="fa fa-times" aria-hidden="true"></i></a>
    <h3 class="survey-result-modal-title"> &{'interview.results'} </h3>
    <p id="modal-textarea" rows="4" class="survey-result-modal-text" placeholder="&{'interview.notes'}...">${result?.interviewResult?.text}</p>
</div>
#{/if}

#{set 'moreScripts'}
<script type="text/javascript">
        var barRanges = {
    		emergencyBar: {
    			1: 0,
    			2: 1
    		},
    		attemptBar: {
    			1: 0,
    			2: 1
    		},
    		suicidalThoughtsBar: {
    			1: 1,
    			2: 20
    		},
    		depressionBar: {
    			1: 4,
    			2: 6,
    			3: 10,
    			4: 13,
    			5: 21
    		},
    		anxietyBar: {
    			1: 3,
    			2: 5,
    			3: 7,
    			4: 9,
    			5: 21
    		},
    		stressBar: {
    			1: 7,
    			2: 9,
    			3: 12,
    			4: 16,
    			5: 21
    		},
    		emotionalBar: {
    			1: 5,
    			2: 6,
    			3: 10
    		},
    		behavioralBar: {
    			1: 3,
    			2: 4,
    			3: 10
    		},
    		hyperactivityBar: {
    			1: 5,
    			2: 6,
    			3: 10
    		},
    		peersBar: {
    			1: 3,
    			2: 5,
    			3: 10
    		},
    		prosocialBar: {
    			1: 6,
    			2: 5,
    			3: 0

    		},
    		globalBar: {
    			1: 15,
    			2: 19,
    			3: 40
    		}

    	};

    	function lockScroll() {
            $('.survey-result-wrapper').on('scroll touchmove mousewheel', function(e){
              e.preventDefault();
              e.stopPropagation();
              return false;
            });

            $('.survey-result-wrapper').keydown(function(e) {
                if (e.keyCode == 37 ||
                    e.keyCode == 38 ||
                    e.keyCode == 39 ||
                    e.keyCode == 40) {

                } {
                    e.preventDefault();
                    e.stopPropagation();
                    return false;
                }
            });
        }

        function unlockScroll() {
            $('.survey-result-wrapper').off('scroll touchmove mousewheel');
            $('.survey-result-wrapper').off('keydown');

        }

    	function whichBarRange(barElement) {
    		var barName = barElement.attr("id");
    		var val = barElement.attr("value");


    		//some processing
    		//hyphen case to camelcase
    		var barNameCamel = barName.replace(/-([a-z])/g, function (g) { return g[1].toUpperCase(); });

    		if (barNameCamel == "prosocialBar") {
    			var barObject = barRanges[barNameCamel];
    			var arrayKeys = Object.keys(barObject);
    			//returns key of barObject which corresponds to value
    			for (var i = 0; i < arrayKeys.length; i++) {
    				if (val >= barObject[arrayKeys[i]]) {
    					var range = 0;
    					if (arrayKeys[i] == 1) {
    						range = 5;
    					var orderInRan;
    						orderInRange = 10 - val + 1;
    					} else if (arrayKeys[i] == 2) {
    						range = 1;
    						orderInRange = 5 - val + 1;
    					} else {
    						range = 5;
    						orderInRange = 4 - val + 1;
    					}
    					return {
    						num: arrayKeys[i],
    						range: range,
    						orderInRange: orderInRange
    					}
    				}
    			}
    		} else {
    			var barObject = barRanges[barNameCamel];
    			var arrayKeys = Object.keys(barObject);

    			//returns key of barObject which corresponds to value
    			for (var i = 0; i < arrayKeys.length; i++) {
    				if (val <= barObject[arrayKeys[i]]) {
    					var range = 0;
    					var orderInRange = 0;

    					if (arrayKeys[i] == 1) {
    						range = barObject[arrayKeys[i]] + 1; //since 0 is also there
    						orderInRange = range - (barObject[arrayKeys[i]] - val);
    					} else {
    						range = barObject[arrayKeys[i]] - barObject[arrayKeys[i - 1]];
    						orderInRange = range - (barObject[arrayKeys[i]] - val);
    					}

    					return {
    						num: arrayKeys[i],
    						range: range,
    						orderInRange: orderInRange
    					}
    				}
    			}
    		}
    	}


    	function init() {
	    	$(".bar").each(function() {
	    		//setting the values
	    		var barHandle = $(this).children().first();
	    		var barHandleValue = $(this).attr("value");
	    		var barHandleMaxValue = parseInt($(this).attr("maxval"));


	    		var insertBar = '<span class="bar-handle">' + barHandleValue + '</span>';
	    		var which = whichBarRange($(this));
	    		var barRangeNum = which.num;
	    		var barRangeRange = which.range;
	    		var barRangeOrder = which.orderInRange;


	    		var barRangeSelector = ".bar-range-" + barRangeNum;
	    		var barRangeElement = $(this).children(barRangeSelector).first();
	    		barRangeElement.append(insertBar);
	    		// $(this).children(barRangeSelector).first().children(".bar-handle").css("margin-right", 0);

	    		var barHandleElement = barRangeElement.children(".bar-handle");

                if (this.id != 'prosocial-bar') {
                    if (barHandleValue == 0) {
                        barHandleElement.css("margin-left", 0);
                    } else if (barHandleValue == barHandleMaxValue) {
                        barHandleElement.css("margin-left", barRangeElement.width() - barHandleElement.width());
                    } else {
                        barHandleElement.css("margin-left", 3 + (barRangeOrder - 1) * (barRangeElement.width() - barHandleElement.width()) / (barRangeRange + 1));
                    }
	    		} else {
	    		    if (barHandleValue == 10) {
                        barHandleElement.css("margin-left", 0);
                    } else if (barHandleValue == 0) {
                        barHandleElement.css("margin-left", barRangeElement.width() - barHandleElement.width());
                    } else {
                        barHandleElement.css("margin-left", 3 + (barRangeOrder - 1) * (barRangeElement.width() - barHandleElement.width()) / (barRangeRange + 1));
                    }
	    		}

	    	})
	    }


	    function destroy() {
	    	$(".bar-handle").remove();
	    }


	    $(window).resize(function() {
	    	destroy();
	    	init();
	    });

        $(document).ready(function() {
            $(".loader").hide();
            $(".survey-result-wrapper").show();

            #{if !result.risk().equals(models.SurveyResult.Risk.no)}
            //modal listeners
            $("#survey-result-modal-trigger").click(function() {
                $(".modal-overlay").show();
                $("#survey-result-modal").css('display', 'flex');
            });

            $("#survey-result-modal-close").click(function() {
                $("#survey-result-modal").hide();
                $(".modal-overlay").hide();
            });

            #{/if}

            //raw results listeners
            $("#survey-result-raw-modal-trigger").click(function() {
                var win = window.open("@{controllers.StudentLeadingController.downloadAnswers(trimmedCode)}", '_blank');
                win.focus();
            });

            (function() {
                 var
                  form = $('#survey-result-raw-modal-block'),
                  cache_width = form.width(),
                  a4 = [595.28, 841.89]; // for a4 size paper width and height

                 $('#create_pdf').on('click', function() {
                    var doc = new jsPDF({
                     unit: 'px',
                     format: 'a4'
                    });

                    doc.fromHTML(form.get(0), 15, 15, {
                        'width': 170
                    });

                    doc.save('techumber-html-to-pdf.pdf');
                 });

                 // create canvas object
                 function getCanvas() {
                  form.width((a4[0] * 1.33333) - 80).css('max-width', 'none');
                  return html2canvas(form, {
                   imageTimeout: 2000,
                   removeContainer: true
                  });
                 }

                }());



            init();
        });
    </script>
#{/set}