#{extends 'admin/admin.main.html'/}

#{set 'section'} Новости #{/set}
#{set 'action'} Список #{/set}

#{set 'actions'}
    <a href="@{Admin.newsCreate()}" class="button is-dark is-outlined">Добавить запись</a>
#{/set}

#{set 'content'}
    #{include 'admin/news/partials/filter.html' /}

    #{if newsList.size() > 0}
        <table class="table is-striped is-narrow">
            <thead>
            <tr>
                <th width="50">ID</th>
                <th>Название</th>
                <th>Тип</th>
                <th>Группа</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            #{list items: newsList, as: 'news'}
                <tr>
                    <td>${news.id}</td>
                    <td>${news.name}</td>
                    <td>${news.newsType.name}</td>
                    <td>#{if news.group}${news.group.name}#{/if}#{else}Общая#{/else}</td>
                    <td class="is-icon">
                        #{includes.index.table-actions-news news: news/}
                    </td>
                </tr>
            #{/list}
            </tbody>
        </table>

        <!--{{ $entities->appends(paginateAppends())->links() }}-->
    #{/if}
    #{else}
        #{include 'admin/includes/index/no-results.html' /}
    #{/else}
#{/set}