<div class="notification">
    <form method="GET" action="@{Admin.users()}">
        <div class="control is-horizontal">
            <div class="control-label">
                <label class="label">ID</label>
            </div>
            <div class="control">
                <p class="control is-width-one-quarter">
                    #{includes.form.filter.input name: idInputName /}
                </p>
            </div>
        </div>

        <div class="control is-horizontal">
            <div class="control-label">
                <label class="label">Email</label>
            </div>
            <div class="control">
                <p class="control is-width-full">
                    #{includes.form.filter.input name: emailInputName/}
                </p>
            </div>
        </div>

        <div class="control is-horizontal">
            <div class="control-label">
                <label class="label"></label>
            </div>
            <p class="control">
                <button type="submit" class="button is-info">Найти</button>
                <a href="@{Admin.users()}" class="button is-link">Отменить</a>
            </p>
        </div>
    </form>
</div>
