#{extends 'admin/admin.main.html'/}
#{set 'section'} Прогресс #{/set}
#{set 'action'} аккаунтов #{/set}

#{set 'content'}
#{ include 'admin/accounts/partials/filter.html'/}
#{if accounts && accounts.size() > 0}
<table class="table is-striped is-narrow">
    <thead>
    <tr>
        <th width="50">ID</th>
        <th>Логин</th>
        <th>Группа</th>
        <th>Статус</th>
    </tr>
    </thead>
    <tbody>
    #{list items: accounts, as: 'account'}
    <tr>
        <td>${account.id}</td>
        <td><a href="@{Admin.accountInfo(account.id)}">${account.username}</a></td>
        <td>${account.group.name}</td>
        <td>
            #{if account.isLastQuizFinished}
                <b style="color: #8bc34a">Курс завершен</b>
            #{/if}
            #{else}
                #{if !account.isFirstQuizFinished}
                    #{if account.getProfile() == null}
                        <b style="color: #d32f2f">Анкета не заполнена</b>
                    #{/if}
                    #{else}
                        <b style="color: #d32f2f">Не пройден первый тест</b>
                    #{/else}
                #{/if}
                #{else}
                    #{set currentPage: account.getCurrentPage() /}
                    #{if currentPage == 0}
                        <b style="color: #ff9800">Пройден только первый тест</b>
                    #{/if}
                    #{else}
                        <b style="color: #ff9800">Пройден шаг #${currentPage}</b>
                    #{/else}
                #{/else}
            #{/else}
        </td>
    </tr>
    #{/list}
    </tbody>
</table>
#{/if}
#{else}
#{if !results}
#{include 'admin/includes/index/no-results.html'/}
#{/if}
#{/else}
#{/set}