<div class="control is-horizontal">
    <div class="control-label">
        <label class="label"></label>
    </div>
    <p class="control">
        <button type="submit" class="button is-info">${_action}</button>
        <a href='@{Admin.accounts()}' class="button is-link">Отменить</a>
    </p>
</div>
