#{extends 'admin/admin.main.html' /}

#{set 'section'} Уроки #{/set}
#{set 'action'} Редактирование #{/set}

#{set 'content'}
    #{include 'admin/includes/form/tinymce-upload.html' /}

    <form method="post" enctype="multipart/form-data" action="@{Admin.updateLesson(lesson.id)}">
        #{include 'admin/lessons/partials/form.html' /}

        #{includes.form.actions action: action/}
    </form>

    #{if emptyFieldsError}
    <div class="notification is-danger" style="margin-top: 20px">
        ${emptyFieldsError}
    </div>
    #{/if}
#{/set}
