#{extends 'admin/admin.main.html'/}

#{set 'section'} Уроки #{/set}
#{set 'action'} Список #{/set}

#{set 'actions'}
    <a href="@{Admin.lessonsCreate()}" class="button is-dark is-outlined">Добавить запись</a>
#{/set}

#{set 'content'}
    #{include 'admin/lessons/partials/filter.html' /}

    #{if lessons.size() > 0}
        <table class="table is-striped is-narrow">
            <thead>
            <tr>
                <th width="50">ID</th>
                <th>Название</th>
                <th>Группа</th>
                <th>Шаг</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            #{list items: lessons, as: 'lesson'}
                <tr>
                    <td>${lesson.id}</td>
                    <td>${lesson.name}</td>
                    <td>${lesson.group.name}</td>
                    <td>${lesson.step.name}</td>
                    <td class="is-icon">
                        #{includes.index.table-actions-lessons lesson: lesson/}
                    </td>
                </tr>
            #{/list}
            </tbody>
        </table>

        <!--{{ $entities->appends(paginateAppends())->links() }}-->
    #{/if}
    #{else}
        #{include 'admin/includes/index/no-results.html' /}
    #{/else}
#{/set}