#{extends 'admin/admin.main.html' /}

#{set 'section'} Тесты #{/set}
#{set 'action'} Список #{/set}

#{set 'actions'}
    <a href="@{Admin.quizzesCreate()}" class="button is-dark is-outlined">Добавить запись</a>
#{/set}

#{set 'content'}
    #{include 'admin/quizzes/partials/filter.html' /}

    #{if quizzes.size() > 0}
        <table class="table is-striped is-narrow">
            <thead>
            <tr>
                <th width="50">ID</th>
                <th>Название</th>
                <th>Вопросов</th>
                <th>Группа</th>
                <th>Шаг</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            #{list items: quizzes, as: 'quiz'}
                <tr>
                    <td>${quiz.id}</td>
                    <td>${quiz.name}</td>
                    <td>${quiz.quizQuestions.size()}</td>
                    <td>${quiz.group.name}</td>
                    <td>${quiz.step.name}</td>
                    <td class="is-icon">
                        #{includes.index.table-actions-quizzes quiz: quiz/}
                    </td>
                </tr>
            #{/list}
            </tbody>
        </table>

        <!--{{ $entities->appends(paginateAppends())->links() }}-->
    #{/if}
    #{else}
        #{include 'admin/includes/index/no-results.html'/}
    #{/else}
#{/set}