#{extends 'main.html' /}
<section class="questionary-outer">
    <div class="questionary-inner">
        <h1 class="title">&{'settings.changepassword'}</h1>
        <div class="main-block-content">
            <form class="form form-login" action="@{Settings.savePassword()}" method="POST">
                #{if error}
                <div class="form__warning">&{'settings.changepassword.error'}</div>
                #{/if}
                <table class="form-table">
                    <tbody>
                    <tr>
                        <td>
                            <label>&{'settings.changepassword.currentpassword'}: <i>*</i></label>
                        </td>
                        <td>
                            <input name="currentPassword" type="password" placeholder="" required>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>&{'settings.changepassword.newpassword'}: <i>*</i></label>
                        </td>
                        <td>
                            <input name="newPassword" type="password" placeholder="" required>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>&{'settings.changepassword.confirmpassword'}: <i>*</i></label>
                        </td>
                        <td>
                            <input name="newPasswordConfirm" type="password" placeholder="" required>
                        </td>
                    </tr>
                    <tr>
                        <td>&nbsp</td>
                        <td>
                            <button class="button-radius-big button_theme_blue" type="submit">&{'settings.save'}</button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </form>
        </div>
    </div>
</section>