$fa-font-path: "/css/admin/fonts";
$primary: hsl(217, 71%, 53%);

@import "../../../../node_modules/bulma/bulma";
@import "../../../../node_modules/font-awesome/scss/font-awesome";

// Additional
.body {
  margin: 40px auto 20px;
}

#nav {
  .nav-left {
    .nav-item:first-child {
      color: #fff;
    }
  }
}

.is-icon {
  a {
    text-decoration: none;
    border-bottom: none !important;
  }
}

label.checkbox,
input[type=file] {
  margin-top: 10px;
  margin-bottom: 10px;
}

.content {
  background: #fff;
  padding: 20px;
  border-radius: 5px;
}

aside.menu {
  margin-left: 20px;
}

.tabs .is-active {
  margin-bottom: -4px;
}

.is-link {
  margin-left: 10px;
}

.pagination ul {
  list-style: none;
}

table {
  td, th {
    padding: 10px !important;
  }
}

.is-width-full,
.is-width-three-quarters,
.is-width-two-thirds,
.is-width-half,
.is-width-one-third,
.is-width-one-quarter {
  .select {
    width: 100%;
  }
}

.label {
  width: 200px;
}

.is-width-full {
  width: 100%;
}

.is-width-three-quarters {
  width: 75%;
}

.is-width-two-thirds {
  width: 67%;
}

.is-width-half {
  width: 50%;
}

.is-width-one-third {
  width: 33%;
}

.is-width-one-quarter {
  width: 25%;
}

.filter {
  margin-bottom: 20px;
}

.quiz {
  margin: 20px -20px;
  background: #f0f0f0;
  padding: 20px;

  .questions {
    .__has-action {
      input[type=text] {
        width: 690px;
      }

      .__actions {
        float: right;
      }

      &.answer {
        input[type=text] {
          width: 690px;
        }

        .__actions {
          button {
            margin-top: 5px;
          }
        }
      }
    }

    .question {
      background: #fff;
      border: 1px solid #ccc;
      border-radius: 3px;
      padding: 20px;
      margin-bottom: 20px;

      &:last-child {
        margin-bottom: 0;
      }

      .answers {
        //

        .answer {
          margin-bottom: 10px;

          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }
  }
}

.g-recaptcha {
  margin-bottom: 10px;
}
.g-recaptcha > div:first-child {
  margin: auto;
}

.locations {
  .select {
    width: 100%;
    margin-bottom: 10px;

    &:last-child {
      margin: 0;
    }

    select {
      width: 100%;
    }
  }
}
