<span class="select">
    <select name="${_name}" class="input">
        #{if _old}
            #{list items: _dropdownOptions, as: 'option'}
                #{if option.id.equals(_old.id)}
                    #{includes.form.field.dropdown-array option: option, selected: true/}
                #{/if}
                #{else}
                    #{includes.form.field.dropdown-array option: option/}
                #{/else}
            #{/list}
        #{/if}
        #{else}
            <option></option>
            #{list items: _dropdownOptions, as: 'option'}
                #{includes.form.field.dropdown-array option: option/}
            #{/list}
        #{/else}
    </select>
</span>

#{include 'admin/includes/form/error.html'/}
