<div class="question">
    <div class="control __has-action">
        <div class="__actions">
            <button class="button is-success __question-create" type="button">
                <i class="fa fa-plus" aria-hidden="true"></i>
            </button>

            <button class="button is-danger __question-remove" type="button">
                <i class="fa fa-times" aria-hidden="true"></i>
            </button>
        </div>

        <input type="text" data-question="true" class="input" name=""
               value="#{if _old}${_old.value}#{/if}"
        />
        <!--<input type="hidden" data-question="true" name="" value="">-->

        #{include 'admin/includes/form/error.html' /}
    </div>

    <div class="control">
        <textarea name="" rows="3"
                  class="input">#{if _old}${_old.description}#{/if}</textarea>

        #{include 'admin/includes/form/error.html' /}
    </div>

    <hr>

    <div class="answers">
        #{if _old}
            #{list items: _old.quizAnswers, as: 'answer'}
                #{includes.form.field.item-answer old: answer/}
            #{/list}
        #{/if}
        #{else}
            #{includes.form.field.item-answer/}
        #{/else}
    </div>
</div>
