<div class="answer control __has-action">
    <div class="__actions">
        <label class="checkbox">
             <input type="hidden" name="" value="0">
            <input type="checkbox" name="" value="1" #{if _old} #{if _old.isRight} checked #{/if} #{/if}
            />
        </label>

        <button class="button is-success is-small __answer-create" type="button">
            <i class="fa fa-plus" aria-hidden="true"></i>
        </button>

        <button class="button is-danger is-small __answer-remove" type="button">
            <i class="fa fa-times" aria-hidden="true"></i>
        </button>
    </div>

    <input type="text" class="input" name="" placeholder="Вариант ответа"
           value="#{if _old}${_old.value}#{/if}">
    <!--<input type="hidden" name="{{ $arrayKey }}[id]" value="">-->

    #{include 'admin/includes/form/error.html' /}
</div>
