.chat-block{
  width: 95%;
  margin-right: auto;
  margin-left: auto;
  background-color: transparent;
  box-shadow: none;
  margin-top: 2rem;
  border-width: 0;
  border-radius: 10px;
}

.flex_block{
  display: flex;
  flex-direction: column-reverse;
}

.divider{
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  margin-top: 15px;
  margin-bottom: 20px;
}

.question_half{
  width: 48%;
  background-color: white;
  box-shadow: 2px 2px 11px 0 rgba(0, 0, 0, 0.5);
}

.second_half{
  width: 48%;
  background-color: white;
  box-shadow: 2px 2px 11px 0 rgba(0, 0, 0, 0.5);
}

.color_box{
  background-color: #0092bc;
  border-width: 0;
  border-radius: 10px;
  width: 100%;
  padding: 5px;

  margin-bottom: 5px;
}

.vop_comment {
  background-color: white;
  width: 100%;
  padding: 10px;
  min-height: 240px;
  display: inline-block;
}

.vop_comment_header {
    padding: 5px;
    background-color: #ece2e2;
}

.psycho_comment {
  background-color: white;
  width: 100%;
  padding: 10px;
  min-height: 240px;
  display: inline-block;
}

.psycho_comment_header {
    padding: 5px;
    background-color: #ece2e2;
}

.comment_info {
    background: #abb3b7;
    font-family: "Roboto", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
}

.comment_info_left {
  padding: 10px;
  font-size: 12px;
  float: left;
  margin-bottom: 1px;
}

.comment_info_right {
  padding: 10px;
  font-size: 12px;
  text-align: right;
  margin-bottom: 1px;
}

.author_info {
    background: #5c96b8;
    font-family: "Roboto", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
}

.author_info_left {
  padding: 10px;
  font-size: 12px;
  float: left;
  margin-bottom: 1px;
}

.author_info_right {
  padding: 10px;
  font-size: 12px;
  text-align: right;
  margin-bottom: 1px;
}

.name_head{
  display: flex;
  flex-direction: row;
}


.number_p p{
  font-size: 12px;
  font-style: italic;
}

.hidden_new_question{

  border-width: 0;
  border-radius: 2px;

  background-color:  #43ac89;
  height: 40px;
  padding: 3px;
  color: white;

}

.submit_button{
  border-width: 0;
  border-radius: 0px;

  background-color: #4f9758;
  height: 35px;
  padding: 3px;
  color: white;
  font-family: Roboto;
  font-weight: 400;

}

.submit_button:hover {
    cursor: pointer;
}

.write_new_answer{
  border-width: 0;
  border-radius: 2px;

  background-color: #43ac89;
  height: 30px;
  padding: 3px;
  color: white;
  font-family: Roboto;
  font-weight: 400;

}

.hidden_question{
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}

.textarea_class{
  width: 100%;
  resize: none;
}

.textarea_question{
  width: 100%;
  resize: none;
  margin-bottom: 5px;
}

.add_question_block{
  width: 45%;
}

.scroller_anchor{
  height:0px;
  margin:0;
  padding:0;
}

.scroller{
  border: none;
  //margin:auto;
  z-index:100;
  height:50px;
  font-family: Roboto;
  font-weight: bold;
  font-size: 16px;
  text-align:center;

  padding: 5px;

  width:50%;
//  left: 30%;
  margin-left: 25%;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.scroller{
  background: #4f9758;
  color: white;
  border-radius: 0px 0px 4px 4px;
  align-items: center;
}

.buttons_print{
  display: flex;
  flex-direction: row;
  margin-right: 7px;
}

.stud_code{
  margin-left: 7px;
}

#toggle_centered_print {
  //position: absolute;
}

.page_num_selection input{
  padding: 3px;
  width: 45%;
}

#stud_code{
  font-family: Roboto;
  font-weight: bold;
  font-size: 1em;
  align-self: center;

  margin-left: 0.2em;
}



.toggle_print {
  border: none;
  border-radius: 5px;
  font-family: Roboto;
  font-weight: bold;
  color: #ffffff;
  font-size: 1em;
  background: #186221;
  padding: 0.25em;
  text-decoration: none;
  margin-left: 0.5em;
  align-self: center;
  white-space: nowrap;
  margin-top: auto;
  margin-bottom: auto;
  padding: 0.5rem;
}

.toggle_print:hover {
  cursor: pointer;
  background: #66BB6A;
  text-decoration: none;
}

.result_button {
  border: none;
  border-radius: 5px;
  font-family: Roboto;
  font-weight: bold;
  color: #ffffff;
  font-size: 1em;
  background: #186221;
  padding: 0.25em;
  text-decoration: none;
  margin-left: 0.5em;
  padding: 0.5rem;
  white-space: nowrap;
}

.result_button:hover {
  cursor: pointer;
  background: #66BB6A;
  text-decoration: none;
}

.content{
  align-items: center;
  margin-bottom: -1em;
}