$left-panel-height: 100%;

//layout
.content-view-wrapper {
	// display: flex;
	// flex-direction: row;
	// justify-content: center;
	width: 100%;
	// height: 70%;
}

.view-left-content {
	padding-top: 5rem;
	height: $left-panel-height;
	width: 30%;

	position: fixed;
	left: 0;
	top: 0;

	z-index: 999;


}

.view-center-right-content {
	// height: 100%;
	padding-top: 5rem;
	padding-bottom: 5rem;
	width: 70%;
	flex-grow: 0;
	margin-left: auto;
}

.view-center-right-content-centered {
	// height: 100%;
	padding-top: 5rem;
	padding-bottom: 5rem;
	width: 70%;
	flex-grow: 0;
	margin-left: auto;
	margin-right: auto;
}

//elements
.view-left-content-anchor-wrapper {
	background-color: white;
	box-shadow: 2px 2px 4px 0 rgba(0,0,0,0.50);
	width: 90%;
	margin-top: 50px;
	border-radius: 10px;

	//flex
	display: flex;
	flex-direction: column;

	margin-left: auto;

	.view-left-content-anchor {
		height: 3.5rem;
		font-family: $font_roboto;
		font-size: 1rem;
		//for vertical centering
		border-bottom: 1px solid #DDDDDD;
		color: #6E6E6E;

		//centering
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.view-left-content-anchor:hover {
		background-color: #f7f7f9;
	}

	.view-left-content-anchor:active {
		background-color: #E9E9EB;
	}

	.anchor-last {
		border-bottom: none;
	}

}

.view-center-right-content-wrapper {

	background: #FFFFFF;
	box-shadow: 2px 2px 4px 0 rgba(0,0,0,0.50);
	border-radius: 10px;
	width: 90%;

	margin-left: auto;
	margin-right: auto;

	.view-center-right-content-main {

		width: 70%;
		margin-left: auto;
		margin-right: auto;

		//padding
		padding-top: 4.6875rem;
		padding-bottom: 4.6875rem;

		.view-center-right-content-main-title {
			/* heading: */
			font-family: $font_roboto;
			font-size: 2rem;
			color: #444444;
		}

		.view-center-right-content-main-image {
			width: 100%;
			height: 20rem;
		}

		.view-center-right-content-main-video {
			width: 100%;
			height: 20rem;
		}

		.view-center-right-content-main-body {
			/* sub-heading: */
			font-family: $font_charter;
			line-height: 2.1875rem;
			font-size: 1.35rem;
			color: #484848;
		}
	}
}

//for small devices
.view-anchors-footer-sm {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 50%;
	background-color: #979797;

	//render on top other things
	z-index: 999;
	
	display: none;
}

//elements
.view-left-content-anchor-wrapper-sm {
	background-color: white;
	box-shadow: 2px 2px 4px 0 rgba(0,0,0,0.50);
	width: 100%;

	//flex
	display: flex;
	flex-direction: column;

	margin-left: auto;
	margin-right: auto;

	.view-left-content-anchor {
		height: 5rem;
		font-family: $font_roboto;
		font-size: 1.5rem;
		border-bottom: 1px solid #DDDDDD;
		color: #6E6E6E;

		//centering
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.view-left-content-anchor-button {
		height: 5rem;
		font-family: $font_roboto;
		font-size: 5rem;
		text-align: center;
		background-color: #F2F2F2;
		//for vertical centering
		border-bottom: 1px solid #DDDDDD;
		line-height: 5rem;
		color: black;

		//flex
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.anchor-active {
		background-color: #DBF4FF;
	}

	.anchor-last {
		border-bottom: none;
	}

}

//helpers
.mb-3 {
	margin-bottom: 2.5rem;
}

//media queries
@media all and (min-width: 896px) and (max-width: 1130px) {
	html {
		font-size: 12px;
	}


}

@media all and (min-width: 768px) and (max-width: 896px) {
	html {
		font-size: 10px;
	}

}

@media all and (min-width: 576px) and (max-width: 768px) {
	html {
		font-size: 10px;
	}

	.view-center-right-content-centered {
		width: 80%;
		margin-right: auto;
	}

}

@media all and (min-width: 480px) and (max-width: 576px) {
	html {
		font-size: 10px;
	}

	.view-center-right-content {
		width: 100%;
		margin-right: auto;
	}

	.view-center-right-content-centered {
		width: 100%;
		margin-right: auto;
	}

	.view-left-content {
		display: none;
	}

	//show anchors for small devices
	.view-anchors-footer-sm {
		display: block;
	}


}

@media all and (max-width: 480px) {
	html {
		font-size: 10px;
	}

	.view-center-right-content {
		width: 100%;
		margin-right: auto;
	}

	.view-center-right-content-centered {
		width: 100%;
		margin-right: auto;
	}

	.view-left-content {
		display: none;
	}

	//image
	.view-center-right-content-main-image {
		height: 16rem !important;
	}

	//show anchors for small devices
	.view-anchors-footer-sm {
		display: block;
	}
}