html{
	height: 100%;
}

body{
	background-color: #DBF7FF;
}

#faq-block{
	margin-top: 20px;
}

.entity{
	margin-left: auto;
	margin-right: auto;
	display: flex;
	flex-direction: column;
}

.entity_answer{
	font-family: "Open Sans", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
	font-weight: 400;
	margin-left: auto;
	margin-right: auto;
	border-radius: 3px;
	background-color: #A3CAF7;
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.2s ease-out;
	margin-bottom: 5px;
}

p{
	color: #444444;
	padding-left: 15px;
	padding-right: 15px;
}

button.entity_question{
    cursor: pointer;
	border-radius: 3px;
	border-width: 0;
	font-family: "Roboto", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
	font-weight: bold;
	min-height: 2.8rem;
	background-color: #285B97;
	color: white;
	padding: 0.5em;
	display: flex;
	justify-content: space-between;
}

.fa{
	color: white;
	-webkit-transition:all 300ms ease-in 0s;
	-moz-transition: all 300ms ease-in 0s;
	-o-transition: all 300ms ease-in 0s;
	transition: all 300ms ease-in 0s;
}

.ui-state-active .fa {
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	transform: rotate(180deg);
}

.q-text{
	width: 90%;
	text-align: left;
	margin-left: 1em;
	margin-right: 1em;
	word-wrap: break-word;
}

.q-image{
	align-self: center;
	margin-right: 1em;
}

.q-image {
	-webkit-transition-duration: 0.5s;
	-moz-transition-duration: 0.5s;
	-o-transition-duration: 0.5s;
	transition-duration: 0.5s;
	-webkit-transition-property: -webkit-transform;
	-moz-transition-property: -moz-transform;
	-o-transition-property: -o-transform;
	transition-property: transform;
}

.entity_question{
	font-size: 16px;
}

.entity_answer{
	font-size: 16px;
}

.entity{
	width: 51%;
}

.entity_answer{
	width: 51%;
}

@media screen and (max-width:530px){
	.entity_question{
		font-size: 12px;
	}

	.entity_answer{
		font-size: 12px;
	}

	.entity{
		width: 70%;
	}

	.entity_answer{
		width: 70%;
	}
}

#centralize{
	display: flex;
	justify-content: center;

	margin-top: -50px;
	z-index: 1;
	transition: all 700ms;
}

#centralize.clicked{
	margin-top: 0px;
}

#ask_div{
	width: 30%;
	display: flex;
	flex-direction: column;
}

.comment_on_enter{
	-webkit-appearance: none;
	border: 1px solid #285B97;

	height: 30px;
}

.ask_text{
	text-align: center;
	background-color: #4f9758;
	color: white;

	height: 20px;

	transition: all 700ms;
}

.ask_text.hovered{
	background-color: #4f9758;
}

.header-outer{
	z-index: 998;
	position: relative;
}

.main-content{
	padding-top: 0px;
}

#anonimity_button{
	background-color: #444444;
	color: white;

	-webkit-appearance: none;
}