.questionary-outer {
  .questionary-inner {
    max-width: 1020px;
    padding-top: 70px;
    padding-bottom: 40px;
    .title {
      text-align: center;
    }
  }
}

.form-questionary {
  max-width: 570px;
  margin: 0 auto;
  .form__description, .form__title {
    text-align: center;
    margin-bottom: 20px;
  }
  input, select, .chosen-container {
    max-width: 290px;
  }
  .form__warning {
    max-width: 290px;
  }
  table.form-table {
    width: 100%;
    tbody {
      tr {
        &:last-child {
          td {
            padding-bottom: 13px;
            &:last-child {
              padding-left: 34px;
              text-align: left;
            }
          }
        }
        td {
          &:first-child {
            @include cl_w(150, 570);
            min-width: 150px;
          }
        }
      }
    }
  }
}


@media screen and (max-width: $width_tablet) {
  .questionary-outer {
    .questionary-inner {
      padding-right: 20px;
      padding-left: 20px;
    }
  }
}

@media screen and (max-width: $width_mobile) {
  .questionary-outer {
    .questionary-inner {
      padding-right: 15px;
      padding-left: 15px;
    }
  }
  .form-questionary {
    table.form-table {
      tbody {
        tr {
          &:last-child {
            td {
              &:last-child {
                padding-left: 0;
                text-align: center;
              }
            }
          }
        }
      }
    }
  }
}