.history-filter-outer, .history-tab-outer {
  .history-filter-inner, .history-tab-inner {
    max-width: 1044px;
  }
}

.history-filter-outer {
  .history-filter-inner {
    padding-top: 33px;
    @include clear();
  }
}

.history-tab-outer {
  overflow: hidden;
  .history-tab-inner {
    padding: 24px 0 30px;
  }
}

.history-filter {
  display: block;
  float: left;
  a {
    display: inline-block;
    vertical-align: middle;
    //float: left;
    padding: 4px 15px 7px;
    font: bold 16px $font_sans;
    color: #0092c1;
    margin-right: 60px;
    &.is-active {
      background-color: $c_blue;
      color: $c_white;
      border-radius: 15px;
    }
  }
}

.history-filter-clear {
  display: block;
  float: right;
  padding: 4px 15px 7px;
  font: bold 16px $font_sans;
  color: #0092c1;
}

ul.history-tab__head {
  position: relative;
  z-index: 1;
  @include clear();
  li {
    display: block;
    float: left;
    font: 16px $font_sans;
    color: $c_blue;
    text-align: center;
    border-radius: 15px 15px 0 0;
    padding: 20px 15px 15px;
    min-width: 124px;
    margin-right: 10px;
    background-color: #ecfbff;
    transition: background-color .2s ease-in;
    box-shadow: 3px 3px 3px rgba($c_black, .06);
    cursor: pointer;
    &:hover {
      background-color: lighten(#ecfbff, 2%);
      transition: background-color .2s ease-in;
    }
    &:last-child {
      margin-right: 0;
    }
    &.is-active {
      background-color: $c_white;
    }
    a {
      color: $c_blue;
    }
  }
}

.history-tab__body {
  position: relative;
  z-index: 2;
  &:before {
    content: '';
    position: absolute;
    z-index: 1;
    top: 0;
    left: 50%;
    background-color: $c_white;
    display: block;
    width: 400%;
    height: 100%;
    transform: translateX(-50%);
    box-shadow: 0 3px 3px rgba($c_black, .06);
  }
  li, .history-tab__body-item {
    //display: none;
    padding: 35px 40px 55px;
    background-color: $c_white;
    position: relative;
    z-index: 2;
    display: block;
  }
}


@media screen and (max-width: $width_tablet) {
  .history-filter-outer {
    .history-filter-inner {
      padding-right: 20px;
      padding-left: 20px;
    }
  }
  ul.history-tab__head {
    padding-right: 20px;
    padding-left: 20px;
    li {
      font-size: 20px;
    }
  }
  .history-tab__body {
    li, .history-tab__body-item {
      padding: 25px 20px;
    }
  }
}


@media screen and (max-width: $width_mobile) {
  .history-filter-outer {
    .history-filter-inner {
      padding-right: 15px;
      padding-left: 15px;
    }
  }
  .history-filter {
    margin-bottom: 10px;
    float: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    a {
      display: inline-block;
      padding-right: 14px;
      padding-left: 14px;
      margin-right: 0;
    }
  }

  .history-tab-outer {
    .history-tab-inner {
      padding-top: 0;
      padding-bottom: 0;
    }
  }

  ul.history-tab__head {
    display: none;
  }
  .history-tab__body {
    .history-tab__body-title {
      position: relative;
      z-index: 3;
      display: block;
      width: 100%;
      font: 20px $font_sans;
      color: $c_blue;
      text-align: center;
      padding: 20px 15px 15px;
      background-color: #fff;
      transition: background-color .2s ease-in;
      cursor: pointer;
      border-bottom: 1px solid #ecfbff;
      &.is-active {
        background-color: #ecfbff;
      }
      a {
        color: $c_blue;
      }
    }
    .history-tab__body-item {
      padding: 20px 15px;
    }
  }
}