.sticky-header {
    position: fixed;
    overflow: hidden;
    z-index: 1;
}

.sticky-header table {
    background-color: #dbf7ff;
}

.sticky-table-for-shifting {
    position: absolute;
    left: 0;
    top: 0;
}

.hidden {
    display: none !important;
}

.body-sticky-margin {
	margin-top: 50px !important;
}

.sticky-row-container {
	width: 100%;
	height: calc(100% - 50px);
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: -1;
}

th {
    padding-top: 65px;
}
