$survey-result-modal-trigger-color: #5c96b8;
$vop-psycho-chat-color: #1c96b8;
$survey-result-raw-modal-trigger-color: #5cb87a;
$survey-result-raw-modal-bg: #c7ffd6;

//colors 
.text-danger {
	color: #E53935;
}

.text-warning {
	color: #F9A825;
}

.text-success {
	color: #4CAF50;
}

.block {
	background-color: white;
	border-radius: 5px;
	box-shadow: 2px 2px 11px 0 rgba(0,0,0,0.50);
	margin-bottom: 2rem;
	margin-top: 0.5rem;

	padding: 30px;

	.block-main-text {
		text-align: center;
		font-family: 'Roboto';
		font-weight: 700;
		font-size: 2rem;
		color: #4A4A4A;
		margin-bottom: 1rem;

	}

	.block-sub-text {
		text-align: center;
		font-family: 'Roboto';
		font-weight: 500;
		font-size: 1.25rem;
	}

	.text-group {						

		.flex-row {
			display: flex;
			flex-direction: row;

			.number {
				font-family: 'Roboto';
				font-weight: 700;
				flex-basis: 5%;
			}

			.label {
				font-family: 'Roboto';
				font-weight: 700;
				flex-basis: 50%;
				margin-right: 10px;
			}

			.info {
			    word-break: break-all;
				flex-basis: 45%;
				font-family: 'Roboto';
				font-weight: 400;
				text-align: right;
				padding-right: 30px;
			}
		}

		ol {
			margin-bottom: 0;
		}

	}

	.question__interrupted {
		margin-bottom: 2rem;
	}

	.flex-row-table {
		flex-direction: column !important;

		.flex-row-table-title {
			display: flex;
			flex-direction: row;
			margin-bottom: 0.5rem;
			justify-content: space-between;

			.number {
				font-family: 'Roboto';
				font-weight: 700;
				flex-basis: 5%;

			}

			.label {
				font-family: 'Roboto';
				font-weight: 700;
				flex-basis: 95%;
			}
		}
	}

	table {
		table-layout: fixed;
		border: 1px solid black;

		th {
			font-family: 'Roboto';
		}

		thead > tr > th:not(:first-child) {
			font-size: 0.75rem;
		}

		tbody > tr > td:first-child {
			font-family: 'Roboto';
			font-weight: 700;
			width: 5rem;
		}

		tbody > tr > td:last-child {
			font-family: 'Roboto';
			text-align: center;

		}

		th, td {
			padding: 10px 16px;
			border: 1px solid black;
		}
	}
}

.block-modal {
	background-color: $survey-result-raw-modal-bg;
	box-shadow: none;
}

.survey-result-wrapper {

	.title {
		font-family: 'Roboto';
		font-weight: 500;
		font-size: 2rem;
		color: #4A4A4A;
		text-align: center;
	}

	.survey-result-modal-trigger {
		background: $survey-result-modal-trigger-color;
		border: none;
		width: 100%;
		color: white;
		text-align: center;
		padding: 15px 32px;
		height: 4rem;
		text-decoration: none;
		font-size: 1rem;
		font-weight: 700;
		margin-bottom: 1rem;
	}

	.vop-psycho-chat {
		background: $vop-psycho-chat-color;
		border: none;
		width: 100%;
		color: white;
		text-align: center;
		padding: 15px 32px;
		height: 4rem;
		text-decoration: none;
		font-size: 1rem;
		font-weight: 700;
		margin-bottom: 1rem;
	}
	.survey-result-raw-modal-trigger {
		background: $survey-result-raw-modal-trigger-color;
	}

	.survey-result-modal-trigger:hover {
		background: darken($survey-result-modal-trigger-color, $on-hover-darken-amount);
	}

	.vop-psycho-chat:hover {
		background: darken($vop-psycho-chat-color, $on-hover-darken-amount);
	}

	.survey-result-raw-modal-trigger:hover {
		background: darken($survey-result-raw-modal-trigger-color, $on-hover-darken-amount);
	}

	


	.block-groups {
		display: flex;
		flex-direction: row;

		.title {
			font-family: 'Roboto';
			font-weight: 500;
			font-size: 1.5rem;
			color: #4A4A4A;
			text-align: left;
		}

		


		.left-block-group {
			flex-basis: 35%;
			margin-left: 4rem;

			.student-info-block, .add-info-block,  {
                .block {
                }
			}

		}

		.right-block-group {
			margin-left: auto;
			flex-basis: 50%;
			margin-right: 4rem;

			.scale-block {
				margin-left: 2rem;
				

				.title {
					text-align: left;
					font-size: 1.5rem;
				}

				.scale-group {
					margin-top: 0.5rem;
					background-color: white;
					border-radius: 5px;
					box-shadow: 2px 2px 11px 0 rgba(0,0,0,0.50);
					padding-left: 30px;
					padding-right: 30px;
					padding-bottom: 15px; 
					padding-top: 15px; 
					margin-bottom: 0.5rem;

					.scale {
						display:-webkit-flex;
						display: flex;
						margin-top: 1rem;
						margin-bottom: 1rem;

						.label {
							flex-basis: 30%;
							font-family: 'Roboto';
							color: #404040;
							font-weight: 300;
						}

						.bar-wrapper {
							flex-basis: 70%;
							height: 30px;
							display:-webkit-flex;
							display: flex;
							flex-direction: column;

							.bar {
								flex-basis: 70%;
								border-radius: 5px;
								border: 1px solid #B2B2B2;
								display:-webkit-flex;
								display: flex;


								.bar-handle {
									width: 18px;
									height: 20px;
									border-radius: 3px;
									background-color: #424242;
									color: white;
									font-family: 'Roboto';
									font-weight: 500;
									font-size: 0.75rem;
									text-align: center;
									line-height: 20px;

								    /* Position the tooltip */
							        z-index: 10;
									
								}

								.bar-handle:hover {
									.tooltiptext {
										display: inline-block;
										opacity: 1;
										transition: opacity 0.5s;
									}
								}



								.bar-label {
									font-family: 'Roboto';
									font-weight: 500;
									font-size: 0.70rem;
									color: #4A4A4A;
									position: relative;
									cursor: default;

								}

							}



							.bar-label-wrapper {
								font-family: 'Roboto';
								font-weight: 500;
								font-size: 0.70rem;
								color: #4A4A4A;
								display: flex;
								flex-basis: 30%;
								justify-content: space-between;
							}

						}

						.bar-range {
							position: relative;
							display: flex;

								.tooltiptext {
									display: none;
									opacity: 0;
								    width: 80px;
								    background-color: rgba(0, 0, 0, 0.7);
								    color: #fff;
								    text-align: center;
								    border-radius: 6px;
								    padding: 5px;
								    margin-bottom: 5px;
								    transition: opacity 0.5s;

								    position: absolute;
								    bottom: 100%;
								    left: 50%;
								    margin-left: -40px;


								    //text
								    font-family: 'Roboto';
								    font-weight: 700;
								    font-size: 0.75rem;
								    
								    /* Position the tooltip */
								    
							        z-index: 10;
								}

								.tooltiptext-wide {
									width: 160px;
									margin-left: -80px;
								}

								.tooltiptext::after {
								    content: " ";
								    position: absolute;
								    top: 100%; /* At the bottom of the tooltip */
								    left: 50%;
								    margin-left: -5px;
								    border-width: 5px;
								    border-style: solid;
								    border-color: rgba(0, 0, 0, 0.7) transparent transparent transparent;
								}
						}

						.bar-range:hover {
							.tooltiptext {
								display: inline-block;
								opacity: 1;
								transition: opacity 0.5s;
							}
						}

						.is-bar-range-start {
							border-right: 2px solid #616161;
							border-top-left-radius: 5px;
							border-bottom-left-radius: 5px;
						}

						.is-bar-range-middle {
							border-right: 2px solid #616161;
						}

						.is-bar-range-end {
							border-top-right-radius: 5px;
							border-bottom-right-radius: 5px;
						}

						.is-white {
							background-color: white;
						}

						.is-norm {
							background-color: #4CAF50;
						}

						.is-ok {
							background-color: #C0CA33;
						}

						.is-medium {
							background-color: #FFCA28;	
						}

						.is-heavy {
							background-color: #FF5722;	
						}

						.is-super-heavy {
							background-color: #E53935;
						}

						//custom bars
						#emergency-bar {
							.bar-range-1 {
								flex-basis: 50%;
							}

							.bar-range-2 {
								flex-basis: 50%;
							}
						}

						#attempt-bar {
							.bar-range-1 {
								flex-basis: 50%;
							}

							.bar-range-2 {
								flex-basis: 50%;
							}
						}

						#suicidal-thoughts-bar {
							.bar-range-1 {
								flex-basis: 7%;
							}

							.bar-range-2 {
								flex-basis: 93%;
							}
						}

						#depression-bar {
							.bar-range-1 {
								flex-basis: 21%;
							}

							.bar-range-2 {
								flex-basis: 10%;
							}

							.bar-range-3 {
								flex-basis: 18%;
							}

							.bar-range-4 {
								flex-basis: 14%;
							}

							.bar-range-5 {
								flex-basis: 37%;
							}
						}

						#anxiety-bar {
							.bar-range-1 {
								flex-basis: 16%;
							}

							.bar-range-2 {
								flex-basis: 9.5%;
							}

							.bar-range-3 {
								flex-basis: 9.5%;
							}

							.bar-range-4 {
								flex-basis: 9%;
							}

							.bar-range-5 {
								flex-basis: 56%;
							}
						}

						#stress-bar {
							.bar-range-1 {
								flex-basis: 37%;
							}

							.bar-range-2 {
								flex-basis: 9%;
							}

							.bar-range-3 {
								flex-basis: 14.5%;
							}

							.bar-range-4 {
								flex-basis: 19.5%;
							}

							.bar-range-5 {
								flex-basis: 23%;
							}
						}

						#emotional-bar {
							.bar-range-1 {
								flex-basis: 55%;
							}

							.bar-range-2 {
								flex-basis: 10%;
							}

							.bar-range-3 {
								flex-basis: 35%;
							}
						}

						#behavioral-bar {
							.bar-range-1 {
								flex-basis: 35%;
							}

							.bar-range-2 {
								flex-basis: 10%;
							}

							.bar-range-3 {
								flex-basis: 55%;
							}
						}

						#hyperactivity-bar {
							.bar-range-1 {
								flex-basis: 55%;
							}

							.bar-range-2 {
								flex-basis: 10%;
							}

							.bar-range-3 {
								flex-basis: 35%;
							}
						}

						#peers-bar {
							.bar-range-1 {
								flex-basis: 35%;
							}

							.bar-range-2 {
								flex-basis: 20%;
							}

							.bar-range-3 {
								flex-basis: 45%;
							}
						}

						#global-bar {
							.bar-range-1 {
								flex-basis: 38.5%;
							}

							.bar-range-2 {
								flex-basis: 9.75%;
							}

							.bar-range-3 {
								flex-basis: 51.75%;
							}
						}

						#prosocial-bar {
							.bar-range-1 {
								flex-basis: 45.45%;
							}

							.bar-range-2 {
								flex-basis: 9.09%;
							}

							.bar-range-3 {
								flex-basis: 45.45%;
							}

							.bar-handle {
								margin-right: 0;
								margin-left: auto;
							}
						}

						.bar-range-label {
							font-family: 'Roboto';
							font-weight: 500;
							font-size: 0.70rem;
							color: #4A4A4A;
							position: relative;
							top: 21px;

							cursor: default;
						}

						.bar-range-label-left {
							margin-right: auto;
						}

						.bar-range-label-right {
							margin-left: auto;
						}

						.bar-grad-1 {
							background: -webkit-linear-gradient(left, white , rgba(166, 0, 0, 1));
						}

						.bar-grad-2 {
							background: -webkit-linear-gradient(left, white , rgba(255, 40, 0, 1));
						}

						.bar-grad-3 {
							background: -webkit-linear-gradient(left, white , rgba(255, 149, 41, 1));
						}

						.bar-grad-4 {
							background: -webkit-linear-gradient(left, white , rgba(98, 98, 98, 1));
						}
					}

					.scale-big {
						flex-direction: column;
						margin-bottom: 2rem;
						height: 40px;
						display: block;

						.bar-wrapper {
							height: 35px;
						}

						.label {
							font-weight: 700;
							text-align: center;
							margin-bottom: 1rem;
						}

						


						.bar {
							flex-basis: 62.5% !important;

							.bar-handle {
								height: 25px;
							}
						}
					}

					.title {
						text-align: left;
						font-size: 1.25rem;
					}
				}
			}
		}
	}

	
}

//bar limit label styles
.bar-label-limit-border {
	font-weight: 700; 
	font-size: 0.8rem;	
}

.bar-label-limit {
	font-weight: 700; 
	font-size: 0.8rem;
	margin-right: auto;
}


#suicidial-thoughts-bar-label {
	margin-left: 5.5%;
}

#depression-bar-label {
	margin-left: 46.3%;
}

#anxiety-bar-label {
	margin-left: 33%;
}

#stress-bar-label {
	margin-left: 56%;
}

#global-bar-label {
	margin-left: 46.4%;
}

#emotional-bar-label {
	margin-left: 63%;
}

#problem-bar-label {
	margin-left: 43.1%;
}

#hyperactivity-bar-label {
	margin-left: 63%;
}

#peers-bar-label {
	margin-left: 53.2%;
}

#prosocial-bar-label {
	margin-left: 51%;
}

//modal
.survey-result-modal {
	background-color: #fff3c7;
	display: none;
	flex-direction: column;
	align-items: center;
	z-index: 100000;
	height: 28rem;
	overflow-y: auto;

	.survey-result-modal-title {
		font-family: 'Roboto';
		font-weight: 500;
		font-size: 2rem;
		color: #4A4A4A;

	}

	.survey-result-modal-close {
		position: absolute;
		right: 2rem;
		top: 2rem;
		font-size: 2rem;
		color: #4A4A4A;
	}

	.survey-result-modal-close:hover {
		color: black;
	}



	.survey-result-modal-text {
		width: 80%;
		font-family: 'Open Sans';
		border: 2px solid #c8d3d8;
		margin-bottom: 1rem;
		font-weight: 300;
		font-size: 1rem;
		padding: 12px 20px;
		resize: none;
	}

	.survey-result-modal-select {
		background: white;
		font-size: 1rem;
		padding: 12px 20px;
		border: 2px solid #c8d3d8;
		width: 80%;
		margin-bottom: 1rem;
		height: 50px;
	}

	.survey-result-modal-button {
		margin-top: auto;
		background: $survey-button-color;
		border: none;
		color: white;
		text-align: center;
		width: 80%;
		padding: 15px 32px;
		text-decoration: none;
		font-size: 1rem;
		font-weight: 700;
		margin-bottom: 1rem;
	}

	.survey-result-modal-button:hover {
		background: darken($survey-button-color, $on-hover-darken-amount);
	}

}

.survey-result-raw-modal {
	background-color: $survey-result-raw-modal-bg;
}

//safari only
::i-block-chrome, .bar {

  height: 40px;

}

//media queries
@media all and (min-width: 896px) and (max-width: 1130px) {
	
}

@media all and (min-width: 768px) and (max-width: 896px) {
	
}

@media all and (min-width: 576px) and (max-width: 768px) {

	.survey-result-wrapper {
		.block-groups {
			.left-block-group {
				margin-left: 2rem;
				flex-basis: 40%;
			}

			.right-block-group {
				margin-right: 2rem;
				flex-basis: 55%;

				.title {
					margin-left: 2rem;
				}

				.block {
					margin-left: 2rem;
				}

				.block {
					margin-left: 2rem;
				}
			}
		}
	}
	
}

@media all and (max-width: 576px) {
	.survey-result-wrapper {
		.block-groups {	
			flex-direction: column;

			.left-block-group {
				margin-left: 2rem;
				margin-right: 2rem;

				.student-info-block, .add-info-block {
					
					margin-right: 0;
				}
			}

			.right-block-group {
				margin-right: 2rem;
				margin-left: 2rem;



				.scale-block {
					margin-left: 0;
					

					.scale-group {
						.scale {
							display: block;

							.bar-wrapper {
								height: 30px;
							}

							.label {
								flex-basis: 45%;
							}

							.bar {
								flex-basis: 55%;
							}


						}

						.scale-big {
							.bar-wrapper {
								height: 35px;
							}
						}
					}
				}
			}

		}


	}
}