#{extends 'main.html' /}
<div class="content-dashboard-wrapper">
    <div class="left-content">
        <a class="category-button-all content-button" href="@{Pages.contentDashboard()}">&{'news.category.all'}</a>
        #{list items: newsTypes, as: 'newsType'}
            <a class="category-button-${newsType.key} content-button" href="@{Pages.contentDashboard(newsType.id)}"> #{if play.i18n.Lang.get().equals("kz")} ${newsType.nameKz.toUpperCase()} #{/if} #{else} #{if play.i18n.Lang.get().equals("en")} ${newsType.nameEn.toUpperCase()} #{/if} #{else} ${newsType.name.toUpperCase()} #{/else} #{/else}</a>
        #{/list}
    </div>
    <div class="center-content">
        #{list items: newsList, as: 'news'}
        <div class="content-snippet">
            <div class="content-snippet-color ${news.newsType.key}"></div>
            <div class="content-snippet-content">
                #{if news.video}
                <video id="player" #{if news.picture}poster="${news.picture}"#{/if} class="media-block mt-3 mb-3" id="player" controls controlsList="nodownload">
                    <source src="https://zhastar.org${news.video}" type="video/mp4">
                    &{'html5'}
                </video>
                #{/if}
                #{else}
                #{if news.picture} <img class="content-snippet-image mt-3 mb-3" src="${news.picture}"/>  #{/if}
                #{/else}
                <p class="content-snippet-title no-margin-tb #{if !news.picture && !news.video} mt-3 #{/if} mb-2">${news.name}</p>
                #{if news.description} <p class="content-snippet-subtitle no-margin-tb mb-2">${news.description}</p> #{/if}
                <a class="content-snippet-more mb-3" href="@{Pages.contentView(news.id)}">&{'more'}</a>
            </div>
        </div>
        #{/list}

        #{if newsList.size() == 0}
            <div style="text-align: center; font-size: 2rem; margin-top: 2rem; color: #c1e7f1">&{'news.empty'}</div>
        #{/if}

        <div class="content-button-footer-sm">
            <a class="content-button sm category-button-course" href="/pages/dashboard"><i class="fa fa-play" aria-hidden="true"></i></a>
            <a class="category-button-literature sm content-button" href="/surveycontroller/index" style="background-color: #953993"><i class="fa fa-book" aria-hidden="true"></i></a>
            <a class="category-button-new sm content-button" href="/pages/faq" style="background-color: #454993"><i class="fa fa-question" aria-hidden="true"></i></a>
            <a class="content-button sm category-button-about" href="@{Application.about()}"><i class="fa fa-info" aria-hidden="true"></i></a>
        </div>
    </div>
    <div class="right-content">
        <a class="content-button category-button-course" href="@{Pages.dashboard()}">&{'news.course'}</a>
        #{if psychologist}
        <a class="content-button category-button-survey" href="@{SurveyController.index()}">&{'news.survey'}</a>
        #{/if}
        #{if doctor || psychiatrist}
        <a class="content-button category-button-student-leading" href="@{StudentLeadingController.index()}">&{'news.student.leading'}</a>
        #{/if}
        <a class="content-button category-button-faq" href="@{Pages.faq()}">&{'news.faq'}</a>
        <a class="content-button category-button-about" href="@{Application.about()}">&{'news.about'}</a>
    </div>
</div>

