#{extends 'main.html' /}
<section class="header-block-outer">
    <div class="header-block-inner">
        <div class="header-block__wrapper">
            <div class="header-block__left">
                <div class="header-block__title">
                    &{'layout.dashboard.title'}
                </div>
                <div class="header-block__description">
                    &{'layout.dashboard.legend'}
                </div>
            </div>
        </div>
    </div>
</section>
<section class="main-block-outer specialist-course-page specialist-dlc">
    <div class="main-block-inner">
        <div class="main-block-content__two-columns">
            <div class="__column-left">
                #{list items:stepList, as:'step'}
                    #{if step.position != 0 && step.position != 1000}
                        #{if step.actualLesson}
                            <div class="course-block #{if step.position <= currentPosition}is-active#{/if}#{if step.position == currentPosition} is-current#{/if}">
                                <div class="course-block__progress-point-wrapper">
                                    <div class="course-block__progress-point"></div>
                                </div>
                                #{if step.position <= currentPosition}
                                <a class="course-block__head" #{verbatim}${step.style("block")}#{/verbatim} href="@{Pages.lesson(step.id)}">
                                    <div class="course-block__desc-title-bold" #{verbatim}${step.style("title")}#{/verbatim}>
                                        ${step.actualLesson.name}
                                    </div>
                                </a>
                                #{/if}
                                #{else}
                                <div class="course-block__head">
                                    <div class="course-block__desc-title-bold">
                                        ${step.actualLesson.name}
                                    </div>
                                </div>
                                #{/else}
                            </div>
                        #{/if}
                    #{/if}
                    #{if step.position == 1000}
                        #{if lastOpen}
                            #{if lastFinished}
                                <div class="course-block__head" style="width: 95%; margin-left: 36px; border-radius: 0px">
                                    <div class="course-block__desc-title-bold">
                                        <p style="color: #90C84B">&{'dashboard.course.finished'}</p>
                                        <p>&{'dashboard.preliminarytest'}: ${percFirst}%</p>
                                        <p>&{'dashboard.lasttest'}: ${percLast}%</p>
                                    </div>
                                </div>
                            #{/if}
                            #{else}
                                <a class="course-block__head" href="@{Pages.quiz(step.id)}" style="background-color: #90C84B; color: #F1FCFF; width: 95%; margin-left: 36px; border-radius: 0px">
                                    <div class="course-block__desc-title-bold" style="margin: 0 auto; color: #FFFFFF">
                                        &{'dashboard.lasttest'}
                                    </div>
                                </a>
                            #{/else}
                        #{/if}
                        #{else}
                            <div class="course-block__head" style="color: #F1FCFF; width: 95%; margin-left: 36px; border-radius: 0px">
                                <div class="course-block__desc-title-bold" style="margin: 0 auto; color: #a2c6d0;">
                                    &{'dashboard.lasttest'}
                                </div>
                            </div>
                        #{/else}
                    #{/if}
                #{/list}
            </div>
            <div class="aside-materials">
                #{if documents.size() > 0}
                <div class="aside-materials__wrapper">
                    <div class="aside-materials__title">&{'layout.materials.download'}</div>
                    #{list items:documents, as:'document'}
                    <a class="download download_theme_doc" target="_blank" href="https://zhastar.org${document.file}">
                        ${document.name}
                    </a>
                    #{/list}
                </div>
                #{/if}
            </div>
        </div>
    </div>
</section>