#{extends 'main.html' /}

<section class="header-block-outer" style="background-image: url(uploads/header_block_warning.jpg); display: none;">
    <div class="header-block-inner">
        <div class="header-block__wrapper">
            <div class="header-block__left">
                <div class="header-block__title">
                    #{verbatim}${quiz.name}#{/verbatim}
                </div>

                #{if quiz.description}
                <div class="header-block__description">
                    #{verbatim}${quiz.description}#{/verbatim}
                </div>
                #{/if}
            </div>
        </div>
    </div>
</section>

<section class="main-block-outer specialist-page">
    <div class="main-block-inner">
        <div class="main-block-content" style="padding-bottom: 100px">
            #{if quiz.content}
            <div class="main-block-content__text content-text_theme_black">
                #{verbatim}${quiz.content}#{/verbatim}
            </div>
            #{/if}

            <hr>

            <form method="POST" id="quiz-form" onsubmit="return checkPost(this)" action="@{Pages.nextQuestion(quizScore.id)}">
                <div class="test-block">
                    <div class="test-block__question">
                        ${currentQuestion.description}
                    </div>
                    <div class="test-block__answer-options">
                        #{list items: answers, as: 'answer'}
                        <div class="test-block__answer">
                            <input name="answerId" value="${answer.id}" id="answer-${answer.id}"
                                   type="radio">
                            <label for="answer-${answer.id}">${answer.value}</label>
                        </div>
                        #{/list}
                    </div>
                </div>

                <div class="test-bottom" style="display: block">
                    <ul class="test-pagination" style="margin-left: -50px">
                        #{list items: questions, as: 'q'}
                        #{if currentQuestion.position == q.position}
                        <li class="is-active"><a href="#"></a></li>
                        #{/if}
                        #{else}
                            #{if currentQuestion.position > q.position}
                                <li class="${q.getQuestionResult(quizScore).isRight ? '__done' : '__undone'}"><a href="#"></a></li>
                            #{/if}
                            #{else}
                                <li><a href="#"></a></li>
                            #{/else}
                        #{/else}
                        #{/list}
                    </ul>
                    <button class="button-radius button_theme_blue" type="submit" style="float: right; margin: 20px">
                        &{'quiz.nextQuestion'}
                    </button>
                </div>
            </form>

        </div>
    </div>
</section>

#{set 'moreScripts'}
<script>
    $("#quiz-form").submit(function() {

        if ($("input:radio[name='answerId']:checked").length <=0 ) {
           return false;
        } else {
          return true;
        }


    });
</script>
#{/set}