#{extends 'main.html' /}

<section class="header-block-outer" style="background-image: url(uploads/header_block_warning.jpg);">
    <div class="header-block-inner">
        <div class="header-block__wrapper">
            <div class="header-block__left">
                #{if quiz.description}
                <div class="header-block__description">
                    #{verbatim}${quiz.description}#{/verbatim}
                </div>
                #{/if}
                #{else}
                <div class="header-block__title">
                    #{verbatim}${quiz.name}#{/verbatim}
                </div>
                #{/else}
            </div>
        </div>
    </div>
</section>

<section class="main-block-outer specialist-page">
    <div class="main-block-inner">
        <div class="main-block-content">
            #{if quiz.content}
            <div class="main-block-content__text">
                #{verbatim}${quiz.content}#{/verbatim}
            </div>
            #{/if}

            <div class="main-block-content__bottom-buttons">
                <ul class="column-two">
                    <li>
                        <a class="button-radius button_theme_purple" href="@{Pages.lesson(stepId)}">
                            &{'quiz.return'}
                        </a>
                    </li>
                    <li>
                        #{if !isPassed}
                        <a class="button-radius button_theme_blue"
                           href="@{Pages.quiz(stepId)}">
                            &{'quiz.begin'}
                        </a>
                        #{/if}
                    </li>
                </ul>
            </div>

            #{if quizScores}
            <hr>
            <div class="table-title">&{'quiz.testHistory'}</div>
            <div class="table-statistic__wrapper">
                <table class="table-statistic">
                    <thead>
                    <tr>
                        <td>&{'quiz.time'}</td>
                        <td>&{'quiz.status'}</td>
                        <td>&{'quiz.count'}</td>
                        <td>&{'quiz.percents'}</td>
                    </tr>
                    </thead>
                    <tbody>
                    #{list items:quizScores, as:'score'}
                    <tr>
                        <td>
                                        <span class="table-statistic__date">
                                            ${score.getFormattedDate()}
                                        </span>
                            <span class="table-statistic__time">
                                            ${score.getFormattedTime()}
                                        </span>
                        </td>
                        <td>
                            #{if score.isPassed}
                            <span class="table-statistic__status-done">
                                                &{'quiz.Passed2'}
                                            </span>
                            #{/if}
                            #{else}
                            <span class="table-statistic__status-undone">
                                                &{'quiz.notHandedOver2'}
                                            </span>
                            #{/else}
                        </td>
                        <td>
                            ${score.totalRight}/${score.totalRight + score.totalWrong}
                        </td>
                        <td>
                            #{if (score.totalRight + score.totalWrong) != 0}${(int) Math.floor((double)(score.totalRight) / (score.totalRight + score.totalWrong) * 100)}%#{/if}
                            #{else}0%#{/else}
                        </td>
                    </tr>
                    #{/list}
                    </tbody>
                </table>
            </div>
            #{/if}
        </div>
    </div>
</section>