<span class="select">
    <select name="${_name}" class="input">
        <option></option>
        #{list items: _dropdownOptions, as: 'option'}
            #{includes.form.filter.dropdown-array option: option, index: _dropdownOptions.indexOf(option), old: _old/}
        #{/list}
    </select>
</span>
