<span class="select">
    <select name="{{ $attribute }}" class="input">
        <option></option>
        #{list items: dropdownOptions, as: 'option'}
            #{include 'admin/includes/form/field/dropdown-array'/}
        #{/list}
    </select>
</span>

#{include 'admin/includes/form/error.html'/}
