#{extends 'main.html'/}
<div class="survey-table-wrapper" style="margin-top: 4rem; margin-bottom: 4rem">
    <div class="survey-control-buttons">
        <div class="flex flex-50">
            <a class="survey-button" href="@{SurveyController.newStudent()}">&{'survey.add'}</a>
            <select id="window-dropdown" class="survey-form-select survey-form-select-result">
                <option selected value="0">&{'survey.survey.results'}</option>
                <option value="1">&{'survey.interview.results'}</option>
            </select>
        </div>
        <div class="flex flex-50">
            <select id="filter-dropdown" class="survey-form-select survey-form-select-filter">
                <option value="1">&{'student.status.all'}</option>
                <option value="2" #{if type.equals(2)}selected#{/if}>&{'student.status.notdone'}</option>
                <option value="3" #{if type.equals(3)}selected#{/if}>&{'student.status.highrisk'}</option>
                <option value="4" #{if type.equals(4)}selected#{/if}>&{'student.status.risk'}</option>
                <option value="5" #{if type.equals(5)}selected#{/if}>&{'student.status.lowrisk'}</option>
                <option value="6" #{if type.equals(6)}selected#{/if}>&{'student.status.norisk'}</option>
            </select>
            <form method="GET" class="survey-form-code" action="@{SurveyController.index()}">
                <input value="${code}" class="survey-form-code-input" type="text" style="display: inline" placeholder="&{'survey.student.code'}" name="code">
                <input type="submit" class="survey-form-code-submit" value="&{'search'}"/>
            </form>
        </div>

    </div>
    #{if newStudent}
    <div style="color: #005993; margin-bottom: 1rem; font-weight: bold; font-size: 22px;">&{'survey.new.student.added'}: ${newStudent}</div>
    #{/if}
    <div style="color: #757575; margin-bottom: 1rem; font-weight: bold; font-size: 3rem">&{'survey.survey.results'}</div>

    <div class="survey-risk-count survey-risk-count-bold" style="margin-bottom: 1rem">&{'survey.student.all.number'}: ${allCount}</div>
    <div class="danger survey-risk-count survey-risk-count-bold" style="margin-bottom: 1rem">&{'survey.student.didnot.number'}: ${didNotTryCount}</div>

    <div class="survey-risk-count-wrapper">
        <span style="margin-right: 4rem">
            <div class="survey-risk-count mb-1r">&{'survey.student.no.number'}: ${noRiskCount}</div>
            <div class="survey-risk-count">&{'survey.student.high.number'}: ${highRiskCount}</div>
        </span>
        <span>
            <div class="survey-risk-count mb-1r">&{'survey.student.risk.number'}: ${riskCount}</div>
            <div class="survey-risk-count">&{'survey.student.low.number'}: ${lowRiskCount}</div>
        </span>
    </div>

    <div class="survey-list-table-wrapper">
        <table id="survey-table">
        <tr>
            <th>&{'code'}</th>
            <th>&{'status'}</th>
            #{if !type.equals(2)}<th>&{'survey.results'}</th>#{/if}
            <th style="text-align: center;">&{'survey.delete'}</th>
        </tr>
        #{list items: students, as: 'student'}
        <tr>
            #{if student.status.equals(models.Student.Status.finished) || student.status.equals(models.Student.Status.interrupted)}
            <td><a href="@{SurveyController.student(student.code)}">${student.dashedCode()}</a></td>
            #{/if}
            #{else}
            <td>${student.dashedCode()}</td>
            #{/else}
            #{if student.status.equals(models.Student.Status.created)}
            <td class="status status-fail"><b>&{'status.created'}</b></td>
            #{/if}
            #{if student.status.equals(models.Student.Status.finished)}
            <td class="status status-pass"><b>&{'status.finished'}</b></td>
            #{/if}
            #{if student.status.equals(models.Student.Status.interrupted)}
            <td class="status status-interrupted"><b>&{'status.interrupted'}</b></td>
            #{/if}
            #{if !type.equals(2)}
            #{if student.status.equals(models.Student.Status.finished) && student.results.size() != 0}
                #{if student.results.get(0).risk().equals(models.SurveyResult.Risk.high)}
                    <td class="status" style="color: #b71c1c"><b>&{'student.status.highrisk'}</b></td>
                #{/if}
                #{if student.results.get(0).risk().equals(models.SurveyResult.Risk.presents)}
                    <td class="status" style="color: #ef5350"><b>&{'student.status.risk'}</b></td>
                #{/if}
                #{if student.results.get(0).risk().equals(models.SurveyResult.Risk.low)}
                    <td class="status" style="color: #ec971f"><b>&{'student.status.lowrisk'}</b></td>
                #{/if}
                #{if student.results.get(0).risk().equals(models.SurveyResult.Risk.no)}
                    <td class="status" style="color: #5cb85c"><b>&{'student.status.norisk'}</b></td>
                #{/if}
            #{/if}
            #{else}
                #{if student.status.equals(models.Student.Status.interrupted)}
                <td class="status" style="color: #b71c1c"><b>&{'student.status.highrisk'}</b></td>
                #{/if}
                #{else}
                <td><b>-</b></td>
                #{/else}
            #{/else}
            #{/if}
            <td style="text-align: center">
                #{if student.status.equals(models.Student.Status.created)}
                    <a href="@{SurveyController.deleteStudent(student.id)}"><i class="fa fa-trash delete-icon"></i></a>
                #{/if}
                #{else}
                    #{if student.results.size() != 0}
                    ${student.results.get(0).formattedDate()}
                    #{/if}
                    #{if student.status.equals(models.Student.Status.interrupted)}
                    ${student.updatedDate()}
                    #{/if}
                #{/else}
            </td>
        </tr>

        #{/list}


    </table>
    </div>
    #{if students.size() == 0}
    <div style="text-align: center; font-size: 1.5rem; margin-top: 1rem; color: #c1e7f1">&{'survey.zero'}</div>
    #{/if}
    <div class="scroll-warning-sm">Вы можете прокручивать таблицу влево-вправо</div>
</div>
#{set 'moreScripts'}
    <script>
        $("#window-dropdown").change(function() {
            if ($(this).val() == 1) {
                window.location = "@{SurveyController.interviewResults()}";
            } else {
                window.location = "@{SurveyController.index()}";
            }
        });
        $("#filter-dropdown").change(function() {
            window.location = "@{SurveyController.index()}?type=" + $(this).val();
        });
    </script>
#{/set}
