#{extends 'main.html'/}
<div class="survey-table-wrapper" style="margin-top: 4rem; margin-bottom: 4rem">
    <div class="survey-control-buttons">
        <div class="flex flex-50">
            <a class="survey-button" href="@{SurveyController.newStudent()}">&{'survey.add'}</a>
            <select id="window-dropdown" class="survey-form-select survey-form-select-result">
                <option value="0">&{'survey.survey.results'}</option>
                <option selected value="1">&{'survey.interview.results'}</option>
            </select>
        </div>
        <div class="flex flex-50">
            <select id="filter-dropdown" class="survey-form-select survey-form-select-filter">
                <option value="1">&{'student.status.all'}</option>
                <option value="2" #{if type.equals(2)}selected#{/if}>&{'no.interview'}</option>
                <option value="3" #{if type.equals(3)}selected#{/if}>&{'approved'}</option>
                <option value="4" #{if type.equals(4)}selected#{/if}>&{'refuted'}</option>
            </select>
            <form method="GET" class="survey-form-code" action="@{SurveyController.interviewResults()}">
                <input value="${code}" class="survey-form-code-input" type="text" style="display: inline" placeholder="&{'survey.student.code'}" name="code">
                <input type="submit" class="survey-form-code-submit" value="&{'search'}"/>
            </form>
        </div>

    </div>

    <div style="color: #757575; margin-bottom: 1rem; font-weight: bold; font-size: 3rem">&{'survey.interview.results'}</div>
    #{if !code}
    <div class="survey-risk-count survey-risk-count-bold" style="margin-bottom: 1rem">&{'interview.count.all'}: ${allCount}</div>
    <div class="danger survey-risk-count survey-risk-count-bold" style="margin-bottom: 1rem">&{'interview.count.no.results'}: ${noResultCount}</div>

    <div class="survey-risk-count-wrapper survey-risk-count-wrapper-small">
        <span>
            <div class="survey-risk-count mb-1r">&{'interview.count.approved'}: ${approvedCount}</div>
            <div class="survey-risk-count">&{'interview.count.refuted'}: ${refutedCount}</div>
        </span>
    </div>
    #{/if}
    <div class="survey-list-table-wrapper">
        <table id="survey-table">
            <tr>
                <th>&{'code'}</th>
                <th>&{'interview.survey.results'}</th>
                <th>&{'interview.interview.results'}</th>
                <th>&{'interview.date'}</th>
            </tr>
            #{list items: students, as: 'student'}
            <tr>
                <td><a href="@{SurveyController.student(student.code)}">${student.dashedCode()}</a></td>
                #{if student.status.equals(models.Student.Status.finished) && student.results.size() != 0}
                #{if student.results.get(0).risk().equals(models.SurveyResult.Risk.high)}
                <td class="status" style="color: #b71c1c"><b>&{'student.status.highrisk'}</b></td>
                #{/if}
                #{if student.results.get(0).risk().equals(models.SurveyResult.Risk.presents)}
                <td class="status" style="color: #ef5350"><b>&{'student.status.risk'}</b></td>
                #{/if}
                #{if student.results.get(0).risk().equals(models.SurveyResult.Risk.low)}
                <td class="status" style="color: #ec971f"><b>&{'student.status.lowrisk'}</b></td>
                #{/if}
                #{if student.results.get(0).risk().equals(models.SurveyResult.Risk.no)}
                <td class="status" style="color: #5cb85c"><b>&{'student.status.norisk'}</b></td>
                #{/if}
                #{/if}
                #{else}
                #{if student.status.equals(models.Student.Status.interrupted)}
                <td class="status" style="color: #b71c1c"><b>&{'student.status.highrisk'}</b></td>
                #{/if}
                #{else}
                <td><b>-</b></td>
                #{/else}
                #{/else}

                #{if student.interviewResults.size() == 0}
                <td> - </td>
                #{/if}
                #{else}
                #{if student.interviewResults.get(0).verdict.equals(models.InterviewResult.Verdict.refuted)}
                <td style="color: #5cb85c; font-weight: 500;"><b>&{'refuted'}</b></td>
                #{/if}
                #{else}
                <td style="font-weight: 500;"><b>&{'approved'}</b></td>
                #{/else}
                #{/else}

                <td>
                    #{if student.interviewResults.size() == 0}

                    #{/if}
                    #{else}
                    ${student.interviewResults.get(0).formattedDate()}
                    #{/else}
                </td>
            </tr>

            #{/list}


        </table>
    </div>
    #{if students.size() == 0}
    <div style="text-align: center; font-size: 1.5rem; margin-top: 1rem; color: #c1e7f1">&{'survey.zero'}</div>
    #{/if}
    <div class="scroll-warning-sm">Вы можете прокручивать таблицу влево-вправо</div>
</div>
#{set 'moreScripts'}
<script>
        $("#window-dropdown").change(function() {
            if ($(this).val() == 1) {
                window.location = "@{SurveyController.interviewResults()}";
            } else {
                window.location = "@{SurveyController.index()}";
            }
        });
        $("#filter-dropdown").change(function() {
            window.location = "@{SurveyController.interviewResults()}?type=" + $(this).val();
        });
    </script>
#{/set}
