#{extends 'main.html'/}
<div class="loader" style="width: 100%; height: 100%; text-align: center">
    <h1>&{'results.loading'}</h1>
</div>

<div class="survey-result-wrapper" style="margin-top: 2rem; margin-bottom: 2rem; display: none">
    <div class="modal-overlay" style="display: none">
    </div>

    <div class="block-groups">
        <div class="left-block-group">
            <div class="student-info-block">
                <div class="title">
                    &{'results.main.information'}
                </div>
                <div class="block">
                    <div class="block-main-text">${code}</div>
                    <div class="block-sub-text text-danger">&{'student.status.highrisk'}</div>
                </div>
            </div>
            <div class="add-info-block">
                <div class="title">
                    &{'results.additional'}
                </div>
                <div class="block">
                    <div class="text-group">
                        <div class="flex-row">
                            <span class="label">&{'at.which.question'}: </span>
                            <span class="info">${interruptedAt}</span>
                        </div>
                    </div>
                </div>
            </div>
            <button style="cursor: pointer" id="survey-result-modal-trigger" class="survey-result-modal-trigger"> &{'interview.results'} </button>
            <button style="cursor: pointer" id="survey-result-raw-modal-trigger" class="survey-result-modal-trigger survey-result-raw-modal-trigger"> &{'interview.resultsRaw'} </button>
        </div>
        *{<div class="right-block-group">
            <div class="title">
                &{'answered.questions'}
            </div>
            <div class="block">
                <div class="text-group">
                    #{include '/SurveyController/partials/interrupted/q1.html' /}
                    #{include '/SurveyController/partials/interrupted/q2.html' /}
                    #{include '/SurveyController/partials/interrupted/q3.html' /}
                    #{include '/SurveyController/partials/interrupted/q4.html' /}
                    #{include '/SurveyController/partials/interrupted/q5.html' /}
                    #{include '/SurveyController/partials/interrupted/q6.html' /}
                    #{include '/SurveyController/partials/interrupted/q7.html' /}
                    #{include '/SurveyController/partials/interrupted/q8.html' /}
                    #{include '/SurveyController/partials/interrupted/q9.html' /}
                    #{include '/SurveyController/partials/interrupted/q10.html' /}
                    #{include '/SurveyController/partials/interrupted/q11.html' /}
                    #{include '/SurveyController/partials/interrupted/q12.html' /}
                    #{include '/SurveyController/partials/interrupted/q13.html' /}
                </div>
            </div>
        </div>}*
    </div>
    <div id="survey-result-modal" class="modal survey-result-modal" #{if !interviewWrite}style="height: 20rem"#{/if}>
        <a id="survey-result-modal-close" class="survey-result-modal-close" style="cursor: pointer"><i style="color: #4A4A4A" class="fa fa-times" aria-hidden="true"></i></a>
        <h3 class="survey-result-modal-title"> &{'interview.results'} </h3>
        <textarea id="modal-textarea" rows="4" class="survey-result-modal-text" #{if !interviewWrite}readonly#{/if}>${interview?.text}</textarea>
        #{if interviewWrite}
        <select id="modal-dropdown" class="survey-result-modal-select">
            <option value="1" #{if interview?.verdict?.equals(models.InterviewResult.Verdict.approved)}selected#{/if}> &{'interview.approve'} </option>
            <option value="0" #{if interview?.verdict?.equals(models.InterviewResult.Verdict.refuted)}selected#{/if}> &{'interview.refute'} </option>
        </select>
        #{/if}
        #{else}
            &{'interview.approve'}
        #{/else}
        #{if interviewWrite}
        <div id="modal-success" hidden style="margin-bottom: 20px;">&{'saved'}</div>
        <div id="modal-failure" hidden style="margin-bottom: 20px">&{'error'}</div>
        <button class="survey-result-modal-button" style="cursor: pointer">&{'settings.save'}</button>
        #{/if}
    </div>
</div>

#{set 'moreScripts'}
<script type="text/javascript">

        $(document).ready(function() {
            $(".loader").hide();
            $(".survey-result-wrapper").show();

            //modal listeners
            $("#survey-result-modal-trigger").click(function() {
                $(".modal-overlay").show();
                $("#survey-result-modal").css('display', 'flex');
            });

            $("#survey-result-modal-close").click(function() {
                $("#survey-result-modal").hide();
                $(".modal-overlay").hide();
            });

            //raw results listeners
            $("#survey-result-raw-modal-trigger").click(function() {
                var win = window.open("@{controllers.SurveyController.downloadAnswers(trimmedCode)}", '_blank');
                win.focus();
            });

            $(".survey-result-modal-button").click(function() {
                $("#modal-success").hide();
                $("#modal-failure").hide();
                var text = $("#modal-textarea").val();
                var select = $("#modal-dropdown").val();
                var http = new XMLHttpRequest();
                var url = "@{SurveyController.saveInterview()}";
                var params = "text=" + encodeURIComponent(text) + "&evaluation=" + select + '&code=' + "${student.code}";
                http.open("POST", url, true);
                http.setRequestHeader("Content-type", "application/x-www-form-urlencoded; charset=utf-8");
                http.onreadystatechange = function() {
                    if (http.readyState == 4) {
                        if (http.status == 200 && http.response == "success") {
                            $("#modal-success").show();
                        } else {
                            $("#modal-failure").show();
                        }
                    }
                }
                http.send(params);
            });
        });
    </script>
#{/set}