#{extends 'main.html'/}
<div class="initial-code-wrapper">
    <div class="initial-code-wrapper-title">&{'survey.put.code'}</div>

    <input style="height: 3rem; font-size: 1.5rem" type="text" placeholder="&{'survey.take.from.psycho'}" autocomplete="off" class="initial-code-wrapper-input" name="code" id="code-input"/> <br/>

    <input style="height: 3rem; font-size: 1.5rem" type="text" placeholder="&{'survey.psycho.name'}" autocomplete="off" class="psycho-name-wrapper-input" name="psycho" id="psycho-input"/> <br/>

    <button id="code-submit">&{'send'}</button>
</div>

<div class="modal-overlay hidden">
</div>


<div class="modal modal-short modal-alert modal-alert-fail danger-bg-static hidden" id="modal-code-fail" style="color: white">
    <div class="modal-header">
        &{'survey.wrong.code.or.psycho'}
    </div>

    <div class="modal-footer">
        <button class="modal-survey-yes white-bg danger" onclick="modalDismiss()"> Ок </button>
    </div>
</div>

<div class="modal modal-code-success hidden" id="modal-code-success" style="background-color: white; color: hsl(0, 0%, 48%)">
    <div class="modal-header">
        &{'survey.are.you.ready'}
        <ul>
            <li><p class="hint-small" style="margin-bottom: 0; margin-top: 2rem; text-align: left; margin-left: 2rem">&{'survey.start.hint1'}</p></li>
            <li><p style="margin-top: 0rem; margin-bottom: 0; text-align: left; margin-left: 2rem" class="hint-small">&{'survey.start.hint2'}</p></li>
            <li><p style="margin-top: 0rem; margin-bottom: 0; text-align: left; margin-left: 2rem" class="hint-small">&{'survey.start.hint3'}</p></li>
        </ul>
    </div>

    <div class="modal-footer">
        <button class="modal-survey-no danger-bg" onclick="modalDismiss()" style="color: white">&{'cancel'}</button>
        <button class="modal-survey-yes success-bg" onclick="beginTest()" style="color: white">&{'survey.start.survey'}</button>
    </div>
</div>

<div class="hidden" id="endMessageSuccess">
    <p>&{'survey.accepted'}!</p>
    <p>&{'survey.appreciate'}!</p>
</div>

<div class="hidden" id="endMessageFail" style="font-size: 2rem">
    <p>&{'survey.error'}</p><p>&{'survey.internet'}</p>
</div>

<div class="hidden" id="interruptMessage">
    &{'survey.thanks'}
</div>


<div class="survey-wrapper hidden" style="">
    <div class="survey-header">
        <span class="back hidden">&lt; &{'back'}</span>
        <span id="survey-header-score">0%</span>
    </div>
    <div id="questions">

    </div>
    <div class="modal modal-short modal-interrupt hidden danger-bg-static" id="modal-test-interrupt" style="color: white">
        <div class="modal-header">
            &{'survey.start.sure'}
        </div>

        <div class="modal-footer">
            <button class="modal-survey-no white-bg danger" onclick="modalDismiss()">&{'cancel'}</button>
            <button class="modal-survey-yes success-bg" onclick="interruptSurvey()" style="color: white">&{'yes'}</button>
        </div>
    </div>





    <div class="modal modal-short modal-alert modal-alert-warning danger-bg-static hidden" id="modal-alert-error" style="color: white">
        <div class="modal-header">
            &{'survey.fields.not.filled'}
        </div>

        <div class="modal-footer">
            <button class="modal-survey-yes white-bg danger" onclick="modalDismiss()"> Ок </button>
        </div>
    </div>
</div>

#{set 'moreStyles'}
<style>
    .back {
        position:absolute;
        left: 1rem;
        cursor: pointer;
        color: white;;
    }
    .back:hover {
        color: #DBF7FF;
    }
    .survey-question input[type="radio"]:checked + .q11::after {
        border-radius: 23% !important;
    }
    .survey-question input[type="checkbox"]:checked + .helping-el::after {
        background-color: #009688;
        border-radius: 23%;
        content: " ";
        font-size: 33px;
        height: 16px;
        left: 3px;
        position: absolute;
        top: 3px;
        width: 16px;
    }
    .survey-question input[type="checkbox"] + .helping-el {
        cursor: pointer;
        background-color: #dbf7ff;
        border: 2px solid #009688;
        border-radius: 50%;
        display: inline-block;
        margin-right: 15px;
        padding: 11px;
        position: relative;
        top: 3px;
    }
</style>
#{/set}
#{set 'moreScripts'}
<script>
    state = {};
    globalQuestionNumber = 1;
    skippedQuestionsCount = 0;
    var codeGlob = null;
    var loginGlob = null;
    var inputRangeShowMarginPercentage = 16.07;



    $(".back").click(function() {
        if (globalQuestionNumber == 1) {
            return;
        }
        globalQuestionNumber--;
        if (globalQuestionNumber > 6 && globalQuestionNumber < 12) {
            globalQuestionNumber = 6;
        }
        if (globalQuestionNumber == 1) {
            $(".back").addClass("hidden");
            $("#survey-header-score").html("0%");
        } else {
            $(".back").removeClass("hidden");
            $("#survey-header-score").html(Math.round((globalQuestionNumber / 13) * 100) + "%");
        }
        $(".current-question").removeClass("current-question");
        if ($("#q" + globalQuestionNumber).length > 0) {
            $('.survey-test-table.fixed').remove();
            $('.survey-test-table').fixMe();
            $("#q" + globalQuestionNumber).addClass("current-question");
        }
    });

    function beginTest() {
        //activate first question and hide input!!!
        $(".initial-code-wrapper").addClass("hidden");
        $(".survey-wrapper").removeClass("hidden");
        $("#q1").addClass("current-question");

        //hide header and footer
        $(".header-outer").hide();
        $(".footer-outer").hide();

        //subscriptions
        $(".helping-el").click(function() {
            if (globalQuestionNumber == 11) {
                var radioName= $(this).prev().attr('name');
                var radioButton = $(this).prev();
                radioButton.attr('checked', !radioButton.is(":checked"));
                handleInputChange(radioName, radioButton.val(), false);
                return;
            }
            var radioName= $(this).prev().attr('name');
            $("input[type='radio'][name='" + radioName + "']").attr('checked', false);
            var radioButton = $(this).prev();
            radioButton.attr('checked', true);
            $(".current-question input[type='text']").val("");
            handleInputChange(radioName, radioButton.val(), false);
        });

        $(".survey-answer-text").click(function() {
            if (globalQuestionNumber == 11) {
                var radioName= $(this).prev().prev().attr('name');
                var radioButton = $(this).prev().prev();
                radioButton.attr('checked', !radioButton.is(":checked"));
                handleInputChange(radioName, radioButton.val(), false);
                return;
            }
            var radioName= $(this).prev().prev().attr('name');
            $("input[type='radio'][name='" + radioName + "']").attr('checked', false);
            var radioButton = $(this).prev().prev();
            radioButton.attr('checked', true);
            $(".current-question input[type='text']").val("");
            handleInputChange(radioName, radioButton.val(), false);
        });

        $(".survey-answer-submit").click(() => {
            onSurveyAnswerSubmit();
        });

        $(".survey-answer-interrupt").click(() => {
            onSurveyInterrupt();
        });



        modalDismiss();
    }

    function modalDismiss() {
        $(".modal-overlay").addClass('hidden');
        $(".modal").each(function() {
            if (!$(this).hasClass('hidden')) {
                $(this).addClass('hidden');
            }
        });

        unlockScroll();
    }

    function handleInputChange(inputName, value, isWithTextInput) {
        //subanswered question
        if (inputName.includes('-')) {
            var outerIndex = inputName.substring(1, inputName.indexOf('-'));
            var innerIndex = inputName.substring(inputName.indexOf('-') + 1);

            //state["q" + outerIndex] = Object.assign({}, state["q" + outerIndex]);
            if (!state["q" + outerIndex]) {
                state["q" + outerIndex] = [];
            }
            state["q" + outerIndex][parseInt(innerIndex) - 1] = value;
        } else {

            //enable input[text] if there is one next to input[radio]
            if ($(".current-question input[type='radio']:checked").nextAll("input[type='text']").first().length > 0) {
                $(".current-question input[type='radio']:checked").nextAll("input[type='text']").first().prop('disabled', false);
            }

            // HARD CODE NO TIME
            if (globalQuestionNumber == 11) {
                if (value < 5) {
                    $("#disable-all").attr('checked', false);
                }
                if ($("#disable-all").is(":checked")) {
                    $(".current-question input[type='checkbox']").each(function disable(index) {
                        if ($(this).attr('id') != 'disable-all') {
                            $(this).attr('checked', false);
                        }
                    });
                }
                if ($("#checkbox2").is(":checked")) {
                    $("#text-input-2").prop('disabled', false);
                } else {
                    $("#text-input-2").prop('disabled', true);
                    $("#text-input-2").val("");
                }
                if ($("#checkbox1").is(":checked")) {
                    $("#text-input-1").prop('disabled', false);
                } else {
                    $("#text-input-1").prop('disabled', true);
                    $("#text-input-1").val("");
                }
                state[inputName] = {
                    array: []
                };
                //
                $(".current-question input[type='checkbox']").each(function disable(index) {
                    if ($(this).is(":checked")) {
                        state[inputName].array.push($(this).val());
                    }
                });
                //state[inputName] = {
                //    option: state[inputName],
                //    text: value
                //}
            } else {
                state[inputName] = value;
            }
        }
        console.log(state);
    }

    function onInputRangeChange(inputName, value) {
        if ($(window).width() < 360) {
            inputRangeShowMarginPercentage = 15.2;
        }
        else if ($(window).width() < 576) {
            inputRangeShowMarginPercentage = 15.3;
        } else if ($(window).width() < 768) {
            inputRangeShowMarginPercentage = 16;
        }

        var marginLeft = (value - 1) * inputRangeShowMarginPercentage;

        var el = $('input[name="' + inputName + '"]').prevAll(".input-range-show").first();
        el.css('margin-left', marginLeft + "%");
        el.html(value);
    }

    function submitScore() {
        if (codeGlob == null) {
            alert("Code is not set!!!");
            return;
        }
        if (loginGlob == null) {
            alert("Psychologist's login is not set!!!");
            return;
        }
        state["code"] = codeGlob;
        state["login"] = loginGlob;
        console.log(state);
        $.ajax({
            url: "/surveycontroller/submitResults",
            method: "POST",
            contentType: "application/json",
            data: JSON.stringify(state),
        }).done((res) => {
            if (res == "success") {
                $("#endMessageSuccess").removeClass('hidden');
            } else {
                $("#endMessageFail").removeClass('hidden');
            }
        }).fail(function() {
            $("#endMessageFail").removeClass('hidden');
        });
        $(".survey-wrapper").addClass('hidden');
        restoreInitial();
    }

    function surveySuccessSubmit() {
        $(window).scrollTop(0);
        var qN = parseInt($(".current-question").attr('id').replace('q', ''));

        qN++;
        if (qN == 7 && state.q6 == 0) {
            qN++;
            state["q7"] = 0;
            $("#q7-0").attr('checked', true);
            $("#q7-1").attr('checked', false);
        }
        if (qN == 8 && (state.q6 == 0 || state.q7 == 0)) {
            qN++;
            state["q8"] = 0;
            $("#q8-0").attr('checked', true);
            $("#q8-1").attr('checked', false);
        }
        if (qN == 9 && state.q6 == 0) {
            qN++;
            state["q9"] = "-";
            $("#q9-0").val("");
        }
        if (qN == 10 && state.q6 == 0) {
            qN++;
            state["q10"] = 0;
            $("#q10-0").attr('checked', true);
            $("#q10-1").attr('checked', false);
        }
        if (qN == 11 && state.q6 == 0) {
            qN++;
            state["q11"] = {array: [5], firstText: "", secondText: ""};
            $("#disable-all").attr('checked', true);
            $("#q11 input[type='checkbox']").each(function disable(index) {
                if ($(this).attr('id') != 'disable-all') {
                    $(this).attr('checked', false);
                }
            });
            if ($("#checkbox2").is(":checked")) {
                $("#text-input-2").prop('disabled', false);
            } else {
                $("#text-input-2").prop('disabled', true);
                $("#text-input-2").val("");
            }
            if ($("#checkbox1").is(":checked")) {
                $("#text-input-1").prop('disabled', false);
            } else {
                $("#text-input-1").prop('disabled', true);
                $("#text-input-1").val("");
            }
        }
        globalQuestionNumber = qN;
        if (qN == 1) {
            $(".back").addClass("hidden");
        } else {
            $(".back").removeClass("hidden");
        }
        $("#survey-header-score").html(Math.round((qN / 13) * 100) + "%");

        var nextQuestionId = "q" + qN;
        console.log(nextQuestionId);

        //$(".current-question > .survey-answer-submit").off();
        $(".current-question").removeClass("current-question");

        if ($("#" + nextQuestionId).length > 0) {
            $("#" + nextQuestionId).addClass("current-question");
        } else {
            submitScore();
        }

        if ($(".current-question input[type='range']").length > 0) {
            handleInputChange($(".current-question input[type='range']").attr('name'), $(".current-question input[type='range']").val(), false);
        }

        //handle table sticky rows call
        if (qN == 4 || qN == 5 || qN == 12 || qN == 13) {
            $('.survey-test-table.fixed').remove();
            $('.survey-test-table').fixMe();
        }




        window.scrollTo(0, 0);
    }

    function surveyFailSubmit() {
       $(".modal-overlay").removeClass('hidden');
       $("#modal-alert-error").removeClass('hidden');
       lockScroll();

    }


    function restoreInitial() {
        //hide header and footer
        $(".survey-wrapper").hide();
        $(".header-outer").show();
        $(".footer-outer").show();
    }

    function interruptSurvey() {


        $.ajax({
            url: "/surveycontroller/interruptSurvey",
            type: "POST",
            data: {code: codeGlob, login: loginGlob, state: JSON.stringify(state), interruptedAt: globalQuestionNumber}
        })
            .done((res) => {
                $(".current-question").removeClass('current-question');
                $("#q1").addClass('current-question');
                $("#interruptMessage").removeClass('hidden');
                $(".survey-wrapper").addClass('hidden');
                restoreInitial();
                modalDismiss();
            });
    }

    function onSurveyInterrupt() {
        $("#modal-test-interrupt").removeClass('hidden');
        $(".modal-overlay").removeClass('hidden');
        lockScroll();
    }

    function lockScroll() {
        $('.main-content').on('scroll touchmove mousewheel', function(e){
          e.preventDefault();
          e.stopPropagation();
          return false;
        });

        $('.main-content').keydown(function(e) {
            if (e.keyCode == 37 ||
                e.keyCode == 38 ||
                e.keyCode == 39 ||
                e.keyCode == 40) {

            } {
                e.preventDefault();
                e.stopPropagation();
                return false;
            }
        });
    }

    function unlockScroll() {
        $('.main-content').off('scroll touchmove mousewheel');
        $('.main-content').off('keydown');

    }

    function onSurveyAnswerSubmit() {
        //subanswered question
        if ($(".current-question .survey-subanswer").length > 0) {

            //subanswered, with radios
            if ($(".current-question input[type='radio']").length > 0) {
                var allInputsCheckedCounter = 0;
                var allInputCheckedVals = {};
                $(".current-question .survey-subanswer").each((index, el) => {
                    $(el).find("input[type='radio']").each((index, el) => {
                        if ($(el).is(":checked")) {
                            allInputsCheckedCounter++;
                            return false;
                        }
                    });
                });

                //all radios checked
                console.log(allInputsCheckedCounter);
                if (allInputsCheckedCounter == $(".current-question .survey-subanswer").length) {
                    surveySuccessSubmit();
                } else {
                    surveyFailSubmit();
                }
            }
            //subanswered, with no radio
            else {
                surveySuccessSubmit();
            }
        }
        //single-answered, any type of input
        else if ($(".current-question input").length > 0)  {
            //both types of input present
            var success = false;

            //for 13 question
            if ($(".current-question :input[type='checkbox']").length > 0 && $(".current-question :input[type='text']").length > 0) {
                var passed = false;
                var radioWithoutText = false;
                $(".current-question :input[type='checkbox']").each((index, el) => {
                    if ($(el).is(":checked")) {
                        passed = true;
                        if ($(el).nextAll("input").hasClass("radio-text")) {
                            if ($(el).nextAll("input").val().trim() == "") {
                                radioWithoutText = true;
                            }
                        }
                    }
                });
                if (passed && !radioWithoutText) {
                    state["q11"].firstText = $("#text-input-1").val();
                    state["q11"].secondText = $("#text-input-2").val();
                    surveySuccessSubmit();
                } else {
                    surveyFailSubmit();
                }
            } else
            //input radio is present
            if ($(".current-question :input[type='radio']").length > 0) {
                //mixed radio with text. This will never happen
                if ($(".current-question :input[type='text']").length > 0) {
                    var passed = false;
                    var radioWithoutText = false;
                    $(".current-question :input[type='checkbox']").each((index, el) => {
                        if ($(el).is(":checked")) {
                            passed = true;
                            if ($(el).nextAll("input").hasClass("radio-text")) {
                                if ($(el).nextAll("input").val().trim() == "") {
                                    radioWithoutText = true;
                                }
                            }
                        }
                    });
                    if (passed && !radioWithoutText) {
                        surveySuccessSubmit();
                    } else {
                        surveyFailSubmit();
                    }
                } else {
                    //if radio checked
                    var exit = false;

                    $(".current-question :input[type='radio']").each((index, el) => {
                        if ($(el).is(":checked")) {
                            surveySuccessSubmit();
                            exit = true;
                            return false;
                        }
                    });

                    if (exit) {
                        return;
                    }
                    surveyFailSubmit();
                }
            }
            //input text is present
            else if ($(".current-question :input[type='text']").length > 0) {
                success = true;
                textInput = $(".current-question :input[type='text']").first();

                if (textInput.val().trim() == "") {
                    surveyFailSubmit();
                } else {
                    surveySuccessSubmit(textInput);
                }
            } else {
                surveySuccessSubmit();
            }
        }
    }


    $("#code-submit").click(() => {
        var codeInput = $("#code-input").val();
        var psychoInput = $("#psycho-input").val();
        $.ajax({
            url: "/surveycontroller/surveyQuestions?code=" + codeInput + "&psychoName=" + psychoInput,
            method: "GET"
        })
            .done((res) => {
                if (res != "error") {
                    codeGlob = codeInput;
                    loginGlob = psychoInput;
                    $("#questions").html(res);

                    //show modal first
                    $("#modal-code-success").removeClass('hidden');
                    $(".modal-overlay").removeClass('hidden');
                } else {
                    $("#modal-code-fail").removeClass('hidden');
                    $(".modal-overlay").removeClass('hidden');
                }
            });
    });
</script>
#{/set}