#{extends 'admin/admin.main.html' /}

#{set 'section'} Вопросы #{/set}
#{set 'action'} Список #{/set}

#{set 'actions'}
<a href="@{Admin.userQuestionsForm()}" class="button is-dark is-outlined">Добавить</a>
#{/set}

#{set 'content'}

#{if userQuestions.size() > 0}
<table class="table is-striped is-narrow">
    <thead>
    <tr>
        <th width="50">ID</th>
        <th>Имя Пользователя</th>
        <th>Время</th>
        <th>Активный</th>
        <th></th>
    </tr>
    </thead>
    #{list items: userQuestions, as: 'userQuestion'}
    <tbody>
    <tr>
        <td>${userQuestion.id}</td>
        <td>${userQuestion?.account?.username}</td>
        <td>${userQuestion.createdAt()}</td>
        <td>#{if userQuestion.isActive}+#{/if}#{else}-#{/else}</td>
        <td class="is-icon">
            #{includes.index.table-actions-user-questions userQuestion: userQuestion /}
        </td>
    </tr>
    </tbody>
    #{/list}
</table>
#{/if}
#{else}
#{include 'admin/includes/index/no-results.html' /}
#{/else}

#{/set}