[class^=button] {
  cursor: pointer;
  outline: none;
  border: 0;
  &.__disabled {
    background-color: #d6dcde !important;
    color: $c_white !important;
    cursor: default !important;
    &:hover {
      background-color: #d6dcde !important;
      color: $c_white !important;
    }
  }
}

[class*=button_theme] {
  transition: background-color .2s ease-in;
  &:hover {
    transition: background-color .2s ease-in;
  }
}

.button-radius {
  min-width: 135px;
  border-radius: 22px;
  font: 16px $font_sans;
  text-align: center;
  padding: 5px 25px 7px;
  user-select: none;
}

.button-radius-big {
  min-width: 220px;
  border-radius: 10px;
  font: 18px $font_sans;
  text-align: center;
  padding: 15px;
}

.button_theme_white {
  background-color: $c_white;
  color: $c_blue;
}

.button_theme_blue {
  background-color: $c_blue;
  color: $c_white;
  &:hover {
    background-color: darken($c_blue, 5%);
  }
}

.button_theme_grey {
  background-color: #9cabaf;
  color: $c_white;
  &:hover {
    background-color: darken(#9cabaf, 5%);
  }
}

.button_theme_grey-light {
  background-color: #d6dcde;
  color: $c_white;
  &:hover {
    background-color: darken(#d6dcde, 5%);
  }
}

.button_theme_purple {
  background-color: $c_purple;
  color: $c_white;
  &:hover {
    background-color: darken($c_purple, 5%);
  }
}


.button_theme_warning {
  border-radius: 5px;
  background: #f0f0f0;
  color: #758b91;
  &:before {
    content: '\f071';
    font: 18px $font_awesome;
    margin-right: 5px;
  }
}

@media screen and (max-width: $width_tablet) {
  .button-radius {
    padding-top: 10px;
    padding-bottom: 12px;
  }
}