<div class="control is-horizontal" id="field-group">
    <div class="control-label">
        <label class="label">Группа</label>
    </div>
    <div class="control">
        <p class="control is-width-full">
            #{if quiz}
                #{includes.form.field.dropdown name: groupDropdownName, dropdownOptions: groupDropdownOptions, old: quiz.group/}
            #{/if}
            #{else}
                #{includes.form.field.dropdown name: groupDropdownName, dropdownOptions: groupDropdownOptions /}
            #{/else}
        </p>
    </div>
</div>

<div class="control is-horizontal @if( ! old('group_id', @$entity->group_id)) is-hidden @endif" id="field-step">
    <div class="control-label">
        <label class="label">Шаг</label>
    </div>
    <div class="control">
        <p class="control is-width-full">
            #{if quiz}
                #{includes.form.field.dropdown name: stepDropdownName, dropdownOptions: stepDropdownOptions, old: quiz.step/}
            #{/if}
            #{else}
                #{includes.form.field.dropdown name: stepDropdownName/}
            #{/else}
        </p>
    </div>
</div>

<hr>

<div class="control is-horizontal">
    <div class="control-label">
        <label class="label">Название</label>
    </div>
    <div class="control">
        <p class="control is-width-full">
            #{if quiz}
                #{includes.form.field.input name: nameInputName, type: 'text', old: quiz.name /}
            #{/if}
            #{else}
                #{includes.form.field.input name: nameInputName, type: 'text' /}
            #{/else}
        </p>
    </div>
</div>

<div class="control is-horizontal">
    <div class="control-label">
        <label class="label">Проходной балл</label>
    </div>
    <div class="control">
        <p class="control is-width-half">
            #{if quiz}
                #{includes.form.field.input name: passvalInputName, type: 'number', old: quiz.scoreToPass/}
            #{/if}
            #{else}
                #{includes.form.field.input name: passvalInputName, type: 'number' /}
            #{/else}
        </p>
    </div>
</div>

<hr />

<div class="control is-horizontal">
    <div class="control-label">
        <label class="label">Описание</label>
        <span class="help">Не обязательно</span>
    </div>
    <div class="control">
        <p class="control is-width-full">
            #{if quiz}
                #{includes.form.field.textarea name: descriptionTextName, old: quiz.description/}
            #{/if}
            #{else}
                #{includes.form.field.textarea name: descriptionTextName /}
            #{/else}
        </p>
    </div>
</div>

<div class="control is-horizontal">
    <div class="control-label">
        <label class="label">Контент</label>
        <span class="help">Не обязательно</span>
    </div>
    <div class="control">
        <p class="control is-width-full">
            #{if quiz}
                #{includes.form.field.tinymce name: contentTinymceName, old: quiz.content/}
            #{/if}
            #{else}
                #{includes.form.field.tinymce name: contentTinymceName/}
            #{/else}
        </p>
    </div>
</div>


#{include 'admin/quizzes/partials/questions.html'/}
#{includes.script.stepable /}
#{includes.script.onleave/}
#{includes.script.tinymce/}
