#{extends 'admin/admin.main.html'/}

#{set 'section'} Материалы #{/set}
#{set 'action'} Создание #{/set}

#{set 'content'}
    #{include 'admin/includes/form/tinymce-upload.html' /}

    <form method="post" enctype="multipart/form-data" action="@{Admin.newDocument()}">
        #{include 'admin/documents/partials/form.html' /}

        #{includes.form.actions action: 'Создать'/}
    </form>

    #{if emptyFieldsError}
    <div class="notification is-danger" style="margin-top: 20px">
        ${emptyFieldsError}
    </div>
    #{/if}
#{/set}
