#{extends 'admin/admin.main.html' /}

#{set 'section'} Материалы #{/set}
#{set 'action'} Список #{/set}

#{set 'actions'}
    <a href="@{Admin.documentsCreate()}" class="button is-dark is-outlined">Добавить запись</a>
#{/set}

#{set 'content'}
    #{include 'admin/documents/partials/filter.html' /}

    #{if documents.size() > 0}
        <table class="table is-striped is-narrow">
            <thead>
            <tr>
                <th width="50">ID</th>
                <th>Название</th>
                <th>Группа</th>
                <th>Шаг</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            #{list items: documents, as: 'document'}
                <tr>
                    <td>${document.id}</td>
                    <td>${document.name}</td>
                    <td>${document.group.name}</td>
                    <td>${document.step.name}</td>
                    <td class="is-icon">
                        #{includes.index.table-actions-documents document: document/}
                    </td>
                </tr>
            #{/list}
            </tbody>
        </table>

        <!--{{ $entities->appends(paginateAppends())->links() }}-->
    #{/if}
    #{else}
        #{include 'admin/includes/index/no-results.html' /}
    #{/else}
#{/set}
