<div class="control is-horizontal" id="field-group">
    <div class="control-label">
        <label class="label">Группа</label>
    </div>
    <div class="control">
        <p class="control is-width-full">
            #{if lesson}
                #{includes.form.field.dropdown name: groupDropdownName, dropdownOptions: groupDropdownOptions, old: lesson.group/}
            #{/if}
            #{else}
                #{includes.form.field.dropdown name: groupDropdownName, dropdownOptions: groupDropdownOptions/}
            #{/else}
    </div>
</div>

<div class="control is-horizontal #{if !lesson} is-hidden #{/if}" id="field-step">
    <div class="control-label">
        <label class="label">Шаг</label>
    </div>
    <div class="control">
        <p class="control is-width-full">
            #{if lesson}
                #{includes.form.field.dropdown name: stepDropdownName, dropdownOptions: stepDropdownInitialOptions, old: lesson.step/}
            #{/if}
            #{else}
                #{includes.form.field.dropdown name: stepDropdownName/}
            #{/else}
        </p>
    </div>
</div>

<hr>

<div class="control is-horizontal">
    <div class="control-label">
        <label class="label">Название</label>
    </div>
    <div class="control">
        <p class="control is-width-full">
            #{if lesson}
                #{includes.form.field.input name: nameInputName, old: lesson.name/}
            #{/if}
            #{else}
                #{includes.form.field.input name: nameInputName /}
            #{/else}
        </p>
    </div>
</div>

<div class="control is-horizontal">
    <div class="control-label">
        <label class="label">Описание</label>
        <span class="help">Не обязательно</span>
    </div>
    <div class="control">
        <p class="control is-width-full">
            #{if lesson}
                #{includes.form.field.textarea name: descriptionInputName, old: lesson.description/}
            #{/if}
            #{else}
                #{includes.form.field.textarea name: descriptionInputName /}
            #{/else}
        </p>
    </div>
</div>

<div class="control is-horizontal">
    <div class="control-label">
        <label class="label">Содержание</label>
        <span class="help">Не обязательно</span>
    </div>
    <div class="control">
        <p class="control is-width-full">
            #{if lesson}
                #{includes.form.field.tinymce name: contentTinymceName, old: lesson.content/}
            #{/if}
            #{else}
                #{includes.form.field.tinymce name: contentTinymceName/}
            #{/else}
        </p>
    </div>
</div>

<hr/>

<div class="control is-horizontal">
    <div class="control-label">
        <label class="label">Изображение</label>
    </div>
    <div class="control">
        <p class="control is-width-half">
            #{if lesson}
                #{includes.form.field.file name: pictureFileName, inputClass: 'input-1', spanClass: 'span-1', old: lesson.picture/}
            #{/if}
            #{else}
                #{includes.form.field.file name: pictureFileName, inputClass: 'input-1', spanClass: 'span-1' /}
            #{/else}
        </p>
    </div>
</div>

<div class="control is-horizontal">
    <div class="control-label">
        <label class="label">Видео</label>
    </div>
    <div class="control">
        <p class="control is-width-half">
            #{if lesson}
                #{includes.form.field.file name: videoFileName, inputClass: 'input-2', spanClass: 'span-2', old: lesson.video/}
            #{/if}
            #{else}
                #{includes.form.field.file name: videoFileName, inputClass: 'input-2', spanClass: 'span-2' /}
            #{/else}
        </p>
    </div>
</div>

<div class="control is-horizontal">
    <div class="control-label">
        <label class="label">Субтитры</label>
    </div>
    <div class="control">
        <p class="control is-width-half">
            #{if lesson}
                #{includes.form.field.file name: subtitlesFileName, inputClass: 'input-3', spanClass: 'span-3', old: lesson.subtitles/}
            #{/if}
            #{else}
                #{includes.form.field.file name: subtitlesFileName, inputClass: 'input-3', spanClass: 'span-3'/}
            #{/else}
        </p>
    </div>
</div>


#{includes.script.onleave /}
#{includes.script.tinymce /}
#{includes.script.stepable /}
