.circle-block {
  //display: inline-block;
  display: table-cell;
  text-align: center;
  overflow: hidden;
  position: relative;
}

.circle-diagram {
  width: 230px;
  height: 230px;
}


.circle-block_theme_green {
  color: #90c84b;
}

.circle-block_theme_red {
  color: #ee3338;
}

.circle-block_theme_purple {
  color: #953993;
}

.circle-block__text {
  position: absolute;
  z-index: 9;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  span {
    display: block;
    font: 45px $font_sans;
  }
  i {
    margin-top: -8px;
    display: block;
    font: 25px $font_sans;
  }
}


@media screen and (max-width: $width_tablet) {
  .circle-diagram {
    width: 200px;
    height: 200px;
  }
}


@media screen and (max-width: $width_mobile) {
  .circle-block {
    display: block;
    margin-bottom: 20px;
  }
  .circle-diagram {
    width: 230px;
    height: 230px;
  }
}