.header-outer {
  background: $c_white url(../images/header_top.jpg) repeat-x left top;
  box-shadow: 0 1px 5px rgba($c_black, .3);
  //transition: all .2s ease-in;
  //top: -102px;

  &.__fixed {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    //background-image: url();
    //transition: all .2s ease-in;
    max-width: 100%;
    //.header-inner {
    //  padding-top: 0;
    //}
    //.logotype {
    //  margin-top: -14px;
    //  height: 95px;
    //}
  }

  .header-inner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-right: 10px;
  }
}

//.header-float__space-wrapper {
//  display: block;
//  width: 100%;
//  height: 102px;
//}

.header__left, .header__right {
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.header__right {
  width: 30%;
  min-width: 480px;
}

.logotype {
  margin-top: -20px;
  min-width: 275px;
  overflow: hidden;
  background-color: #0092bc;
  img {
    &.__desktop {
      display: block;
    }
    &.__device {
      display: none;
    }
  }
}

.header__device-menu {
  display: none;
}

#header-float {
  ul.nav-menu {
    padding-left: 0;
    li {
      padding-right: 15px;
      padding-left: 15px;
    }
  }
}

ul.nav-menu {
  padding-left: 40px;
  @include clear();
  li {
    display: block;
    float: left;
    font: 18px $font_roboto;
    color: #016fae;
    text-transform: uppercase;
    padding: 4px 30px 6px;
    border-right: 1px solid #b7d9bb;
    &:last-child {
      border-right: 0;
    }
    &.__current, &.is-active {
      a {
        border-bottom: 1px solid darken(#016fae, 1%);
      }
    }
    a {
      color: #016fae;
    }
  }
}

.header__telephone {
  display: block;
  height: 102px;
  margin-top: -20px;
  padding: 34px 20px 0;
  background-color: $c_purple;
  font-family: $font_sans;
  color: $c_white;
  text-align: right;
  white-space: nowrap;
  span {
    display: block;
    font-size: 18px;
    margin-bottom: 3px;
  }
  a {
    display: block;
    font-size: 24px;
    color: $c_white;
    i {
      font-size: 16px;
      font-style: normal;
      vertical-align: top;
    }
  }
}

.login-panel {
  position: relative;
}

.login-panel__account {
  padding: 2px 25px;
  border-right: 1px solid #a3cce7;
  cursor: pointer;
  span, a {
    position: relative;
    margin-left: 23px;
    font: 18px $font_sans;
    color: #0072bc;
    &:before {
      content: '';
      position: absolute;
      z-index: 9;
      top: 2px;
      left: -23px;
      font: 17px $font_awesome;
      color: #0072bc;
    }
  }
}

.login-panel__enter {
  @extend .login-panel__account;
  span, a {
    &:before {
      content: '';
    }
  }
}

ul.login-panel__menu-list {
  position: absolute;
  z-index: 99;
  top: 100%;
  margin-top: 25px;
  left: 0;
  display: none;
  background-color: $c_white;
  padding: 0 60px 0 50px;
  box-shadow: 3px 3px 3px rgba($c_black, .06);
  li {
    font: 18px $font_sans;
    color: #0072bc;
    padding: 15px 0;
    border-bottom: 1px solid #a3cce7;
    white-space: nowrap;
    &:last-child {
      border-bottom: 0;
    }
    a {
      color:#0072bc;
    }
  }
}

.language-switch {
  font: 18px $font_sans;
  color: #0072bc;
  padding-left: 25px;
  position: relative;
}

.language-switch__current {
  padding-right: 40px;
  span {
    position: relative;
    //&:after {
    //  content: '';
    //  position: absolute;
    //  z-index: 9;
    //  top: 10px;
    //  right: -26px;
    //  width: 0;
    //  height: 0;
    //  border-style: solid;
    //  border-width: 5px 4.5px 0 4.5px;
    //  border-color: #0071bc transparent transparent transparent;
    //}
  }
}

[data-lang] {
  //padding-left: 30px;
  padding-left: 37px;
  position: relative;
  cursor: pointer;
  &:before {
    content: '';
    position: absolute;
    z-index: 9;
    top: 0;
    left: 0;
  }
}

[data-lang="ru"] {
  &:before {
    @include sprite($flags-flag-ru)
  }
}

[data-lang="en"] {
  &:before {
    background-image: url(/images/uk2008.gif);
    width: 31px;
    height: 22px;
  }
}

[data-lang="kz"] {
  &:before {
    @include sprite($flags-flag-kz)
  }
}

ul.language-switch__list {
  display: none;
  min-width: 100%;
  background-color: $c_white;
  padding: 15px 15px 10px 0;
  position: absolute;
  z-index: 99;
  top: 100%;
  left: 0;
  li {
    padding-left: 25px;
    margin-bottom: 15px;
    a {
      color: #0072bc;
    }
  }
}


@media screen and (max-width: 1569px) {
  .language-switch__current {
    padding-right: 10px;
  }
}

@media screen and (max-width: $width_tablet) {
  ul.nav-menu {
    display: none;
  }
  .main-content {
    padding-top: 104px;
  }
  .header-float__space-wrapper {
    display: none !important;
  }
  .header-outer {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    max-width: 100%;
  }

  .header__right {
    min-width: 360px;
  }
  .logotype {
    min-width: 104px;
    margin-right: 16px;
    img {
      &.__desktop {
        display: none;
      }
      &.__device {
        display: block;
      }
    }
  }

  .header__device-menu {
    display: block;
    @include sprite($icons-menu)
  }

  .header__telephone {
    height: 104px;
  }

  .login-panel__account {
    span, a {
      display: block;
      margin-left: 0;
      overflow: hidden;
      width: 18px;
      &:before {
        position: relative;
        top: 0;
        left: 0;
        font-size: 25px;
        line-height: 30px;
      }
    }
  }

  ul.login-panel__menu-list {
    left: auto;
    right: 0;
  }

  .language-switch__current {
    //padding-right: 40px;
    padding-right: 31px;
    span {
      display: none;
    }
  }

  ul.language-switch__list {
    li {
      padding-right: 25px;
    }
  }

  [data-lang] {
    display: block;
    //width: 34px;
    width: 31px;
    //height: 31px;
    height: 22px;
    overflow: hidden;
    padding-left: 0;
  }

  [data-lang="ru"] {
    &:before {
      //@include sprite($flags-flag-ru-device)
    }
  }

  [data-lang="kz"] {
    &:before {
      //@include sprite($flags-flag-kz-device)
    }
  }
}


@media screen and (max-width: $width_mobile) {
  .header-outer {
    .header-inner {
      padding-left: 20px;
    }
  }
  .logotype, .header__login-panel, .header__language-switch {
    display: none;
  }
  .header__right {
    min-width: 209px;
  }
  .header__telephone {
    background: none;
    color: $c_blue;
    a {
      color: $c_blue;
    }
  }
}