#{extends 'admin/admin.main.html'/}

#{set 'section'} Группы #{/set}
#{set 'action'} Список #{/set}

#{set 'actions'}
    <a href="@{Admin.groupsCreate()}" class="button is-dark is-outlined">Добавить запись</a>
#{/set}

#{set 'content'}
    #{include 'admin/groups/partials/filter.html'/}

    #{if groups.size() > 0}
        <table class="table is-striped is-narrow">
            <thead>
            <tr>
                <th width="50">ID</th>
                <th>Название</th>
                <th>Ключ</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            #{list items: groups, as: 'group'}
                <tr>
                    <td>${group.id}</td>
                    <td>${group.name}</td>
                    <td>${group.key}</td>
                    <td class="is-icon">
                        #{includes.index.table-actions-groups group: group/}
                    </td>
                </tr>
            #{/list}
            </tbody>
        </table>

        <!--{{ $entities->appends(paginateAppends())->links() }}-->
    #{/if}
    #{else}
        #{include 'admin/includes/index/no-results.html' /}
    #{/else}
#{/set}
