<div class="column is-one-quarter">
    <aside class="menu">
        <p class="menu-label">
            Обучение
        </p>
        <ul class="menu-list">
            <li><a #{if active == "steps"}class="is-active"#{/if} href="@{Admin.steps()}">Шаги</a></li>
            <li><a #{if active == "lessons"}class="is-active"#{/if} href="@{Admin.lessons()}">Уроки</a></li>
            <li><a #{if active == "documents"}class="is-active"#{/if} href="@{Admin.documents()}">Материалы</a></li>
            <li><a #{if active == "news"}class="is-active"#{/if} href="@{Admin.news()}">Новости</a></li>
            <li><a #{if active == "quizzes"}class="is-active"#{/if} href="@{Admin.quizzes()}">Тесты</a></li>
        </ul>

        <p class="menu-label">
            Участники
        </p>
        <ul class="menu-list">
            <li><a #{if active == "users"}class="is-active"#{/if} href="@{Admin.users()}">Администраторы</a></li>
            <li><a #{if active == "groups"}class="is-active"#{/if} href="@{Admin.groups()}">Группы</a></li>
            <li><a #{if active == "accounts"}class="is-active"#{/if} href="@{Admin.accounts()}">Аккаунты</a></li>
            <li><a #{if active == "supervisors"}class="is-active"#{/if} href="@{Admin.supervisors()}">Супервайзеры</a></li>
            <li><a #{if active == "results"}class="is-active"#{/if} href="@{Admin.results()}">Прогресс</a></li>
            <li><a #{if active == "questions"}class="is-active"#{/if} href="@{Admin.questions()}">Вопросы</a></li>
            <li><a #{if active == "offline"}class="is-active"#{/if} href="@{Admin.offlineResults()}">Оффлайн результаты</a></li>
        </ul>
    </aside>
</div>
