$icons-arrow-left-big-green-x: 0px;
$icons-arrow-left-big-green-y: 111px;
$icons-arrow-left-big-green-offset-x: 0px;
$icons-arrow-left-big-green-offset-y: -111px;
$icons-arrow-left-big-green-width: 24px;
$icons-arrow-left-big-green-height: 107px;
$icons-arrow-left-big-green-total-width: 127px;
$icons-arrow-left-big-green-total-height: 218px;
$icons-arrow-left-big-green-image: 'sprite_icons.png';
$icons-arrow-left-big-green: 0px 111px 0px -111px 24px 107px 127px 218px 'sprite_icons.png';
$icons-arrow-right-big-green-x: 29px;
$icons-arrow-right-big-green-y: 111px;
$icons-arrow-right-big-green-offset-x: -29px;
$icons-arrow-right-big-green-offset-y: -111px;
$icons-arrow-right-big-green-width: 24px;
$icons-arrow-right-big-green-height: 107px;
$icons-arrow-right-big-green-total-width: 127px;
$icons-arrow-right-big-green-total-height: 218px;
$icons-arrow-right-big-green-image: 'sprite_icons.png';
$icons-arrow-right-big-green: 29px 111px -29px -111px 24px 107px 127px 218px 'sprite_icons.png';
$icons-arrow-right-big-white-x: 111px;
$icons-arrow-right-big-white-y: 0px;
$icons-arrow-right-big-white-offset-x: -111px;
$icons-arrow-right-big-white-offset-y: 0px;
$icons-arrow-right-big-white-width: 16px;
$icons-arrow-right-big-white-height: 72px;
$icons-arrow-right-big-white-total-width: 127px;
$icons-arrow-right-big-white-total-height: 218px;
$icons-arrow-right-big-white-image: 'sprite_icons.png';
$icons-arrow-right-big-white: 111px 0px -111px 0px 16px 72px 127px 218px 'sprite_icons.png';
$icons-form-check-off-x: 58px;
$icons-form-check-off-y: 154px;
$icons-form-check-off-offset-x: -58px;
$icons-form-check-off-offset-y: -154px;
$icons-form-check-off-width: 26px;
$icons-form-check-off-height: 26px;
$icons-form-check-off-total-width: 127px;
$icons-form-check-off-total-height: 218px;
$icons-form-check-off-image: 'sprite_icons.png';
$icons-form-check-off: 58px 154px -58px -154px 26px 26px 127px 218px 'sprite_icons.png';
$icons-form-check-on-x: 58px;
$icons-form-check-on-y: 185px;
$icons-form-check-on-offset-x: -58px;
$icons-form-check-on-offset-y: -185px;
$icons-form-check-on-width: 26px;
$icons-form-check-on-height: 26px;
$icons-form-check-on-total-width: 127px;
$icons-form-check-on-total-height: 218px;
$icons-form-check-on-image: 'sprite_icons.png';
$icons-form-check-on: 58px 185px -58px -185px 26px 26px 127px 218px 'sprite_icons.png';
$icons-menu-x: 58px;
$icons-menu-y: 111px;
$icons-menu-offset-x: -58px;
$icons-menu-offset-y: -111px;
$icons-menu-width: 46px;
$icons-menu-height: 38px;
$icons-menu-total-width: 127px;
$icons-menu-total-height: 218px;
$icons-menu-image: 'sprite_icons.png';
$icons-menu: 58px 111px -58px -111px 46px 38px 127px 218px 'sprite_icons.png';
$icons-play-x: 0px;
$icons-play-y: 0px;
$icons-play-offset-x: 0px;
$icons-play-offset-y: 0px;
$icons-play-width: 106px;
$icons-play-height: 106px;
$icons-play-total-width: 127px;
$icons-play-total-height: 218px;
$icons-play-image: 'sprite_icons.png';
$icons-play: 0px 0px 0px 0px 106px 106px 127px 218px 'sprite_icons.png';
$icons-star-active-x: 111px;
$icons-star-active-y: 77px;
$icons-star-active-offset-x: -111px;
$icons-star-active-offset-y: -77px;
$icons-star-active-width: 15px;
$icons-star-active-height: 15px;
$icons-star-active-total-width: 127px;
$icons-star-active-total-height: 218px;
$icons-star-active-image: 'sprite_icons.png';
$icons-star-active: 111px 77px -111px -77px 15px 15px 127px 218px 'sprite_icons.png';
$icons-star-x: 111px;
$icons-star-y: 97px;
$icons-star-offset-x: -111px;
$icons-star-offset-y: -97px;
$icons-star-width: 15px;
$icons-star-height: 15px;
$icons-star-total-width: 127px;
$icons-star-total-height: 218px;
$icons-star-image: 'sprite_icons.png';
$icons-star: 111px 97px -111px -97px 15px 15px 127px 218px 'sprite_icons.png';
