$social-facebook-x: 0px;
$social-facebook-y: 0px;
$social-facebook-offset-x: 0px;
$social-facebook-offset-y: 0px;
$social-facebook-width: 35px;
$social-facebook-height: 36px;
$social-facebook-total-width: 115px;
$social-facebook-total-height: 36px;
$social-facebook-image: 'sprite_social.png';
$social-facebook: 0px 0px 0px 0px 35px 36px 115px 36px 'sprite_social.png';
$social-instagram-x: 40px;
$social-instagram-y: 0px;
$social-instagram-offset-x: -40px;
$social-instagram-offset-y: 0px;
$social-instagram-width: 35px;
$social-instagram-height: 36px;
$social-instagram-total-width: 115px;
$social-instagram-total-height: 36px;
$social-instagram-image: 'sprite_social.png';
$social-instagram: 40px 0px -40px 0px 35px 36px 115px 36px 'sprite_social.png';
$social-vkontakte-x: 80px;
$social-vkontakte-y: 0px;
$social-vkontakte-offset-x: -80px;
$social-vkontakte-offset-y: 0px;
$social-vkontakte-width: 35px;
$social-vkontakte-height: 36px;
$social-vkontakte-total-width: 115px;
$social-vkontakte-total-height: 36px;
$social-vkontakte-image: 'sprite_social.png';
$social-vkontakte: 80px 0px -80px 0px 35px 36px 115px 36px 'sprite_social.png';
