#{extends 'admin/admin.main.html' /}

#{set 'section'} Администраторы #{/set}
#{set 'action'} Редактированиe #{/set}

#{set 'content'}
    <form method="post" action="@{Admin.updateUser(user.id)}">
        #{include 'admin/users/partials/form.html' /}

        #{includes.form.actions action: action /}
    </form>
    #{if emptyFieldsError}
    <div class="notification is-danger" style="margin-top: 20px">
        ${emptyFieldsError}
    </div>
    #{/if}
#{/set}