<div class="notification">
    <form method="GET" action="@{Admin.documents()}">
        <div class="control is-horizontal">
            <div class="control-label">
                <label class="label">ID</label>
            </div>
            <div class="control">
                <p class="control is-width-one-quarter">
                    #{includes.form.filter.input name: idInputName/}
                </p>
            </div>
        </div>

        <div class="control is-horizontal">
            <div class="control-label">
                <label class="label">Название</label>
            </div>
            <div class="control">
                <p class="control is-width-full">
                    #{includes.form.filter.input name: nameInputName /}
                </p>
            </div>
        </div>

        <div class="control is-horizontal" id="field-group">
            <div class="control-label">
                <label class="label">Группа</label>
            </div>
            <div class="control">
                <p class="control is-width-full">
                    #{includes.form.filter.dropdown name: groupDropdownName, options: groupDropdownOptions /}
                </p>
            </div>
        </div>

        <div class="control is-horizontal">
            <div class="control-label">
                <label class="label"></label>
            </div>
            <p class="control">
                <button type="submit" class="button is-info">Найти</button>
                <a href="@{Admin.documents()}" class="button is-link">Отменить</a>
            </p>
        </div>
    </form>
</div>
