<div class="control is-horizontal" id="field-group">
    <div class="control-label">
        <label class="label">Группа</label>
    </div>
    <div class="control">
        <p class="control is-width-full">
            #{if document}
                #{includes.form.field.dropdown name: groupDropdownName, dropdownOptions: groupDropdownOptions, old: document.group/}
            #{/if}
            #{else}
                #{includes.form.field.dropdown name: groupDropdownName, dropdownOptions: groupDropdownOptions /}
            #{/else}
        </p>
    </div>
</div>

<div class="control is-horizontal is-hidden" id="field-step">
    <div class="control-label">
        <label class="label">Шаг</label>
    </div>
    <div class="control">
        <p class="control is-width-full">
            #{if document}
                #{includes.form.field.dropdown name: stepDropdownName, dropdownOptions: stepDropdownInitialOptions,old: document.step/}
            #{/if}
            #{else}
                #{includes.form.field.dropdown name: stepDropdownName/}
            #{/else}
        </p>
    </div>
</div>

<hr>

<div class="control is-horizontal">
    <div class="control-label">
        <label class="label">Название</label>
    </div>
    <div class="control">
        <p class="control is-width-full">
            #{if document}
                #{includes.form.field.input name: nameInputName, type: 'text', old: document.name/}
            #{/if}
            #{else}
                #{includes.form.field.input name: nameInputName, type: 'text' /}
            #{/else}
        </p>
    </div>
</div>

<div class="control is-horizontal">
    <div class="control-label">
        <label class="label">Файл</label>
    </div>
    <div class="control">
        <p class="control is-width-half">
            #{if document}
                #{includes.form.field.file name: fileName, inputClass: 'input-1', spanClass: 'span-1', old: document.file/}
            #{/if}
            #{else}
                #{includes.form.field.file name: fileName, inputClass: 'input-1', spanClass: 'span-1'/}
            #{/else}
        </p>
    </div>
</div>

#{includes.script.stepable/}
#{includes.script.onleave/}
#{includes.script.tinymce/}
