#{extends 'main.html' /}
<section class="header-block-outer">
    <div class="header-block-inner">
        <div class="header-block__wrapper">
            <div class="header-block__left">
                <div class="header-block__title">
                    &{'news.about'}
                </div>
            </div>
        </div>
    </div>
</section>
<div class="about-text" style="padding: 5%; font-size: 120%">&{'index.about'}</div>