#{extends 'main.html' /}
<section class="home-page-slides-outer">
    <div class="slide-block slide-block_theme_blue-dark" id="slide-block-1" data-item="slide-block-1"
         style="background-image: url('/images/layout/home-slide-1-big-new.jpg');">
        <div class="slide-block-inner">
            <div class="slide-block__information-wrapper">
                <a href="@{Application.about()}">
                    <div class="slide-block__information" style="background-image: url('/images/icon_1.png');">
                        <div class="slide-block__information-top">
                            <div class="slide-block__information-title">&{'layout.home.block1'}</div>
                        </div>

                        <div class="slide-block__information-middle">
                            <div class="slide-block__information-text">
                                &{'index.about'}
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>

    <div class="slide-block slide-block_theme_purple" id="slide-block-2" data-item="slide-block-2"
         style="background-image: url('/images/layout/home-slide-2-big.jpg');">
        <div class="slide-block-bg-inner" id="slide-block-2-2"
             style="background-image: url('/images/layout/home-slide-2-2.png');"></div>

        <div class="slide-block-inner">
            <div class="slide-block__information-wrapper">
                <a href="@{SurveyController.survey()}">
                    <div class="slide-block__information" style="background-image: url('/images/icon_2.png');">
                        <div class="slide-block__information-top">
                            <div class="slide-block__information-title">&{'layout.home.block2'}</div>
                        </div>
                        <div class="slide-block__information-middle">
                            <div class="slide-block__information-text">
                                &{'index.students'}
                            </div>
                        </div>
                    </div>
                </a>
            </div>

            <div class="video-block-wrapper">
                <div class="video-block" id="player" style="background-image: url(/images/layout/children_video_prev2.jpg);"></div>
            </div>
        </div>
    </div>
    <div class="slide-block slide-block_theme_aqua" id="slide-block-3" data-item="slide-block-3"
         style="background-image: url('/images/layout/home-slide-3-big-new.jpg');">
        <div class="slide-block-inner">
            <div class="slide-block__information-wrapper">
                <a href="@{Application.login()}">
                    <div class="slide-block__information" style="background-image: url('/images/icon_3.png');">
                        <div class="slide-block__information-top">
                            <div class="slide-block__information-title">&{'layout.home.block3'}</div>
                        </div>

                        <div class="slide-block__information-middle">
                            <div class="slide-block__information-text">
                                &{'index.parents'}
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="slide-block slide-block_theme_green" id="slide-block-4" data-item="slide-block-4"
         style="background-image: url('/images/layout/home-slide-4-big.jpg');">
        <div class="slide-block-inner">
            <div class="slide-block__information-wrapper">
                <a href="@{Application.login()}">
                    <div class="slide-block__information" style="background-image: url('/images/icon_4.png');">
                        <div class="slide-block__information-top">
                            <div class="slide-block__information-title">&{'layout.home.block4'}</div>
                        </div>

                        <div class="slide-block__information-middle">
                            <div class="slide-block__information-text">
                                &{'index.teachers'}
                            </div>
                        </div>
                    </div>
                </a>
            </div>

            <div class="carousel-block">
                <div class="carousel-block__nav-prev"></div>
                <div class="carousel-block__nav-next"></div>

                <div class="carosel-block-wrapper">
                    <div class="carousel-block__carousel owl-carousel" id="carousel-1">
                        <div class="__item"><img src="/images/layout/home-carousel-slide-1.jpg"></div>
                        <div class="__item"><img src="/images/layout/home-carousel-slide-1.jpg"></div>
                        <div class="__item"><img src="/images/layout/home-carousel-slide-1.jpg"></div>
                        <div class="__item"><img src="/images/layout/home-carousel-slide-1.jpg"></div>
                        <div class="__item"><img src="/images/layout/home-carousel-slide-1.jpg"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="slide-block slide-block_theme_blue" id="slide-block-5" data-item="slide-block-5"
         style="background-image: url('/images/layout/home-slide-5-big.jpg');">
        <div class="slide-block-bg-outer"
             style="background-image: url('/images/layout/home-slide-5-2.png');"></div>
        <div class="slide-block-inner">
            <div class="slide-block__information-wrapper">
                <a href="@{Application.login()}">
                    <div class="slide-block__information" style="background-image: url('/images/icon_5.png');">
                        <div class="slide-block__information-top">
                            <div class="slide-block__information-title">&{'layout.home.block5'}</div>
                        </div>

                        <div class="slide-block__information-middle">
                            <div class="slide-block__information-text">
                                &{'index.project.participants'}
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
#{set 'moreScripts'}
<script src="/js/libs/owl.carousel.min.js"></script>
<script src="/js/libs/jquery.scroolly.min.js"></script>
<script src="/js/home.js"></script>
#{/set}