<div class="control is-horizontal">
    <div class="control-label">
        <label class="label">Название</label>
    </div>
    <div class="control">
        <p class="control is-width-full">
            #{if group}
                #{includes.form.field.input name: nameInputName, error: duplicateNameError, old: group.name/}
            #{/if}
            #{else}
                #{includes.form.field.input name: nameInputName, error: duplicateNameError/}
            #{/else}
        </p>
    </div>
</div>

<div class="control is-horizontal">
    <div class="control-label">
        <label class="label">Ключ</label>
    </div>
    <div class="control">
        <p class="control is-width-full">
            #{if group}
                #{includes.form.field.input name: keyInputName, error: duplicateKeyError, old: group.key/}
            #{/if}
            #{else}
                #{includes.form.field.input name: keyInputName, error: duplicateKeyError/}
            #{/else}
        </p>
    </div>
</div>

#{includes.script.onleave/}
