<div class="survey-question" id="q1">
    <div class="survey-question-text">&{'q1'}</div>
    <div class="survey-answer">
        <div class="survey-answer-radio-text">
            <input type="radio" name="q1" onchange="handleInputChange(this.name, this.value)" value="0"> <span class="helping-el"></span> <span class="survey-answer-text"> &{'q1.1'} </span>
        </div>
        <div class="survey-answer-radio-text">
            <input type="radio" name="q1" onchange="handleInputChange(this.name, this.value)" value="1"> <span class="helping-el"></span> <span class="survey-answer-text"> &{'q1.2'} </span>
        </div>
        <div class="survey-answer-radio-text">
            <input type="radio" name="q1" onchange="handleInputChange(this.name, this.value)" value="2"> <span class="helping-el"></span> <span class="survey-answer-text"> &{'q1.3'} </span>
        </div>
        <div class="survey-answer-radio-text">
            <input type="radio" name="q1" onchange="handleInputChange(this.name, this.value)" value="3"> <span class="helping-el"></span> <span class="survey-answer-text"> &{'q1.4'} </span>
        </div>
        <div class="survey-answer-radio-text">
            <input type="radio" name="q1" onchange="handleInputChange(this.name, this.value)" value="4"> <span class="helping-el"></span> <span class="survey-answer-text"> &{'q1.5'} </span>
        </div>
    </div>
    <button class="survey-answer-submit">&{'survey.next'}</button>
    <button class="survey-answer-interrupt">&{'survey.stop'}</button>
</div>