<div class="survey-question" id="q2">
    <div class="survey-question-text">&{'q2'}</div>
    <div class="survey-answer">
        <div class="survey-answer-radio-text">
            <input type="radio" name="q2" onchange="handleInputChange(this.name, this.value)" value="0"> <span class="helping-el"></span> <span class="survey-answer-text"> &{'no'} </span>
        </div>
        <div class="survey-answer-radio-text">
            <input type="radio" name="q2" onchange="handleInputChange(this.name, this.value)" value="1"> <span class="helping-el"></span> <span class="survey-answer-text"> &{'q2.2'} </span>
        </div>
        <div class="survey-answer-radio-text">
            <input type="radio" name="q2" onchange="handleInputChange(this.name, this.value)" value="2"> <span class="helping-el"></span> <span class="survey-answer-text"> &{'q2.3'} </span>
        </div>
    </div>
    <button class="survey-answer-submit">&{'survey.next'}</button> <button class="survey-answer-interrupt">&{'survey.stop'}</button>
</div>