<div class="survey-question" id="q3">
    <div class="survey-question-text text-small">&{'q3'} </div>
    <div class="survey-answer">
        <div class="input-range-show">1</div>
        <input type="range" min="1" max="7" name="q3" onchange="handleInputChange(this.name, this.value)"  oninput="onInputRangeChange(this.name, this.value)" value="1">
    </div>
    <button class="survey-answer-submit">&{'survey.next'}</button> <button class="survey-answer-interrupt">&{'survey.stop'}</button>
</div>