<div class="survey-question" id="q4">
    <div class="survey-question-text no-margin-bottom text-small">&{'q4'}</div>
    <div class="survey-answer">
        <table class="survey-test-table" id="q4-table">
            <thead>
            <tr>
                <th></th>
                <th>&{'q4.1'}</th>
                <th>&{'q4.2'}</th>
                <th>&{'q4.3'}</th>
                <th>&{'q4.4'}</th>
            </tr>
            </thead>
            <tbody>
            <tr class="survey-subanswer">
                <td>
                    <div class="survey-subquestion-text">
                        &{'q4-1'}
                    </div>
                </td>
                <td>
                    <div class="survey-answer-radio-text">
                        <input type="radio" name="q4-1" onchange="handleInputChange(this.name, this.value)" value="0"> <span class="helping-el" style="margin-left: auto; margin-right: auto"></span>
                    </div>
                </td>
                <td>
                    <div class="survey-answer-radio-text">
                        <input type="radio" name="q4-1" onchange="handleInputChange(this.name, this.value)" value="1"> <span class="helping-el" style="margin-left: auto; margin-right: auto"></span>
                    </div>
                </td>
                <td>
                    <div class="survey-answer-radio-text">
                        <input type="radio" name="q4-1" onchange="handleInputChange(this.name, this.value)" value="2"> <span class="helping-el" style="margin-left: auto; margin-right: auto"></span>
                    </div>
                </td>
                <td>
                    <div class="survey-answer-radio-text">
                        <input type="radio" name="q4-1" onchange="handleInputChange(this.name, this.value)" value="3"> <span class="helping-el" style="margin-left: auto; margin-right: auto"></span>
                    </div>
                </td>
            </tr>
            <tr class="table-spacer"></tr>
            <tr class="survey-subanswer">
                <td>
                    <div class="survey-subquestion-text">
                        &{'q4-2'}
                    </div>
                </td>
                <td>
                    <div class="survey-answer-radio-text">
                        <input type="radio" name="q4-2" onchange="handleInputChange(this.name, this.value)" value="0"> <span class="helping-el" style="margin-left: auto; margin-right: auto"></span>
                    </div>
                </td>
                <td>
                    <div class="survey-answer-radio-text">
                        <input type="radio" name="q4-2" onchange="handleInputChange(this.name, this.value)" value="1"> <span class="helping-el" style="margin-left: auto; margin-right: auto"></span>
                    </div>
                </td>
                <td>
                    <div class="survey-answer-radio-text">
                        <input type="radio" name="q4-2" onchange="handleInputChange(this.name, this.value)" value="2"> <span class="helping-el" style="margin-left: auto; margin-right: auto"></span>
                    </div>
                </td>
                <td>
                    <div class="survey-answer-radio-text">
                        <input type="radio" name="q4-2" onchange="handleInputChange(this.name, this.value)" value="3"> <span class="helping-el" style="margin-left: auto; margin-right: auto"></span>
                    </div>
                </td>
            </tr>
            <tr class="table-spacer"></tr>
            <tr class="survey-subanswer">
                <td>
                    <div class="survey-subquestion-text">
                        &{'q4-3'}
                    </div>
                </td>
                <td>
                    <div class="survey-answer-radio-text">
                        <input type="radio" name="q4-3" onchange="handleInputChange(this.name, this.value)" value="0"> <span class="helping-el" style="margin-left: auto; margin-right: auto"></span>
                    </div>
                </td>
                <td>
                    <div class="survey-answer-radio-text">
                        <input type="radio" name="q4-3" onchange="handleInputChange(this.name, this.value)" value="1"> <span class="helping-el" style="margin-left: auto; margin-right: auto"></span>
                    </div>
                </td>
                <td>
                    <div class="survey-answer-radio-text">
                        <input type="radio" name="q4-3" onchange="handleInputChange(this.name, this.value)" value="2"> <span class="helping-el" style="margin-left: auto; margin-right: auto"></span>
                    </div>
                </td>
                <td>
                    <div class="survey-answer-radio-text">
                        <input type="radio" name="q4-3" onchange="handleInputChange(this.name, this.value)" value="3"> <span class="helping-el" style="margin-left: auto; margin-right: auto"></span>
                    </div>
                </td>
            </tr>
            <tr class="table-spacer"></tr>
            <tr class="survey-subanswer">
                <td>
                    <div class="survey-subquestion-text">
                        &{'q4-4'}
                    </div>
                </td>
                <td>
                    <div class="survey-answer-radio-text">
                        <input type="radio" name="q4-4" onchange="handleInputChange(this.name, this.value)" value="0"> <span class="helping-el" style="margin-left: auto; margin-right: auto"></span>
                    </div>
                </td>
                <td>
                    <div class="survey-answer-radio-text">
                        <input type="radio" name="q4-4" onchange="handleInputChange(this.name, this.value)" value="1"> <span class="helping-el" style="margin-left: auto; margin-right: auto"></span>
                    </div>
                </td>
                <td>
                    <div class="survey-answer-radio-text">
                        <input type="radio" name="q4-4" onchange="handleInputChange(this.name, this.value)" value="2"> <span class="helping-el" style="margin-left: auto; margin-right: auto"></span>
                    </div>
                </td>
                <td>
                    <div class="survey-answer-radio-text">
                        <input type="radio" name="q4-4" onchange="handleInputChange(this.name, this.value)" value="3"> <span class="helping-el" style="margin-left: auto; margin-right: auto"></span>
                    </div>
                </td>
            </tr>
            <tr class="table-spacer"></tr>
            <tr class="survey-subanswer">
                <td>
                    <div class="survey-subquestion-text">
                        &{'q4-5'}
                    </div>
                </td>
                <td>
                    <div class="survey-answer-radio-text">
                        <input type="radio" name="q4-5" onchange="handleInputChange(this.name, this.value)" value="0"> <span class="helping-el" style="margin-left: auto; margin-right: auto"></span>
                    </div>
                </td>
                <td>
                    <div class="survey-answer-radio-text">
                        <input type="radio" name="q4-5" onchange="handleInputChange(this.name, this.value)" value="1"> <span class="helping-el" style="margin-left: auto; margin-right: auto"></span>
                    </div>
                </td>
                <td>
                    <div class="survey-answer-radio-text">
                        <input type="radio" name="q4-5" onchange="handleInputChange(this.name, this.value)" value="2"> <span class="helping-el" style="margin-left: auto; margin-right: auto"></span>
                    </div>
                </td>
                <td>
                    <div class="survey-answer-radio-text">
                        <input type="radio" name="q4-5" onchange="handleInputChange(this.name, this.value)" value="3"> <span class="helping-el" style="margin-left: auto; margin-right: auto"></span>
                    </div>
                </td>
            </tr>
            <tr class="table-spacer"></tr>
            <tr class="survey-subanswer">
                <td>
                    <div class="survey-subquestion-text">
                        &{'q4-6'}
                    </div>
                </td>
                <td>
                    <div class="survey-answer-radio-text">
                        <input type="radio" name="q4-6" onchange="handleInputChange(this.name, this.value)" value="0"> <span class="helping-el" style="margin-left: auto; margin-right: auto"></span>
                    </div>
                </td>
                <td>
                    <div class="survey-answer-radio-text">
                        <input type="radio" name="q4-6" onchange="handleInputChange(this.name, this.value)" value="1"> <span class="helping-el" style="margin-left: auto; margin-right: auto"></span>
                    </div>
                </td>
                <td>
                    <div class="survey-answer-radio-text">
                        <input type="radio" name="q4-6" onchange="handleInputChange(this.name, this.value)" value="2"> <span class="helping-el" style="margin-left: auto; margin-right: auto"></span>
                    </div>
                </td>
                <td>
                    <div class="survey-answer-radio-text">
                        <input type="radio" name="q4-6" onchange="handleInputChange(this.name, this.value)" value="3"> <span class="helping-el" style="margin-left: auto; margin-right: auto"></span>
                    </div>
                </td>
            </tr>
            <tr class="table-spacer"></tr>
            <tr class="survey-subanswer">
                <td>
                    <div class="survey-subquestion-text">
                        &{'q4-7'}
                    </div>
                </td>
                <td>
                    <div class="survey-answer-radio-text">
                        <input type="radio" name="q4-7" onchange="handleInputChange(this.name, this.value)" value="0"> <span class="helping-el" style="margin-left: auto; margin-right: auto"></span>
                    </div>
                </td>
                <td>
                    <div class="survey-answer-radio-text">
                        <input type="radio" name="q4-7" onchange="handleInputChange(this.name, this.value)" value="1"> <span class="helping-el" style="margin-left: auto; margin-right: auto"></span>
                    </div>
                </td>
                <td>
                    <div class="survey-answer-radio-text">
                        <input type="radio" name="q4-7" onchange="handleInputChange(this.name, this.value)" value="2"> <span class="helping-el" style="margin-left: auto; margin-right: auto"></span>
                    </div>
                </td>
                <td>
                    <div class="survey-answer-radio-text">
                        <input type="radio" name="q4-7" onchange="handleInputChange(this.name, this.value)" value="3"> <span class="helping-el" style="margin-left: auto; margin-right: auto"></span>
                    </div>
                </td>
            </tr>
            <tr class="table-spacer"></tr>
            <tr class="survey-subanswer">
                <td>
                    <div class="survey-subquestion-text">
                        &{'q4-8'}
                    </div>
                </td>
                <td>
                    <div class="survey-answer-radio-text">
                        <input type="radio" name="q4-8" onchange="handleInputChange(this.name, this.value)" value="0"> <span class="helping-el" style="margin-left: auto; margin-right: auto"></span>
                    </div>
                </td>
                <td>
                    <div class="survey-answer-radio-text">
                        <input type="radio" name="q4-8" onchange="handleInputChange(this.name, this.value)" value="1"> <span class="helping-el" style="margin-left: auto; margin-right: auto"></span>
                    </div>
                </td>
                <td>
                    <div class="survey-answer-radio-text">
                        <input type="radio" name="q4-8" onchange="handleInputChange(this.name, this.value)" value="2"> <span class="helping-el" style="margin-left: auto; margin-right: auto"></span>
                    </div>
                </td>
                <td>
                    <div class="survey-answer-radio-text">
                        <input type="radio" name="q4-8" onchange="handleInputChange(this.name, this.value)" value="3"> <span class="helping-el" style="margin-left: auto; margin-right: auto"></span>
                    </div>
                </td>
            </tr>
            <tr class="table-spacer"></tr>
            <tr class="survey-subanswer">
                <td>
                    <div class="survey-subquestion-text">
                        &{'q4-9'}
                    </div>
                </td>
                <td>
                    <div class="survey-answer-radio-text">
                        <input type="radio" name="q4-9" onchange="handleInputChange(this.name, this.value)" value="0"> <span class="helping-el" style="margin-left: auto; margin-right: auto"></span>
                    </div>
                </td>
                <td>
                    <div class="survey-answer-radio-text">
                        <input type="radio" name="q4-9" onchange="handleInputChange(this.name, this.value)" value="1"> <span class="helping-el" style="margin-left: auto; margin-right: auto"></span>
                    </div>
                </td>
                <td>
                    <div class="survey-answer-radio-text">
                        <input type="radio" name="q4-9" onchange="handleInputChange(this.name, this.value)" value="2"> <span class="helping-el" style="margin-left: auto; margin-right: auto"></span>
                    </div>
                </td>
                <td>
                    <div class="survey-answer-radio-text">
                        <input type="radio" name="q4-9" onchange="handleInputChange(this.name, this.value)" value="3"> <span class="helping-el" style="margin-left: auto; margin-right: auto"></span>
                    </div>
                </td>
            </tr>
            <tr class="table-spacer"></tr>
            <tr class="survey-subanswer">
                <td>
                    <div class="survey-subquestion-text">
                        &{'q4-10'}
                    </div>
                </td>
                <td>
                    <div class="survey-answer-radio-text">
                        <input type="radio" name="q4-10" onchange="handleInputChange(this.name, this.value)" value="0"> <span class="helping-el" style="margin-left: auto; margin-right: auto"></span>
                    </div>
                </td>
                <td>
                    <div class="survey-answer-radio-text">
                        <input type="radio" name="q4-10" onchange="handleInputChange(this.name, this.value)" value="1"> <span class="helping-el" style="margin-left: auto; margin-right: auto"></span>
                    </div>
                </td>
                <td>
                    <div class="survey-answer-radio-text">
                        <input type="radio" name="q4-10" onchange="handleInputChange(this.name, this.value)" value="2"> <span class="helping-el" style="margin-left: auto; margin-right: auto"></span>
                    </div>
                </td>
                <td>
                    <div class="survey-answer-radio-text">
                        <input type="radio" name="q4-10" onchange="handleInputChange(this.name, this.value)" value="3"> <span class="helping-el" style="margin-left: auto; margin-right: auto"></span>
                    </div>
                </td>
            </tr>
            <tr class="table-spacer"></tr>
            <tr class="survey-subanswer">
                <td>
                    <div class="survey-subquestion-text">
                        &{'q4-11'}
                    </div>
                </td>
                <td>
                    <div class="survey-answer-radio-text">
                        <input type="radio" name="q4-11" onchange="handleInputChange(this.name, this.value)" value="0"> <span class="helping-el" style="margin-left: auto; margin-right: auto"></span>
                    </div>
                </td>
                <td>
                    <div class="survey-answer-radio-text">
                        <input type="radio" name="q4-11" onchange="handleInputChange(this.name, this.value)" value="1"> <span class="helping-el" style="margin-left: auto; margin-right: auto"></span>
                    </div>
                </td>
                <td>
                    <div class="survey-answer-radio-text">
                        <input type="radio" name="q4-11" onchange="handleInputChange(this.name, this.value)" value="2"> <span class="helping-el" style="margin-left: auto; margin-right: auto"></span>
                    </div>
                </td>
                <td>
                    <div class="survey-answer-radio-text">
                        <input type="radio" name="q4-11" onchange="handleInputChange(this.name, this.value)" value="3"> <span class="helping-el" style="margin-left: auto; margin-right: auto"></span>
                    </div>
                </td>
            </tr>
            <tr class="table-spacer"></tr>
            <tr class="survey-subanswer">
                <td>
                    <div class="survey-subquestion-text">
                        &{'q4-12'}
                    </div>
                </td>
                <td>
                    <div class="survey-answer-radio-text">
                        <input type="radio" name="q4-12" onchange="handleInputChange(this.name, this.value)" value="0"> <span class="helping-el" style="margin-left: auto; margin-right: auto"></span>
                    </div>
                </td>
                <td>
                    <div class="survey-answer-radio-text">
                        <input type="radio" name="q4-12" onchange="handleInputChange(this.name, this.value)" value="1"> <span class="helping-el" style="margin-left: auto; margin-right: auto"></span>
                    </div>
                </td>
                <td>
                    <div class="survey-answer-radio-text">
                        <input type="radio" name="q4-12" onchange="handleInputChange(this.name, this.value)" value="2"> <span class="helping-el" style="margin-left: auto; margin-right: auto"></span>
                    </div>
                </td>
                <td>
                    <div class="survey-answer-radio-text">
                        <input type="radio" name="q4-12" onchange="handleInputChange(this.name, this.value)" value="3"> <span class="helping-el" style="margin-left: auto; margin-right: auto"></span>
                    </div>
                </td>
            </tr>
            <tr class="table-spacer"></tr>
            <tr class="survey-subanswer">
                <td>
                    <div class="survey-subquestion-text">
                        &{'q4-13'}
                    </div>
                </td>
                <td>
                    <div class="survey-answer-radio-text">
                        <input type="radio" name="q4-13" onchange="handleInputChange(this.name, this.value)" value="0"> <span class="helping-el" style="margin-left: auto; margin-right: auto"></span>
                    </div>
                </td>
                <td>
                    <div class="survey-answer-radio-text">
                        <input type="radio" name="q4-13" onchange="handleInputChange(this.name, this.value)" value="1"> <span class="helping-el" style="margin-left: auto; margin-right: auto"></span>
                    </div>
                </td>
                <td>
                    <div class="survey-answer-radio-text">
                        <input type="radio" name="q4-13" onchange="handleInputChange(this.name, this.value)" value="2"> <span class="helping-el" style="margin-left: auto; margin-right: auto"></span>
                    </div>
                </td>
                <td>
                    <div class="survey-answer-radio-text">
                        <input type="radio" name="q4-13" onchange="handleInputChange(this.name, this.value)" value="3"> <span class="helping-el" style="margin-left: auto; margin-right: auto"></span>
                    </div>
                </td>
            </tr>
            <tr class="table-spacer"></tr>
            <tr class="survey-subanswer">
                <td>
                    <div class="survey-subquestion-text">
                        &{'q4-14'}
                    </div>
                </td>
                <td>
                    <div class="survey-answer-radio-text">
                        <input type="radio" name="q4-14" onchange="handleInputChange(this.name, this.value)" value="0"> <span class="helping-el" style="margin-left: auto; margin-right: auto"></span>
                    </div>
                </td>
                <td>
                    <div class="survey-answer-radio-text">
                        <input type="radio" name="q4-14" onchange="handleInputChange(this.name, this.value)" value="1"> <span class="helping-el" style="margin-left: auto; margin-right: auto"></span>
                    </div>
                </td>
                <td>
                    <div class="survey-answer-radio-text">
                        <input type="radio" name="q4-14" onchange="handleInputChange(this.name, this.value)" value="2"> <span class="helping-el" style="margin-left: auto; margin-right: auto"></span>
                    </div>
                </td>
                <td>
                    <div class="survey-answer-radio-text">
                        <input type="radio" name="q4-14" onchange="handleInputChange(this.name, this.value)" value="3"> <span class="helping-el" style="margin-left: auto; margin-right: auto"></span>
                    </div>
                </td>
            </tr>
            <tr class="table-spacer"></tr>
            <tr class="survey-subanswer">
                <td>
                    <div class="survey-subquestion-text">
                        &{'q4-15'}
                    </div>
                </td>
                <td>
                    <div class="survey-answer-radio-text">
                        <input type="radio" name="q4-15" onchange="handleInputChange(this.name, this.value)" value="0"> <span class="helping-el" style="margin-left: auto; margin-right: auto"></span>
                    </div>
                </td>
                <td>
                    <div class="survey-answer-radio-text">
                        <input type="radio" name="q4-15" onchange="handleInputChange(this.name, this.value)" value="1"> <span class="helping-el" style="margin-left: auto; margin-right: auto"></span>
                    </div>
                </td>
                <td>
                    <div class="survey-answer-radio-text">
                        <input type="radio" name="q4-15" onchange="handleInputChange(this.name, this.value)" value="2"> <span class="helping-el" style="margin-left: auto; margin-right: auto"></span>
                    </div>
                </td>
                <td>
                    <div class="survey-answer-radio-text">
                        <input type="radio" name="q4-15" onchange="handleInputChange(this.name, this.value)" value="3"> <span class="helping-el" style="margin-left: auto; margin-right: auto"></span>
                    </div>
                </td>
            </tr>
            <tr class="table-spacer"></tr>
            <tr class="survey-subanswer">
                <td>
                    <div class="survey-subquestion-text">
                        &{'q4-16'}
                    </div>
                </td>
                <td>
                    <div class="survey-answer-radio-text">
                        <input type="radio" name="q4-16" onchange="handleInputChange(this.name, this.value)" value="0"> <span class="helping-el" style="margin-left: auto; margin-right: auto"></span>
                    </div>
                </td>
                <td>
                    <div class="survey-answer-radio-text">
                        <input type="radio" name="q4-16" onchange="handleInputChange(this.name, this.value)" value="1"> <span class="helping-el" style="margin-left: auto; margin-right: auto"></span>
                    </div>
                </td>
                <td>
                    <div class="survey-answer-radio-text">
                        <input type="radio" name="q4-16" onchange="handleInputChange(this.name, this.value)" value="2"> <span class="helping-el" style="margin-left: auto; margin-right: auto"></span>
                    </div>
                </td>
                <td>
                    <div class="survey-answer-radio-text">
                        <input type="radio" name="q4-16" onchange="handleInputChange(this.name, this.value)" value="3"> <span class="helping-el" style="margin-left: auto; margin-right: auto"></span>
                    </div>
                </td>
            </tr>
            <tr class="table-spacer"></tr>
            <tr class="survey-subanswer">
                <td>
                    <div class="survey-subquestion-text">
                        &{'q4-17'}
                    </div>
                </td>
                <td>
                    <div class="survey-answer-radio-text">
                        <input type="radio" name="q4-17" onchange="handleInputChange(this.name, this.value)" value="0"> <span class="helping-el" style="margin-left: auto; margin-right: auto"></span>
                    </div>
                </td>
                <td>
                    <div class="survey-answer-radio-text">
                        <input type="radio" name="q4-17" onchange="handleInputChange(this.name, this.value)" value="1"> <span class="helping-el" style="margin-left: auto; margin-right: auto"></span>
                    </div>
                </td>
                <td>
                    <div class="survey-answer-radio-text">
                        <input type="radio" name="q4-17" onchange="handleInputChange(this.name, this.value)" value="2"> <span class="helping-el" style="margin-left: auto; margin-right: auto"></span>
                    </div>
                </td>
                <td>
                    <div class="survey-answer-radio-text">
                        <input type="radio" name="q4-17" onchange="handleInputChange(this.name, this.value)" value="3"> <span class="helping-el" style="margin-left: auto; margin-right: auto"></span>
                    </div>
                </td>
            </tr>
            <tr class="table-spacer"></tr>
            <tr class="survey-subanswer">
                <td>
                    <div class="survey-subquestion-text">
                        &{'q4-18'}
                    </div>
                </td>
                <td>
                    <div class="survey-answer-radio-text">
                        <input type="radio" name="q4-18" onchange="handleInputChange(this.name, this.value)" value="0"> <span class="helping-el" style="margin-left: auto; margin-right: auto"></span>
                    </div>
                </td>
                <td>
                    <div class="survey-answer-radio-text">
                        <input type="radio" name="q4-18" onchange="handleInputChange(this.name, this.value)" value="1"> <span class="helping-el" style="margin-left: auto; margin-right: auto"></span>
                    </div>
                </td>
                <td>
                    <div class="survey-answer-radio-text">
                        <input type="radio" name="q4-18" onchange="handleInputChange(this.name, this.value)" value="2"> <span class="helping-el" style="margin-left: auto; margin-right: auto"></span>
                    </div>
                </td>
                <td>
                    <div class="survey-answer-radio-text">
                        <input type="radio" name="q4-18" onchange="handleInputChange(this.name, this.value)" value="3"> <span class="helping-el" style="margin-left: auto; margin-right: auto"></span>
                    </div>
                </td>
            </tr>
            <tr class="table-spacer"></tr>
            <tr class="survey-subanswer">
                <td>
                    <div class="survey-subquestion-text">
                        &{'q4-19'}
                    </div>
                </td>
                <td>
                    <div class="survey-answer-radio-text">
                        <input type="radio" name="q4-19" onchange="handleInputChange(this.name, this.value)" value="0"> <span class="helping-el" style="margin-left: auto; margin-right: auto"></span>
                    </div>
                </td>
                <td>
                    <div class="survey-answer-radio-text">
                        <input type="radio" name="q4-19" onchange="handleInputChange(this.name, this.value)" value="1"> <span class="helping-el" style="margin-left: auto; margin-right: auto"></span>
                    </div>
                </td>
                <td>
                    <div class="survey-answer-radio-text">
                        <input type="radio" name="q4-19" onchange="handleInputChange(this.name, this.value)" value="2"> <span class="helping-el" style="margin-left: auto; margin-right: auto"></span>
                    </div>
                </td>
                <td>
                    <div class="survey-answer-radio-text">
                        <input type="radio" name="q4-19" onchange="handleInputChange(this.name, this.value)" value="3"> <span class="helping-el" style="margin-left: auto; margin-right: auto"></span>
                    </div>
                </td>
            </tr>
            <tr class="table-spacer"></tr>
            <tr class="survey-subanswer">
                <td>
                    <div class="survey-subquestion-text">
                        &{'q4-20'}
                    </div>
                </td>
                <td>
                    <div class="survey-answer-radio-text">
                        <input type="radio" name="q4-20" onchange="handleInputChange(this.name, this.value)" value="0"> <span class="helping-el" style="margin-left: auto; margin-right: auto"></span>
                    </div>
                </td>
                <td>
                    <div class="survey-answer-radio-text">
                        <input type="radio" name="q4-20" onchange="handleInputChange(this.name, this.value)" value="1"> <span class="helping-el" style="margin-left: auto; margin-right: auto"></span>
                    </div>
                </td>
                <td>
                    <div class="survey-answer-radio-text">
                        <input type="radio" name="q4-20" onchange="handleInputChange(this.name, this.value)" value="2"> <span class="helping-el" style="margin-left: auto; margin-right: auto"></span>
                    </div>
                </td>
                <td>
                    <div class="survey-answer-radio-text">
                        <input type="radio" name="q4-20" onchange="handleInputChange(this.name, this.value)" value="3"> <span class="helping-el" style="margin-left: auto; margin-right: auto"></span>
                    </div>
                </td>
            </tr>
            <tr class="table-spacer"></tr>
            <tr class="survey-subanswer">
                <td>
                    <div class="survey-subquestion-text">
                        &{'q4-21'}
                    </div>
                </td>
                <td>
                    <div class="survey-answer-radio-text">
                        <input type="radio" name="q4-21" onchange="handleInputChange(this.name, this.value)" value="0"> <span class="helping-el" style="margin-left: auto; margin-right: auto"></span>
                    </div>
                </td>
                <td>
                    <div class="survey-answer-radio-text">
                        <input type="radio" name="q4-21" onchange="handleInputChange(this.name, this.value)" value="1"> <span class="helping-el" style="margin-left: auto; margin-right: auto"></span>
                    </div>
                </td>
                <td>
                    <div class="survey-answer-radio-text">
                        <input type="radio" name="q4-21" onchange="handleInputChange(this.name, this.value)" value="2"> <span class="helping-el" style="margin-left: auto; margin-right: auto"></span>
                    </div>
                </td>
                <td>
                    <div class="survey-answer-radio-text">
                        <input type="radio" name="q4-21" onchange="handleInputChange(this.name, this.value)" value="3"> <span class="helping-el" style="margin-left: auto; margin-right: auto"></span>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <button class="survey-answer-submit">&{'survey.next'}</button> <button class="survey-answer-interrupt">&{'survey.stop'}</button>
</div>