<div class="survey-question" id="q5">
    <div class="survey-question-text no-margin-bottom text-small">#{verbatim}&{'q5'}#{/verbatim}</div>
    <div class="survey-answer">
        <table class="survey-test-table" id="q5-table">
            <thead>
                <tr>
                    <th></th>
                    <th>&{'q5.1'}</th>
                    <th>&{'q5.2'}</th>
                    <th>&{'q5.3'}</th>
                    <th>&{'q5.4'}</th>
                    <th>&{'q5.5'}</th>
                    <th>&{'q5.6'}</th>
                </tr>
            </thead>
            <tbody>
            <tr class="survey-subanswer">
                <td>
                    <div class="survey-subquestion-text">
                        &{'q5-1'}
                    </div>
                </td>
                <td>
                    <div class="survey-answer-radio-text">
                        <input type="radio" name="q5-1" onchange="handleInputChange(this.name, this.value)" value="0"> <span class="helping-el" style="margin-left: auto; margin-right: auto"></span>
                    </div>
                </td>
                <td>
                    <div class="survey-answer-radio-text">
                        <input type="radio" name="q5-1" onchange="handleInputChange(this.name, this.value)" value="1"> <span class="helping-el" style="margin-left: auto; margin-right: auto"></span>
                    </div>
                </td>
                <td>
                    <div class="survey-answer-radio-text">
                        <input type="radio" name="q5-1" onchange="handleInputChange(this.name, this.value)" value="2"> <span class="helping-el" style="margin-left: auto; margin-right: auto"></span>
                    </div>
                </td>
                <td>
                    <div class="survey-answer-radio-text">
                        <input type="radio" name="q5-1" onchange="handleInputChange(this.name, this.value)" value="3"> <span class="helping-el" style="margin-left: auto; margin-right: auto"></span>
                    </div>
                </td>
                <td>
                    <div class="survey-answer-radio-text">
                        <input type="radio" name="q5-1" onchange="handleInputChange(this.name, this.value)" value="4"> <span class="helping-el" style="margin-left: auto; margin-right: auto"></span>
                    </div>
                </td>
                <td>
                    <div class="survey-answer-radio-text">
                        <input type="radio" name="q5-1" onchange="handleInputChange(this.name, this.value)" value="5"> <span class="helping-el" style="margin-left: auto; margin-right: auto"></span>
                    </div>
                </td>
            </tr>
            <tr class="table-spacer"></tr>
            <tr class="survey-subanswer">
                <td>
                    <div class="survey-subquestion-text">
                        &{'q5-2'}
                    </div>
                </td>
                <td>
                    <div class="survey-answer-radio-text">
                        <input type="radio" name="q5-2" onchange="handleInputChange(this.name, this.value)" value="0"> <span class="helping-el" style="margin-left: auto; margin-right: auto"></span>
                    </div>
                </td>
                <td>
                    <div class="survey-answer-radio-text">
                        <input type="radio" name="q5-2" onchange="handleInputChange(this.name, this.value)" value="1"> <span class="helping-el" style="margin-left: auto; margin-right: auto"></span>
                    </div>
                </td>
                <td>
                    <div class="survey-answer-radio-text">
                        <input type="radio" name="q5-2" onchange="handleInputChange(this.name, this.value)" value="2"> <span class="helping-el" style="margin-left: auto; margin-right: auto"></span>
                    </div>
                </td>
                <td>
                    <div class="survey-answer-radio-text">
                        <input type="radio" name="q5-2" onchange="handleInputChange(this.name, this.value)" value="3"> <span class="helping-el" style="margin-left: auto; margin-right: auto"></span>
                    </div>
                </td>
                <td>
                    <div class="survey-answer-radio-text">
                        <input type="radio" name="q5-2" onchange="handleInputChange(this.name, this.value)" value="4"> <span class="helping-el" style="margin-left: auto; margin-right: auto"></span>
                    </div>
                </td>
                <td>
                    <div class="survey-answer-radio-text">
                        <input type="radio" name="q5-2" onchange="handleInputChange(this.name, this.value)" value="5"> <span class="helping-el" style="margin-left: auto; margin-right: auto"></span>
                    </div>
                </td>
            </tr>
            <tr class="table-spacer"></tr>
            <tr class="survey-subanswer">
                <td>
                    <div class="survey-subquestion-text">
                        &{'q5-3'}
                    </div>
                </td>
                <td>
                    <div class="survey-answer-radio-text">
                        <input type="radio" name="q5-3" onchange="handleInputChange(this.name, this.value)" value="0"> <span class="helping-el" style="margin-left: auto; margin-right: auto"></span>
                    </div>
                </td>
                <td>
                    <div class="survey-answer-radio-text">
                        <input type="radio" name="q5-3" onchange="handleInputChange(this.name, this.value)" value="1"> <span class="helping-el" style="margin-left: auto; margin-right: auto"></span>
                    </div>
                </td>
                <td>
                    <div class="survey-answer-radio-text">
                        <input type="radio" name="q5-3" onchange="handleInputChange(this.name, this.value)" value="2"> <span class="helping-el" style="margin-left: auto; margin-right: auto"></span>
                    </div>
                </td>
                <td>
                    <div class="survey-answer-radio-text">
                        <input type="radio" name="q5-3" onchange="handleInputChange(this.name, this.value)" value="3"> <span class="helping-el" style="margin-left: auto; margin-right: auto"></span>
                    </div>
                </td>
                <td>
                    <div class="survey-answer-radio-text">
                        <input type="radio" name="q5-3" onchange="handleInputChange(this.name, this.value)" value="4"> <span class="helping-el" style="margin-left: auto; margin-right: auto"></span>
                    </div>
                </td>
                <td>
                    <div class="survey-answer-radio-text">
                        <input type="radio" name="q5-3" onchange="handleInputChange(this.name, this.value)" value="5"> <span class="helping-el" style="margin-left: auto; margin-right: auto"></span>
                    </div>
                </td>
            </tr>
            <tr class="table-spacer"></tr>
            <tr class="survey-subanswer">
                <td>
                    <div class="survey-subquestion-text">
                        &{'q5-4'}
                    </div>
                </td>
                <td>
                    <div class="survey-answer-radio-text">
                        <input type="radio" name="q5-4" onchange="handleInputChange(this.name, this.value)" value="0"> <span class="helping-el" style="margin-left: auto; margin-right: auto"></span>
                    </div>
                </td>
                <td>
                    <div class="survey-answer-radio-text">
                        <input type="radio" name="q5-4" onchange="handleInputChange(this.name, this.value)" value="1"> <span class="helping-el" style="margin-left: auto; margin-right: auto"></span>
                    </div>
                </td>
                <td>
                    <div class="survey-answer-radio-text">
                        <input type="radio" name="q5-4" onchange="handleInputChange(this.name, this.value)" value="2"> <span class="helping-el" style="margin-left: auto; margin-right: auto"></span>
                    </div>
                </td>
                <td>
                    <div class="survey-answer-radio-text">
                        <input type="radio" name="q5-4" onchange="handleInputChange(this.name, this.value)" value="3"> <span class="helping-el" style="margin-left: auto; margin-right: auto"></span>
                    </div>
                </td>
                <td>
                    <div class="survey-answer-radio-text">
                        <input type="radio" name="q5-4" onchange="handleInputChange(this.name, this.value)" value="4"> <span class="helping-el" style="margin-left: auto; margin-right: auto"></span>
                    </div>
                </td>
                <td>
                    <div class="survey-answer-radio-text">
                        <input type="radio" name="q5-4" onchange="handleInputChange(this.name, this.value)" value="5"> <span class="helping-el" style="margin-left: auto; margin-right: auto"></span>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>

    </div>
    <button class="survey-answer-submit">&{'survey.next'}</button> <button class="survey-answer-interrupt">&{'survey.stop'}</button>
</div>